<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">

      <link rel="stylesheet" href="/stylesheets/profile/index.css">
      <link rel="stylesheet" href="/stylesheets/profile/show.css">
      <link rel="stylesheet" href="/stylesheets/homework/show.css">
      <link rel="stylesheet" href="/stylesheets/homework/tutor-show.css">
      <%if (currentUser) {%>
        <%if (currentUser.darkmode) { %>
          <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <%}%>
      <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      <!-- I'm using my fontawesome kit -->
      <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
      <script src="/javascript/homework/settings.js"></script>
      <script src="/javascript/homework/upvote.js"></script>
      <script src="/javascript/homework/actions.js"></script>
      <script src="/javascript/homework/rating.js"></script>
    <%- include('../partials/analytics') %>
  </head>
  <body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>

<div id="banner" style="background-image: url('<% if (tutor.tutor.bannerFile.display) { %> <%= tutor.tutor.bannerFile.url %> <% } else { %> <%= tutor.tutor.bannerUrl.url %> <% } %>');"></div>

<div class="container mb-5 tutor-info">
    <a href="../../profiles/<%= tutor.tutor._id %>"><img src="<% if (tutor.tutor.mediaFile.display) {%> <%= tutor.tutor.mediaFile.url%><%} else {%> <%=tutor.tutor.imageUrl.url%><%}%>" alt="profile image"
                                                         class="profile-image"></a>
    <a href="../../profiles/<%= student.student._id %>"><img src="<% if (student.student.mediaFile.display) {%> <%= student.student.mediaFile.url%><%} else {%> <%=student.student.imageUrl.url%><%}%>" alt="profile image"
                                                     class="profile-image"></a>
    <h1 class="username mode"><%= student.student.firstName %>'s Lessons
        with <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %></h1>
</div>

<div class="container mt-5">
    <% if (student.lessons.length > 0) { %>
        <ul id="lesson-info-<%= student.student._id %>" class="list-group">
            <li class="list-group-item list-group-item-success status-header darkmode-outline">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1 darkmode-header"><%= student.lessons.length %> Lessons ($<span id="cost"><%=cost%></span> Owed)</h2>
                    <p id="time-count" class="darkmode-header"><%=time%> minutes</p>
                </div>
            </li>

            <% let lesson;%>
            <% for (let i = student.lessons.length-1; i >= 0; i--) { %>
                <% lesson = student.lessons[i];%>
                <li class="list-group-item list-group-item-action tutor-profile menu-item cafe">
                    <span class="lesson-info"><%= lesson.date %> | <%= lesson.time %> minute(s)</span><br/>
                    <p>
                        <%= lesson.summary %>
                    </p>

                    <% if (student.student._id.equals(currentUser._id)) { %>
                        <% if (lesson.approved) { %>
                            <button onclick="approve(this)" id="<%=course._id%>-<%=tutor.tutor._id%>-<%=i%>" class="btn btn-danger" style="float: right;">Reject Lesson</button>
                        <% } else {%>
                            <button onclick="approve(this)" id="<%=course._id%>-<%=tutor.tutor._id%>-<%=i%>" class="btn btn-success" style="float: right;">Approve Lesson</button>
                        <% } %>
                    <% } else { %>
                        <% if (lesson.approved) { %>
                            <span style="font-weight: bold; color: green;">Lesson Approved</span>
                        <% } else { %>
                            <span style="font-weight: bold; color: red;">Lesson Has Not Been Approved</span>
                        <% } %>
                    <% } %>

                    <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                        <% if (lesson.paid) { %>
                            <button onclick="markPayment(this)" id="<%=course._id%>-<%=student.student._id%>-<%=i%>" class="btn btn-danger" style="float: right;">Cancel Payment</button>
                        <% } else {%>
                            <button onclick="markPayment(this)" id="<%=course._id%>-<%=student.student._id%>-<%=i%>" class="btn btn-success" style="float: right;">Accept Payment</button>
                        <% } %>
                    <% } else { %>
                        <br>
                        <% if (lesson.paid) { %>
                            <span style="font-weight: bold; color: green;">Lesson Paid</span>
                        <% } else { %>
                            <span style="font-weight: bold; color: red;">Lesson Has Not Been Paid For</span>
                        <% } %>
                    <% } %>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <h1 id="no-lessons">No Lessons ($0.00)</h1>
    <% } %>
</div>
</body>
<script>
    document.getElementById("time-count").innerText = getTime(document.getElementById("time-count").innerText.split(' ')[0]);
</script>
</html>
