<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/homework/show.css">
    <link rel="stylesheet" href="/stylesheets/cafe/menu.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="/javascript/homework/settings.js"></script>
    <script src="/javascript/homework/upvote.js"></script>
    <script src="/javascript/homework/rating.js"></script>
    <script src="/javascript/homework/actions.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>

  </head>
  <body>

    <div class="container mt-5">
      <div class="header-section">
        <div class="row">
          <div class="col-12">
            <div class="jumbotron text-center" id="course-thumbnail" style="background-image: url('<%=course.thumbnail%>');">
              <h1 id="courseName"><%=course.name%></h1>
              <p id="courseDescription"><%=course.description%></p>
              <a id="back-button" class="btn btn-primary" href="/homework"><i class="fas fa-arrow-left"></i> Back</a>

              <% if (studentIds.includes(currentUser._id.toString()) || tutorIds.includes(currentUser._id.toString())) { %>
                <form <%if (studentIds.includes(currentUser._id.toString())) {%> action="/homework/unenroll-student/<%=course._id%>" <% } else { %>action= "/homework/unenroll-tutor/<%=course._id%>" <% } %>method="post" id="unenroll-form">
                  <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal-<%=course._id%>"><i class="fas fa-minus"></i> Unenroll</button>
                  <div class="modal fade" id="modal-<%=course._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Unenroll from <%=course.name%>?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          You will have to be given the join code again to join back.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                          <button type="submit" class="btn btn-danger">Yes, Unenroll</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>

        <ul class="nav justify-content-center options-bar">
          <li class="nav-item tab-header tab" id="people" onclick="changeTab(this)">
            <a class="nav-link active" >People</a>
          </li>

          <li class="nav-item tab-header tab" id="tutors" onclick="changeTab(this)">
            <a class="nav-link">Tutors</a>
          </li>

          <% if (course.teacher._id.equals(currentUser._id)) { %>
            <li class="nav-item tab-header tab" id="settings" onclick="changeTab(this)">
              <a class="nav-link">Settings</a>
            </li>

            <li class="nav-item tab-header tab" id="blocked" onclick="changeTab(this)">
              <a class="nav-link">Blocked</a>
            </li>
          <% } %>
        </ul>

      <div class="row people"><br />
        <div class="col-12">

          <ul class="list-group">
            <li class="list-group-item list-group-item-success">Teacher</li>
            <li class="list-group-item">
              <a href="/profiles/<%=course.teacher._id%>" class="user-element-text">
                <img class="profile-image" src="<%= course.teacher.imageUrl %>" alt="profile picture">
                <span class="username <%=course.teacher.status%> <%=course.teacher.permission%> <%=course.teacher.tags.join(' ')%>"><span class="enrolled-name"><%=course.teacher.firstName%> <%=course.teacher.lastName%></span> <span class="enrolled-username"><%=course.teacher.username%></span></span>
              </a>
            </li>
          </ul>
          <br />

          <% if (course.students.length > 0) { %>
            <ul class="list-group" id="students">
              <li class="list-group-item list-group-item-success" id="students-heading">Students</li>
              <% for (let student of course.students) { %>
                <li class="list-group-item" id="item-<%=student._id%>">
                  <a href="../profiles/<%=student._id%>"class="user-element-text">
                    <img class="profile-image" src="<%= student.imageUrl %>" alt="profile picture">
                    <span class="username <%=student.status%> <%=student.permission%> <%=student.tags.join(' ')%>"><span class="enrolled-name"><%=student.firstName%> <%=student.lastName%></span> <span class="enrolled-username"><%=student.username%></span></span>
                  </a>
                  <% if (course.teacher._id.equals(currentUser._id)) { %>
                    <button class="btn btn-danger leave-button" id="remove-button-<%=student._id%>" data-toggle="modal" data-target="#modal-index-remove-<%=student._id%>">Remove Student</button>
                  <% } %>
                </li>

                <div class="modal fade" id="modal-index-remove-<%=student._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove <%=student.firstName%> <%=student.lastName%> From Your Course?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <textarea rows="5" class="form-control" id="reason-<%=student._id%>" name="review" placeholder="Please explain why you wish to remove <%=student.firstName%>."></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=student._id%>" onclick="removeStudent(this, 'show')">Yes, Remove Student</button>
                      </div>
                    </div>
                  </div>
                </div>

              <% } %>
            </ul>
          <br />
          <% } %>

          <% if (course.tutors.length > 0) { %>
            <ul class="list-group" id="tutor-index">
              <li class="list-group-item list-group-item-success" id="tutor-heading-index">Tutors</li>
              <% for (let tutor of course.tutors) { %>
                <li class="list-group-item list-group-item-action tutor-profile menu-item" id="item-<%=tutor.tutor._id%>">
                  <a href="/homework/tutors/<%=course._id%>?tutorId=<%=tutor.tutor._id%>" class="user-element-text">
                    <img class="profile-image" src="<%= tutor.tutor.imageUrl %>" alt="profile picture">
                    <span class="username <%=tutor.tutor.status%> <%=tutor.tutor.permission%> <%=tutor.tutor.tags.join(' ')%>"><span class="enrolled-name"><%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%></span> <span class="enrolled-username"><%=tutor.tutor.username%></span></span>
                  </a>
                  <% if (course.teacher._id.equals(currentUser._id)) { %>
                    <button class="btn btn-danger leave-button" id="remove-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-index-remove-<%=tutor.tutor._id%>">Remove Tutor</button>
                  <% } %>
                </li>

                <div class="modal fade" id="modal-index-remove-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%> From Your Course?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <textarea rows="5" class="form-control" id="reason-<%=tutor.tutor._id%>" name="review" placeholder="Please explain why you wish to remove <%=tutor.tutor.firstName%>."></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="removeTutor(this, 'show')">Yes, Remove Tutor</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>

      <div class="row tutors" hidden><br />
        <div class="col-12">

          <% if (course.tutors.length > 0) { %>
            <ul class="list-group" id="tutor-div">
              <li class="list-group-item list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <span class="mb-1">Tutors</span>
                </div>
              </li>

              <% for (let tutor of course.tutors) { %>
                  <li class="list-group-item list-group-item-action tutor-profile menu-item" id="tutor-<%=tutor.tutor._id%>">
                    <a href="/homework/tutors/<%=course._id%>?tutorId=<%=tutor.tutor._id%>" class="tutor-link">
                      <img class="profile-image" src="<%= tutor.tutor.imageUrl %>" alt="profile picture">
                      <span class="tutor-name <%=tutor.tutor.status%> <%=tutor.tutor.permission%> <%=tutor.tutor.tags.join(' ')%>"><%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%></span>
                    </a>

                      <% if (studentIds.includes(currentUser._id.toString())) { %>
                        <div id="tutor-actions-<%=tutor.tutor._id%>" class="tutor-actions">
                          <% if (tutor.students.includes(currentUser._id) || tutor.formerStudents.includes(currentUser._id)) { %>
                            <button class="btn btn-warning review-button" id="review-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-review-<%=tutor.tutor._id%>">Leave A Review</button>
                            <% if (tutor.students.includes(currentUser._id)) { %>
                              <button class="btn btn-danger leave-button" id="leave-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-stop-<%=tutor.tutor._id%>">Stop Lessons</button>
                              <% for (let room of tutor.rooms) { %>
                                <% if (room.student.equals(currentUser._id)) { %>
                                  <a id="chat-button-<%=tutor.tutor._id%>" class="btn btn-success leave-button" href="/chat/<%=room.room._id%>">Chat</a>
                                <% } %>
                              <% } %>
                            <% } else { %>
                              <% if (tutor.available) { %>
                                <button class="btn btn-info book-button" id="book-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-book-<%=tutor.tutor._id%>">Book This Tutor</button>
                              <% } else { %>
                                <span class="unavailable-tutor">Tutor Is Unavailable</span>
                              <% } %>
                            <% }%>
                          <% } else { %>
                            <% if (tutor.available) { %>
                              <button class="btn btn-info book-button" id="book-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-book-<%=tutor.tutor._id%>">Book This Tutor</button>
                            <% } else { %>
                              <span class="unavailable-tutor">Tutor Is Unavailable</span>
                            <% } %>
                          <% }%>
                        </div>
                      <% } else if (course.teacher._id.equals(currentUser._id)){ %>
                        <div id="tutor-actions-<%=tutor.tutor._id%>" class="tutor-actions">
                          <button class="btn btn-danger leave-button" id="remove-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-remove-<%=tutor.tutor._id%>">Remove Tutor</button>
                        </div>
                      <% } %>

                    <div title="Upvotes" class="upvotes" id="upvote-<%=course._id%>-<%=tutor.tutor._id%>" onclick="upvote(this)">
                      <% if (tutor.upvotes.includes(currentUser._id)) { %>
                        <span class="upvoted"><i class="fas fa-arrow-circle-up"></i></span>
                      <% } else { %>
                        <span class="not-upvoted"><i class="fas fa-arrow-circle-up"></i></span>
                      <% }%>
                      <span id="upvoteCount-<%=course._id%>-<%=tutor.tutor._id%>"> <%=tutor.upvotes.length%></span>
                    </div>

                    <div title="Ratings" class="ratings">
                      <% let averageRating = 0; %>
                      <% for (let review of tutor.reviews) { %>
                        <% averageRating += review.rating; %>
                      <% } %>
                      <% averageRating = Math.round(averageRating/tutor.reviews.length);%>

                      <% for (let i = 0; i < 5; i+=1) { %>
                        <i id="<%=i+1%>"
                        <% if (i+1 <= averageRating) { %>
                          class="fas fa-star average-rating-<%=tutor.tutor._id%> average-rating-selected"
                        <%} else { %>
                          class="fas fa-star average-rating-<%=tutor.tutor._id%>"
                        <%}%>
                        ></i>
                      <% } %>
                    </div>

                    <a href="/homework/tutors/<%=course._id%>?tutorId=<%=tutor.tutor._id%>" class="reviews-length"><i class="fas fa-comment-dots reviews-icon"></i> <span id="reviews-length-<%=tutor.tutor._id%>"><%=tutor.reviews.length%></span> Review(s)</a>

                    <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                      <% if (tutor.available) { %>
                        <button class="btn btn-danger close-lessons lesson-action" id="close-<%=course._id%>-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-close-<%=tutor.tutor._id%>">Prevent Further Bookings</button>
                      <% } else { %>
                        <button class="btn btn-success reopen-lessons lesson-action" id="reopen-<%=course._id%>-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-reopen-<%=tutor.tutor._id%>">Reopen Lessons</button>
                      <% } %>
                    <% } %>

                      <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                        <br />
                        <label for="slots" id="slots-label"><span id="slots-heading">Number of Student Slots:</span> <span id="slots-count"><%=tutor.slots + tutor.students.length%></span></label>
                        <span id="change-message" hidden></span>
                        <br />
                        <input type="range" min="<%=tutor.students.length%>" max="<%=tutor.slots+tutor.students.length+10%>" value="<%=tutor.slots+tutor.students.length%>" class="slider" id="slots" name="slots" onchange="setStudentsShow('<%=course._id%>')">
                      <% } %>

                    <p class="tutor-bio"><%=tutor.bio%></p>
                  </li>

                <div class="modal fade" id="modal-book-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Book lessons with <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%>?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        You will be able to schedule meeting times and work with <%=tutor.tutor.firstName%> on your classwork.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                        <button type="button" class="btn btn-info" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="book(this, 'show')">Yes, Book Lessons</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="modal-review-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Review <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%>?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <% for (let i = 0; i < 5; i += 1) { %>
                          <i class="fas fa-star star-<%=tutor.tutor._id%>" onclick="rate(this, '<%=tutor.tutor._id%>')" id="<%=i+1%>" name="star" value="<%=i+1%>"></i>
                        <% } %>
                        <span id="rating-label">Rate <%=tutor.tutor.firstName%> out of 5</span><br />

                        <textarea rows="5" class="form-control review" id="review-<%=tutor.tutor._id%>" name="review" placeholder="Write a few sentences about your experience with <%=tutor.tutor.firstName%>"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-primary" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="submitRating(this, 'show')">Submit Review</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="modal-stop-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Stop lessons with <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%>?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        You may not be able to guarantee a slot with <%=tutor.tutor.firstName%> immediately.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="leave(this, 'show')">Yes, Stop Lessons</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="modal-close-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Close all new lesson bookings?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        No new students will be able to sign up with you until you reopen availability.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="closeLessons(this, 'show')">Yes, Close Lessons</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="modal-reopen-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reopen lesson bookings?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        New students will be able to sign up with you until you until you close availability.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                        <button type="button" class="btn btn-success" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="reopenLessons(this, 'show')">Yes, Reopen Lessons</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="modal-remove-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%> From Your Course?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <textarea rows="5" class="form-control" id="reason-<%=tutor.tutor._id%>" name="review" placeholder="Please explain why you wish to remove <%=tutor.tutor.firstName%>."></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="removeTutor(this, 'show')">Yes, Remove Tutor</button>
                      </div>
                    </div>
                  </div>
                </div>

              <% } %>
            </ul>
          <% } %>

        </div>
      </div>

      <% if (course.teacher._id.equals(currentUser._id)) { %>
        <div class="row settings" hidden><br />
          <div class="col-12">
            <h4>Course Settings</h4>
            <div class="form-group">
                <span id="join-code-heading">Join Code:</span> <span id="joinCode"><%=course.joinCode%></span>
                <button class="badge badge-pill badge-info" id="change-join-code" onclick="changeJoinCode('<%=course._id%>', event)">Change</button>
            </div>
            <span id="loading"></span>

            <form id="update-settings" onsubmit="updateSettings('<%=course._id%>', event)">
              <div class="form-group">
                  <label for="newName">Name</label>
                  <input id="newName" class="form-control" type="text" name="newName" value="<%= course.name %>" placeholder="Enter Course Name" oninput="changeName(this)" required>
              </div>
              <div class="form-group">
                  <label for="descInput">Description</label>
                  <% if(course.description){ %>
                      <textarea id="descInput" class="form-control" name="description" placeholder="Enter Course Description" rows="5" oninput="changeInfo(this)"><%= course.description %></textarea>
                  <% } else { %>
                      <textarea id="descInput" class="form-control" name="description" placeholder="Enter Course Description" rows="5" oninput="changeInfo(this)" aria-describedby="descHelp"></textarea>
                  <% } %>
              </div>
              <div class="form-group">
                  <label for="thumbnail-input">Thumbnail Image Url</label><br />
                  <input id="thumbnail-input" class="form-control" type="text" oninput="changeThumbnail(this)" name="thumbnailUrl" value="<%= course.thumbnail %>" placeholder="Enter Thumbnail Url">
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm Changes</button><br />
            </form>

            <br />
            <form id="update-teacher" action="/homework/updateTeacher/<%=course._id%>?_method=put" method="post">
              <h4>Change Teacher</h4>
              <div class="form-group">
                <select class="form-control" name="teacher" >
                  <% for (let teacher of teachers) { %>
                    <option value="<%=teacher._id%>"><%=teacher.firstName%> <%=teacher.lastName%> (<%=teacher.username%>)</option>
                  <% } %>
                </select>
              </div>
              <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#modal-change-teacher">Confirm New Teacher</button><br />

              <div class="modal fade" id="modal-change-teacher" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Teacher?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        You will be unable to rejoin this course as a teacher until the new teacher gives you permission.
                      </p>
                      <input type="text" name="joinCodeConfirm" class="form-control" placeholder="Enter Course Join Code To Confirm" id="join-code-confirm"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                      <button type="submit" class="btn btn-primary">Yes, Change</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#modal-delete">Delete Course</button><br />
            <form action="/homework/<%=course._id%>?_method=delete" method="post">
              <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete "<%=course.name%>"?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        This action is irreversible. All data on tutors and students will be lost. Are you sure you want to delete this course?
                      </p>
                      <input type="text" name="joinCode" class="form-control" placeholder="Enter Course Join Code To Confirm" id="join-code-confirm"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                      <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>

        <div class="row blocked" hidden>
          <div class="col-12" id="blocked-column">
            <% if (course.blocked.length > 0) { %>
              <ul class="list-group" id="blocked-div">
                <li class="list-group-item list-group-item-success">Blocked</li>
                <% for (let b of course.blocked) { %>
                  <li class="list-group-item" id="item-<%=b._id%>">
                    <a href="../profiles/<%=b._id%>"class="user-element-text">
                      <img class="profile-image" src="<%=b.imageUrl %>" alt="profile picture">
                      <span class="username <%=b.status%> <%=b.permission%> <%=b.tags.join(' ')%>"><span class="enrolled-name"><%=b.firstName%> <%=b.lastName%></span> <span class="enrolled-username"><%=b.username%></span></span>
                    </a>
                    <button class="btn btn-danger leave-button" id="unblock-button-<%=b._id%>" data-toggle="modal" data-target="#modal-index-unblock-<%=b._id%>">Unblock</button>
                  </li>

                  <div class="modal fade" id="modal-index-unblock-<%=b._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Unblock <%=b.firstName%> <%=b.lastName%> From Your Course?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>
                            <%=b.firstName%> will be able to rejoin the course with the join code.
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                          <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=b._id%>" onclick="unblock(this)">Yes, Unblock</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <% } %>
              </ul>
            <br />
            <% } %>
          </div>
        </div>
      <% } %>
    </div>

  </body>
</html>
