<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/announcement.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/chat/edit.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <script defer src="/javascript/chat/edit.js"></script>
  </head>
  <body>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    <div class="container mt-5">
      <div class="row">
          <div class="col-12">
              <h1 style="text-align: center; width: 100%" class="title">Edit <span><%= room.name %></span></h1>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 col-12">

          <form action="/chat/<%= room._id %>?_method=put" method="post">

            <div class="form-group">
              <label for="usernameInput">Name</label>
              <input id="usernameInput" class="form-control" type="text" name="name" value="<%= room.name %>" placeholder="(max 45) Enter Room Name" maxlength="45" required>
            </div>
            <div class="form-group">
              <label for="descInput">Description</label>
              <textarea id="descInput" class="form-control" name="description" placeholder="(max 300) Enter room description" maxlength="300" rows="5"><%= room.description %></textarea>
            </div>
            <div class="form-check mb-3">
              <input name="moderate" id="moderate" type="checkbox" class="form-check-input" value="false"
              <% if (!room.moderate) { %>
               checked
              <% } %>
              >
              <label for="moderate" class="form-check-label">Disable moderation and reporting comments (enabled if left blank)</label>
            </div>
            <div class="form-check mb-3">
              <input name="type" id="roomType" type="checkbox" onclick="updateDisplay()" class="form-check-input" value="true"
              <% if (room.type == 'private') { %>
                checked
              <% } %>
              >
              <label for="roomType" class="form-check-label">Private (public if left blank)</label>
            </div>

            <div id="remove-block" style="display: none;">
              <h4>Remove Members</h4>
              <div class="search-filter mb-3">
                  <i class="fas fa-search"></i>
                  <input id="remove-search-input" onkeyup="searchFunction('remove')" class="form-control  search-input" type="text" placeholder="Search..." title="Type in Username">
              </div>
              <div id="remove-user-list" class="user-list">
                  <% users.forEach(function(user) { %>
                      <% if (!(user._id.equals(currentUser._id)) && room.members.includes(user._id)) { %>
                          <div class="form-check">
                              <input name="checkRemove[<%= user._id %>]" id="<%= user._id %>" class="form-check-input" type="checkbox" value="">
                              <label class="form-check-label" for="<%= user._id %>"><%= user.username %> (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>.)</label>
                          </div>
                      <% } %>
                  <% }); %>
              </div>
            </div>

            <div id="add-block" style="display: none;">
              <h4>Add Members</h4>
              <div class="search-filter mb-3">
                  <i class="fas fa-search"></i>
                  <input id="add-search-input" onkeyup="searchFunction('add')" class="form-control  search-input" type="text" placeholder="Search..." title="Type in Username">
              </div>
              <div id="add-user-list" class="user-list">
                  <% users.forEach(function(user) { %>
                      <% if (!(user._id.equals(currentUser._id)) && !(room.members.includes(user._id))) { %>
                          <div class="form-check">
                              <input name="checkAdd[<%= user._id %>]" id="<%= user._id %>" class="form-check-input" type="checkbox" value="">
                              <label class="form-check-label" for="<%= user._id %>"><%= user.username %> (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>.)</label>
                          </div>
                      <% } %>
                  <% }); %>
              </div>
            </div>
            <button id="submit-button" class="btn btn-lg btn-success btn-block">Submit</button>

          </form>
          <div class="container mt-2"></div>
          <!-- delete button and form with bootstrap modal -->
          <form action="/chat/<%= room._id %>/delete?_method=delete" method="post" id="delete-form">
            <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#deleteModal" id="delete-button">Delete this room</button>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete <%= room.name %>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    You will not be able to change your mind.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No thanks</button>
                    <button type="submit" class="btn btn-danger">Delete it!</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <a style="display: block; margin-top: 1rem; margin-bottom: 5rem;" href="/chat/<%= room._id %>">Go Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
