<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/chat/edit.css">
    <link rel="stylesheet" href="/stylesheets/profiles/edit.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/profiles/dark-profile.css">
    <%}%>

    <script defer src="/javascript/chat/edit.js"></script>
    <script src="/javascript/profiles/update.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/components/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 new-room">
            <h1 class="title" id="darkmode-header">Edit "<%= room.name %>"</h1>
            <a class="btn btn-primary" href="/chat/<%= room._id %>"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">

            <form action="/chat/<%= room._id %>?_method=put" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="usernameInput">Name</label>
                    <input id="usernameInput" class="form-control mode" type="text" name="name" value="<%= room.name %>"
                           placeholder="(max 45) Enter Room Name" maxlength="45" required>
                </div>
                <div class="form-group">
                    <label for="descInput">Description</label>
                    <textarea id="descInput" class="form-control mode" name="description"
                              placeholder="(max 300) Enter room description" maxlength="300"
                              rows="5"><%= room.description %></textarea>
                </div>
                <div class="form-group mode">
                    <label for="profile-input">Thumbnail URL</label>
                    <input id="profile-input" class="form-control mode" oninput="updateImage(this)" type="text" name="thumbnail" placeholder="Enter URL For Room Image Thumbnail" value="<%=room.thumbnail.url%>">
                    <br><img class="profile-image" id="profile-image" src="<%=room.thumbnail.url%>" alt="Image Does Not Exist"/>
                </div>
                <div class="form-group">
                    <label for="profile-file-input">Thumbnail Image Upload</label><br/>
                    <input type="file" accept="image/png, image/jpg, image/jpeg" name="mediaFile" id="profile-file-input">
                </div><br>
                <div class="form-check mb-3">
                    <input name="showThumbnail" value="url" type="radio" class="form-check-input" id="showThumbnailUrl" <% if (room.thumbnail.display) {%>checked<%}%>>
                    <label for="showThumbnailUrl" class="form-check-label">Display Thumbnail URL</label><br>
                    <input name="showThumbnail" value="upload" type="radio" class="form-check-input" id="showThumbnailFile" <% if (room.thumbnailFile.display) {%>checked<%}%>>
                    <label for="showThumbnailFile" class="form-check-label">Display Thumbnail File</label><br>
                    <input name="showThumbnail" value="none" type="radio" class="form-check-input" id="showThumbnailNone" <% if (!(room.thumbnail.display || room.thumbnailFile.display)) {%>checked<%}%>>
                    <label for="showThumbnailNone" class="form-check-label">Display Neither</label><br><br>
                    <% if (room.thumbnailFile && room.thumbnailFile.filename) { %>
                        <img class="profile-image" src="<%= room.thumbnailFile.url%>" alt="Image Does Not Exist"/>
                    <% } %>
                </div>
                <div class="form-check mb-3">
                    <input name="moderate" id="moderate" type="checkbox" class="form-check-input" value="false"
                    <% if (!room.moderate) { %>checked<% } %>>
                    <label for="moderate" class="form-check-label">Disable moderation and reporting comments (enabled if
                        left blank)</label>
                </div>
                <div class="form-check mb-3">
                    <input name="type" id="roomType" type="checkbox" onclick="updateDisplay()" class="form-check-input"
                           value="true"
                    <% if (room.private) { %>
                           checked
                            <% } %>
                    >
                    <label for="roomType" class="form-check-label">Private (public if left blank)</label>
                </div>

                <div id="remove-block">
                    <h4>Remove Members</h4>
                    <div class="search-filter mb-3 mode">
                        <i class="fas fa-search"></i>
                        <input id="remove-search-input" oninput="searchFunction('remove')"
                               class="form-control mode search-input" type="text" placeholder="Search..."
                               title="Type in Username">
                    </div>
                    <div id="remove-user-list" class="user-list">
                        <% users.forEach(user => { %>
                            <% if (!(user._id.equals(currentUser._id)) && room.members.includes(user._id)) { %>
                                <div class="form-check">
                                    <input name="checkRemove[<%= user._id %>]" id="<%= user._id %>"
                                           class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="<%= user._id %>"><%= user.username %>
                                        (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>.)</label>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>

                <div id="add-block">
                    <h4>Add Members</h4>
                    <div class="search-filter mb-3" mode>
                        <i class="fas fa-search"></i>
                        <input id="add-search-input" oninput="searchFunction('add')" class="form-control mode search-input"
                               type="text" placeholder="Search..." title="Type in Username">
                    </div>
                    <div id="add-user-list" class="user-list">
                        <% users.forEach(user => { %>
                            <% if (!(user._id.equals(currentUser._id)) && !(room.members.includes(user._id))) { %>
                                <div class="form-check">
                                    <input name="checkAdd[<%= user._id %>]" id="<%= user._id %>"
                                           class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="<%= user._id %>"><%= user.username %>
                                        (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>.)</label>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <button id="submit-button" class="btn btn-lg btn-success btn-block">Submit</button>

          </form>
          <div class="container mt-2"></div>
          <!-- delete button and form with bootstrap modal -->
          <form action="/chat/<%= room._id %>?_method=delete" method="post" id="delete-form">
            <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#deleteModal" id="delete-button">Delete this room</button>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content mode">
                  <div class="modal-header mode">
                    <h5 class="modal-title" id="exampleModalLabel">Delete <%= room.name %>?</h5>
                    <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mode">
                    You will not be able to change your mind.
                  </div>
                  <div class="modal-footer mode">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                    <button type="submit" class="btn btn-danger">Yes, Delete Room</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
</div>
</body>
<script>
    document.getElementById("remove-search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
    document.getElementById("add-search-input").style.backgroundColor = colorScheme[colorScheme.length-1];

    for (let element of document.getElementsByClassName("shop")) {
        element.style.backgroundColor = colorScheme[1];
    }
</script>
</html>
