<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/chat/edit.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>

    <div class="container mt-5">
      <div class="row">
          <div class="col-12">
              <h1 style="text-align: center; width: 100%" class="title">Edit <span><%= room.name %></span></h1>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 col-12">

          <form action="/chat/<%= room._id %>/edit?_method=put" method="post">

            <div class="form-group">
              <label for="usernameInput">Name</label>
              <input id="usernameInput" class="form-control" type="text" name="room[name]" value="<%= room.name %>" placeholder="Enter Room Name" required>
            </div>
            <div class="form-group">
              <label for="descInput">Description</label>
              <input id="descInput" class="form-control" type="text" name="room[description]" value="<%= room.description %>" placeholder="Enter room description">
            </div>

            <div id="remove-block">
              <h4>Remove Members</h4>
              <div class="search-filter mb-3">
                  <i class="fas fa-search"></i>
                  <input id="remove-search-input" onkeyup="searchFunction('remove')" class="form-control  search-input" type="text" placeholder="Search..." title="Type in Username">
              </div>
              <div id="remove-user-list" class="user-list">
                  <% users.forEach(function(user) { %>
                      <% if (!(user._id.equals(currentUser._id)) && room.members.includes(user._id)) { %>
                          <div class="form-check">
                              <input name="checkRemove[<%= user._id %>]" id="<%= user._id %>" class="form-check-input" type="checkbox" value="">
                              <label class="form-check-label" for="<%= user._id %>"><%= user.username %></label>
                          </div>
                      <% } %>
                  <% }); %>
              </div>
            </div>

            <div id="add-block">
              <h4>Add Members</h4>
              <div class="search-filter mb-3">
                  <i class="fas fa-search"></i>
                  <input id="add-search-input" onkeyup="searchFunction('add')" class="form-control  search-input" type="text" placeholder="Search..." title="Type in Username">
              </div>
              <div id="add-user-list" class="user-list">
                  <% users.forEach(function(user) { %>
                      <% if (!(user._id.equals(currentUser._id)) && !(room.members.includes(user._id))) { %>
                          <div class="form-check">
                              <input name="checkAdd[<%= user._id %>]" id="<%= user._id %>" class="form-check-input" type="checkbox" value="">
                              <label class="form-check-label" for="<%= user._id %>"><%= user.username %></label>
                          </div>
                      <% } %>
                  <% }); %>
              </div>
            </div>
            <button id="submit-button" class="btn btn-lg btn-success btn-block">Submit</button>

          </form>
          <div class="container mt-2"></div>
          <form action="/chat/<%= room._id %>/delete?_method=delete" method="post" id="delete-form">
            <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#deleteModal" id="delete-button">Delete this room</button>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete <%= room.name %>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    You will not be able to change your mind.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No thanks</button>
                    <button type="submit" class="btn btn-danger">Delete it!</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <a style="display: block; margin-top: 1rem;" href="/chat/<%= room._id %>">Go Back</a>
        </div>
      </div>
    </div>
    <script>
      const removeCount = document.getElementById('remove-user-list').childElementCount;
      const addCount = document.getElementById('add-user-list').childElementCount;
      if(removeCount == 0) {
        const removeBlock = document.getElementById('remove-block');
        removeBlock.style.display = "none";
      }
      if(addCount == 0) {
        const addBlock = document.getElementById('add-block');
        addBlock.style.display = "none";
      }

      function searchFunction(mode) {
        let input = document.getElementById(mode + "-search-input");
        let filter = input.value.toUpperCase();
        let list = document.getElementById(mode + "-user-list");
        let users = list.getElementsByClassName('form-check');
        for (i = 0; i < users.length; i++) {
          let user = users[i].getElementsByTagName('label')[0];
          let txtValue = user.textContent || user.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            users[i].style.display = "";
          } else {
            users[i].style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>
