<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/chat/edit.css">

    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/chat/request.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/components/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-sign-in-alt"></i> Select a room to join</h1>
                <p>Connect with other members of the <%=platform.name%> community.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <li class="list-group-item list-group-item-info darkmode-outline">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1 darkmode-header"><i class="fas fa-user-friends"></i> Your rooms</h2>
                    <a href="chat/new" id="create-room-button" class="btn btn-info darkmode-header"><i class="fas fa-plus-circle"></i>
                        Create Room</a>
                </div>
                <p class="mb-1 darkmode-header">Rooms you are a member of.</p>
            </li>
            <% if (filteredRooms.joined.length > 0) { %>
                <% for (let room of filteredRooms.joined.reverse()) { %>
                    <a href="chat/<%= room._id %>" class="list-group-item list-group-item-action shop">
                        <% if (room.thumbnailFile.display) { %>
                            <img src="<%=room.thumbnailFile.url%>" alt="Room Thumbnail" class="user-image">
                        <% } else if (room.thumbnail.display && room.thumbnail.url && room.thumbnail.url != '') { %>
                            <img src="<%=room.thumbnail.url%>" alt="Room Thumbnail" class="user-image">
                        <% } else if (commentObject[room._id.toString()]) { %>
                            <img src="<% if (commentObject[room._id.toString()].author.mediaFile.display) {%> <%= commentObject[room._id.toString()].author.mediaFile.url%><%} else {%> <%=commentObject[room._id.toString()].author.imageUrl.url%><%}%>" alt="user"
                                    class="user-image">
                        <% } else if (room.creator) { %>
                            <img src="<% if (room.creator.mediaFile.display) {%> <%= room.creator.mediaFile.url%><%} else {%> <%=room.creator.imageUrl.url%><%}%>" alt="user" class="user-image">
                        <% } %>

                        <% if (currentUser.newRooms.includes(room._id)) { %>
                            <span class="badge badge-danger float-right">New!</span>
                        <% } else { %>
                            <span class="float-right">
                                <% if (commentObject[room._id.toString()]) { %>
                                    <%= commentObject[room._id.toString()].date %>
                                <% } else { %>
                                    <%= room.date %>
                                <% } %>
                            </span>
                        <% } %>

                        <div class="comment-text">
                            <span class="room-name"><%= room.name %></span>
                            <p class="latest-message">
                                <% if (commentObject[room._id.toString()]) { %>
                                    <% if (commentObject[room._id.toString()].text.length <= 100) { %>
                                        <%= commentObject[room._id.toString()].text%>
                                    <% } else { %>
                                        <%= commentObject[room._id.toString()].text.slice(0, 100)%>...
                                    <% } %>
                                <% } else { %>
                                    <span class="room-created">Room Was Created</span>
                                <% } %>
                            </p>
                        </div>
                    </a>
                <% } %>
            <% } %>
        </div>
    </div>
    <br/>
    
    <% if (filteredRooms.private.length > 0) { %>
        <div class="row mb-5">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info darkmode-outline">
                        <div class="d-flex w-100 justify-content-between">
                            <h2 class="mb-1 darkmode-header"><i class="fas fa-door-open"></i> Other rooms to join</h2>
                        </div>
                        <p class="mb-1 darkmode-header">Request access to join new rooms.</p>
                    </li>
                    <% for (let room of filteredRooms.private) { %>
                        <li class="list-group-item list-group-item-action shop">
                            <%= room.name %>
                            <% let roomRequested = false; %>
                            <% for (let request of requests) { %>
                                <% if (request.room.equals(room._id)) { %>
                                    <% roomRequested = true; %>
                                    <% break; %>
                                <% } %>
                            <% } %>

                            <% if (roomRequested) { %>
                                <button class="btn btn-danger btn-sm float-right" id="cancel-<%= room._id %>"
                                        onclick="cancelRequest(this)"><i class="fas fa-window-close"></i> Cancel Request
                                </button>
                        </li>
                        <% } else { %>
                            <button class="btn btn-success btn-sm float-right" id="request-<%= room._id %>"
                                    onclick="request(this)"><i class="fas fa-hand-paper"></i> Request Access
                            </button></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    <% } %>
</div>
</body>
<script>
    if (document.getElementById("search-input")) {
        document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
    }
</script>
</html>
