<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
      <link rel="stylesheet" href="/stylesheets/components/navbar.css">
      <link rel="stylesheet" href="/stylesheets/components/header.css">
      <link rel="stylesheet" href="/stylesheets/chat/new.css">
      <link rel="stylesheet" href="/stylesheets/profiles/edit.css">
      <%if (currentUser) {%>
        <%if (currentUser.darkmode) { %>
          <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <%}%>
      <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      <!-- I'm using my fontawesome kit -->
      <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
      <script src="/javascript/chat/new.js"></script>
      <script src="/javascript/profiles/update.js"></script>
    <%- include('../partials/analytics') %>
  </head>
  <body class="mode">
      <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

      <div class="container mt-5">
          <div class="row">
              <div class="col-12 new-room">
                  <h1 class="new-chat-header">New Chat Room</h1>
                  <a class="btn btn-primary" href="/chat"><i class="fas fa-arrow-left"></i> Back</a>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 offset-md-2 col-12">
                  <form action="/chat" method="post" enctype="multipart/form-data">
                    <div class="form-group mode">
                        <label for="usernameInput">Name</label>
                        <input id="usernameInput" class="form-control mode" type="text" name="name" placeholder="(max 45) Enter Room Name" maxlength="45" required>
                    </div>
                    <div class="form-group mode">
                        <label for="descInput">Description</label>
                        <textarea id="descInput" class="form-control mode" name="description" placeholder="(max 300) Enter a short description about the room" maxlength="300" rows="5"></textarea>
                    </div>
                    <div class="form-group mode">
                        <label for="thumbnailInput">Thumbnail URL</label>
                        <input id="profile-input" class="form-control mode" type="text" oninput="updateImage(this)" name="thumbnail" placeholder="Enter URL For Room Image Thumbnail" value="https://cdn.osxdaily.com/wp-content/uploads/2009/08/defaultdesktop.jpg">
                        <br><img class="profile-image" id="profile-image" alt="Image Does Not Exist" src="https://cdn.osxdaily.com/wp-content/uploads/2009/08/defaultdesktop.jpg"/>
                    </div>
                    <div class="form-group">
                        <label for="profile-input">Thumbnail Image Upload</label><br/>
                        <input type="file" accept="image/png, image/jpg, image/jpeg" name="mediaFile">
                    </div><br>
                    <div class="form-check mb-3">
                        <input name="showThumbnail" value="url" type="radio" class="form-check-input" id="showThumbnailUrl" checked>
                        <label for="showThumbnailUrl" class="form-check-label">Display Thumbnail URL</label><br>
                        <input name="showThumbnail" value="upload" type="radio" class="form-check-input" id="showThumbnailFile">
                        <label for="showThumbnailFile" class="form-check-label">Display Thumbnail File</label><br>
                        <input name="showThumbnail" value="none" type="radio" class="form-check-input" id="showThumbnailNone">
                        <label for="showThumbnailNone" class="form-check-label">Display Neither</label><br><br>
                    </div>
                    <div class="form-check mb-3">
                        <input name="moderate" id="moderate" type="checkbox" class="form-check-input" value="false">
                        <label for="moderate" class="form-check-label">Disable moderation and reporting comments (enabled if left blank)</label>
                    </div>
                    <div class="form-check mb-3">
                        <input name="type" id="roomType" type="checkbox" onclick="updateDisplayNewRoom()" class="form-check-input" value="true">
                        <label for="roomType" class="form-check-label">Private (limited to only specified users)</label>
                    </div>
                    <div id="user-selection">
                        <h4>Select Members</h4>

                    <div class="search-filter mb-3">
                        <i class="fas fa-search"></i>
                        <input id="search-input" oninput="searchFunctionNewRoom()" class="form-control mode" type="text"
                               placeholder="Search..." title="Type in Username">
                    </div>

                    <div id="user-list">
                        <% users.forEach(user => { %>
                            <% if (!(user._id.equals(currentUser._id))) { %>
                                <div class="form-check">
                                    <input name="check[<%= user._id %>]" id="<%= user._id %>" class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="<%= user._id %>"><%= user.username %>
                                        (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>.)</label>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];

    for (let element of document.getElementsByClassName("shop")) {
        element.style.backgroundColor = colorScheme[1];
    }
</script>
</body>
</html>
