<!DOCTYPE html>
<html>
  <head>
      <title>Saberchat</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
      <link rel="stylesheet" href="/stylesheets/components/navbar.css">
      <link rel="stylesheet" href="/stylesheets/chat/new.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      <!-- I'm using my fontawesome kit -->
      <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <!-- include the navbar via ejs -->
      <%- include('../partials/navbar') %>

      <div class="container mt-5">
          <div class="row">
              <div class="col-12">
                  <h1 style="text-align: center; width: 100%">New Chat Room</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 offset-md-2 col-12">
                  <form action="/chat/new" method="post">
                    <div class="form-group">
                        <label for="usernameInput">Name</label>
                        <input id="usernameInput" class="form-control" type="text" name="name" placeholder="(max 45) Enter Room Name" maxlength="45" required>
                    </div>
                    <div class="form-group">
                        <label for="descInput">Description</label>
                        <textarea id="descInput" class="form-control" name="description" placeholder="(max 300) Enter a short description about the room" maxlength="300" rows="5"></textarea>
                    </div>
                    <div class="form-check mb-3">
                        <input name="type" id="roomType" type="checkbox" onclick="updateDisplay()" class="form-check-input" value="true">
                        <label for="roomType" class="form-check-label">Private (limited to only certain users)</label>
                    </div>
                    <div id="user-selection" style="display: none;">
                        <h4>Select Members</h4>

                        <div class="search-filter mb-3">
                            <i class="fas fa-search"></i>
                            <input id="search-input" onkeyup="searchFunction()" class="form-control" type="text" placeholder="Search..." title="Type in Username">
                        </div>

                        <div id="user-list">
                            <% users.forEach(function(user) { %>
                                <% if (!(user._id.equals(currentUser._id))) { %>
                                    <div class="form-check">
                                        <input name="check[<%= user._id %>]" id="<%= user._id %>" class="form-check-input" type="checkbox" value="">
                                        <label class="form-check-label" for="<%= user._id %>"><%= user.username %></label>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </form>
                <a style="display: block; margin-top: 1rem;" href="/chat">Go Back</a>
              </div>
          </div>
      </div>
    <script>
        function updateDisplay() {
            let userSelect = document.getElementById('roomType');
            let display = document.getElementById('user-selection');
            if(userSelect.checked == true) {
                display.style.display = "";
            } else {
                display.style.display = "none";
            }
        }

        function searchFunction() {
            let input = document.getElementById("search-input");
            let filter = input.value.toUpperCase();
            let list = document.getElementById("user-list");
            let users = list.getElementsByClassName('form-check');
            for (i = 0; i < users.length; i++) {
                let user = users[i].getElementsByTagName('label')[0];
                let txtValue = user.textContent || user.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    users[i].style.display = "";
                } else {
                    users[i].style.display = "none";
                }
            }
        }
    </script>
  </body>
</html>
