<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/announcements/form.css">
    <link rel="stylesheet" href="/stylesheets/announcements/edit.css">
<%- include('../partials/headEnd') %>
<body class="mode">
  <%- include('../partials/components/navbar') %>
  <%- include('../partials/components/header') %>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center header">
            <h1><i class="fas fa-cog"></i> <%=data.name%> - Edit Post</h1>
            <a href="/events/<%=event._id%>" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
          <form action="/events/<%= event._id %>?_method=put" method="post" enctype="multipart/form-data">
            <div class="form-group mode">
              <label for="subject">Subject</label>
              <input type="text" class="form-control mode" name="subject" placeholder="A short title..." maxlength="50" required value="<%= event.subject %>">
            </div>
            <div class="form-group mode">
              <label for="message">Message</label>
              <textarea class="form-control mode" name="message" rows="5" placeholder="What it is about..." required><%= event.text %></textarea>
            </div>

            <div class="form-group mode">
              <label for="update-time-input">Date/Deadline</label><br/>
              <select name="month" class="mode" style="width: 30%;">
              <% let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%>
              <% for (let month of months) { %>
                  <option value="<%=months.indexOf(month)%>" <% if (event.deadline.month == months.indexOf(month)) {%> selected <% } %>><%=month%></option>
              <% } %>
              </select>
              <select name="day" class="mode" style="width: 10%;">
              <% for (let i = 1; i <= 31; i++) { %>
                  <option value="<%=i%>" <% if (event.deadline.day == i) {%> selected <% } %>><%=i%></option>
              <% } %>
              </select>
              <select name="year" class="mode" style="width: 10%;">
                <% let year;%>
                <% for (let i = 0; i <= 5; i++) { %>
                    <% year = parseInt((new Date()).toString().split(' ')[3]);%>
                    <option value="<%=year+i%>" <% if (parseInt(event.deadline.year) == year+i) {%> selected <% } %>><%=year+i%></option>
                <% } %>
                </select>
          </div><br>

            <div id="slide-header">
              <button type="button" onclick="addSlide()" class="btn btn-primary"><i class="fas fa-plus"></i> Link</button>
              <br/><br/>
            </div>
            <div id="links">
              <% let reversedSlides = event.links.reverse() %>
              <% for( let i = 0; i < reversedSlides.length; i++ ) { %>
                  <div class="image-group" id="slideblock-<%= reversedSlides.length - (i + 1) %>">
                      <div class="input-container">
                          <input type="text" id="<%= reversedSlides.length - (i + 1) %>" class="form-control"
                                 oninput="createSlide(this)" placeholder="Url..."
                                 name="links[<%= reversedSlides.length - (i + 1) %>]" required
                                 value="<%= reversedSlides[i] %>">
                      </div>
                      <button type="button" style="float: right;" onclick="deleteSlide(this)" class="btn btn-danger">
                          <i class="fas fa-minus"></i>
                      </button>
                  </div>
              <% } %>
          </div>

            <% for (let media of event.mediaFiles) { %>
              <% if(media.filename) { %>
                  <% if ([".png", ".jpg", ".jpeg", ".gif"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                      <img src="<%= media.url %>" alt="attached image" class="img-fluid rounded past-upload">
                  <% } else if ([".mp3", ".m4a"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                      <audio controls>
                          <source src="<%=media.url%>" type="audio/mpeg"></source>
                      </audio>
                  <% } else if (fileExtensions.get(media.url).toLowerCase() == ".mp4") {%>
                      <video width="800px" height="500px" src="<%=media.url%>" type="video/*" controls></video>
                  <% } else if ([".mov", ".heic"].includes(fileExtensions.get(media.url).toLowerCase())) {%>
                      <a href="<%=media.url%>" download><h5><i class="fas fa-paperclip"></i> Download "<%=media.originalName%>"</h5></a>
                  <% } else if (fileExtensions.get(media.url).toLowerCase() == ".pdf") {%>
                      <iframe src="<%=media.url%>" height="300" width="250"></iframe>
                      <a href="<%=media.url%>" target="_blank"><h5>Open "<%=media.originalName%>" In New Tab  </h5></a>
                  <% } %>
                  <div class="form-check">
                      <input type="checkbox" name="deleteUpload-<%=media.url%>" id="deleteUpload-<%=media.url%>" class="form-check-input">
                      <label class="form-check-label" for="deleteUpload-<%=media.url%>">Remove uploaded media</label>
                  </div>
                  <br />
              <% } %>
          <% } %>

          <div id="media-header">
              <button type="button" onclick="upload(<%=event.mediaFiles.length%>)" class="btn btn-primary"><i class="fas fa-plus"></i> File Upload</button>
              <br/><br/>
            </div>
          <div id="uploads"></div>

          <div id="image-header">
              <button type="button" onclick="addImg()" class="btn btn-primary"><i class="fas fa-plus"></i> Image URL</button>
              <br/><br/>
          </div>

          <div id="image-block">
              <% for( let i = 0; i < event.images.length; i++ ) { %>
                  <div class="image-group">
                      <div class="input-container" id="imageblock-<%=i%>">
                          <input type="text" id="<%=i%>" class="form-control"
                                 oninput="createImg(this)" placeholder="Url..."
                                 name="images" required
                                 value="<%=event.images[i]%>">
                          <img id="image-<%=i%>"
                               style="width: 50%; height: 50%; margin-top: 10px; border-radius: 15px;"
                               src="<%= event.images[i] %>" alt="Image Does Not Exist"/>
                      </div>
                      <button type="button" onclick="deleteImg(this)" class="btn btn-danger">
                          <i class="fas fa-minus"></i>
                      </button>
                  </div>
              <% } %>
          </div>

            <button type="submit" class="btn btn-info btn-block">Save Changes</button>
        </form>
    </div>
  </div>
</div>
</div>
<script src="/javascript/slide-url.js"></script>
<script src="/javascript/upload-input.js"></script>
<script src="/javascript/image-url.js"></script>
</body>
</html>
