<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">

    
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/like.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>
<div class="container mt-5 mode">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-<%=data.icon%>"></i> <%=data.name%></h1>
                <p><%=data.description%></p>
                <% if (currentUser.status == platform.teacherStatus) { %>
                    <a href="/modules/new" class="btn btn-primary post-button">
                        <i class="fas fa-plus-circle"></i> Create New Module
                    </a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="search-filter mb-3 search">
        <i class="fas fa-search"></i>
        <input id="search-input" oninput="searchFunction()" class="form-control search" type="text"
               placeholder="Search..." title="Type in module segment"/>
    </div>
    <br/>

    <% modules.forEach(module => { %>

        <div class="row">
            <div class="col-lg-12">
                <article class="text-block color: black" id="<%= module._id %>">
                    <div class="block-header grey">
                        <h5 style="margin-bottom: 20px;">

                            <a class="post-button" href="/modules/<%= module._id %>">
                                <span class="post-subject-header"><%= module.subject %></span>
                                <% if (platform.postVerifiable && !module.verified && platform.permissionsProperty.slice(platform.permissionsProperty.length-3).includes(currentUser.permission)) { %>
                                    <a href="/modules/verify/<%= module._id %>">
                                        <span class="badge badge-pill badge-primary" id="mark">Verify</span>
                                    </a>
                                <% } %>
                            </a>
                            <span class="float-right post-date"><%= module.date %></span>
                        </h5>

                        <div class="bottom-text">
                            <a class="post-sender" href="../profiles/<%= module.sender._id %>">
                                <img src="<% if (module.sender.mediaFile.display) {%> <%= module.sender.mediaFile.url%><%} else {%> <%=module.sender.imageUrl.url%><%}%>" alt="profile pic"
                                        class="sender-profile-image">
                                <%= module.sender.firstName %> <%= module.sender.lastName %>
                            </a>
                            <% if (currentUser._id.toString() == module.sender._id.toString()) { %>
                                <button type="button" class="edit-button btn btn-info"><a
                                            class="post-button"
                                            href="/modules/<%= module._id %>/edit"><i
                                                class="fas fa-cog"></i> Edit</a></button>

                                <form action="/modules/<%= module._id %>?_method=delete" method="post" style="display: inline-block;"
                                        class="delete-module">
                                    <button class="btn btn-danger post-button" type="button"
                                            data-toggle="modal"
                                            data-target="#modal-<%= module._id %>"><i
                                                class="far fa-trash-alt"></i>
                                        Delete
                                    </button>
                                    <div class="modal fade" id="modal-<%= module._id %>" tabindex="-1"
                                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content mode">
                                                <div class="modal-header mode">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete
                                                        Module?</h5>
                                                    <button type="button" class="close mode" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body mode">
                                                    This action is irreversible. You will have to manually recreate
                                                    this
                                                    module.
                                                </div>
                                                <div class="modal-footer mode">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">No,
                                                        Go Back
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Yes, Delete
                                                        Module
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <% } %>

                            <% if (module.likes.includes(currentUser._id)) { %>
                                <span class="liked-button"><i id="like-<%= module._id %>-index"
                                                                onclick="like(this, 'module', 'modules')"
                                                                class="fas fa-thumbs-up"></i></span> <span
                                        class="likeCount-<%= module._id %>"><%= module.likes.length %></span>

                            <% } else { %>
                                <span class="unliked-button"><i id="like-<%= module._id %>-index"
                                                                onclick="like(this, 'module', 'modules')"
                                                                class="fas fa-thumbs-up"></i></span> <span
                                        class="likeCount-<%= module._id %>"><%= module.likes.length %></span>

                            <% } %>
                            <a class="comment-button" href="/modules/<%= module._id %>#comment-section"><i
                                        class="fas fa-comment-dots"></i> <%= module.comments.length %></a>
                        </div>
                    </div>

                    <div class="block-content mode">
                        <% if (module.links.length > 0) { %>
                            <iframe class="post-first-image" src="<%=module.links[0].split('/edit')[0]%>/embed" frameborder="0" width="400" height="240"></iframe>
                        <% } %>

                        <% if (moduleTexts.get(module._id).split(" ").length > 30) { %>
                            <p class="post-text"><span class="convertible-text"><%= moduleTexts.get(module._id).split(" ").slice(0, 31).join(" ") %></span> <a href="/modules/<%= module._id %>">(Read More)</a>
                            </p>
                        <% } else { %>
                            <p class="post-text convertible-text"><%= moduleTexts.get(module._id) %></p>
                        <% } %>

                    </div>
                </article>
            </div>
        </div>
        <br class="text-break" id="break-<%= module._id %>"/>

    <% }) %>
</div>
</body>
<script src="/javascript/embed.js"></script>
<script>
    if (document.getElementById("search-input")) {
        document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
    }
</script>
</html>
