<%- include('../partials/headStart') %>
  <link rel="stylesheet" href="/stylesheets/chat/new.css">
  <link rel="stylesheet" href="/stylesheets/admin/permission.css">
<%- include('../partials/headEnd') %>

    <body class="mode">
        <!-- include the navbar via ejs -->
        <%- include('../partials/components/navbar') %>
        <!-- include the backdrop for nav -->
        <%- include('../partials/components/header') %>

        <div class="container mt-5">
          <div class="row">
            <div class="col-12">
              <h1>Change <% if (platform.dollarPayment) { %> Balances <% } else {%> Donation Credits <% } %></h1>
              <hr>

              <div class="search-filter mb-3 search">
                <i class="fas fa-search"></i>
                <input id="search-input" oninput="searchFunction(this, 'user')" class="form-control search" type="text" placeholder="Search..." title="Type in name"/>
              </div><br />

              <% if (users.length <= 1) {%>
                <h1>No Users</h1>

              <%} else { %>
                <ul class="list-group">

                  <li class="list-group-item mode darkmode-outline">
                    <span id="modify-header">Modify Balances</span>
                  </li>

                  <% for (let status of platform.statusesProperty.reverse()) { %>
                    <% for (let user of users) { %>
                        <% if(user.status == status){ %>
                          <form onsubmit="updateBalance(this, event, <%=platform.dollarPayment%>)" id="<%=user._id%>">
                            <li class="list-group-item user shop <%=status.toLowerCase()%> <%=user.permission%>" id="user-<%=user._id%>">
                              <%= user.firstName %> <%= user.lastName %> (<%= user.username %>) - <% if (platform.dollarPayment) {%> $<span id="balance-tag-<%=user._id%>"><%=user.balance.toFixed(2)%></span><%} else {%><span id="balance-tag-<%=user._id%>"><%=user.balance%></span><%} %>
                              <br><span style="display: inline;" id="loading-<%=user._id%>"></span>
                              <div class="col">
                                <div class="input-group balance-input">
                                    <div class="input-group-prepend">
                                        <%if (platform.dollarPayment) { %><div class="input-group-text mode">$</div><% } %>
                                    </div>
                                    <% if (platform.dollarPayment) {%>
                                      <input class="form-control mode" type="text" id="balance-<%=user._id%>" placeholder="Add Balance" maxlength="10" required value="0.00">
                                      <button type="submit" class="btn btn-success" style="margin-left: 20px; margin-right: 10px; display: inline;"><i class="fas fa-plus-circle"></i></button>
                                      <button type="button" onclick="removeBalance(this, event, <%=platform.dollarPayment%>)" id="remove-balance-<%=user._id%>" class="btn btn-danger" style="display: inline;"><i class="fas fa-minus-circle"></i></button>
                                      <% } else { %>
                                      <span style="display: inline;" id="loading-<%=user._id%>"></span>
                                      <input class="form-control mode" type="text" id="balance-<%=user._id%>" placeholder="Add Balance" maxlength="10" required value="0">
                                    <% } %>
                                  </div>
                              </div>
                            </li>
                          </form>
                        <% } %>
                    <% } %>
                  <% } %>

              </ul>
            <% } %>
            <br/>
        </div>
    </div>
</div>
</body>
<script src="/javascript/postUtil.js"></script>
<script src="/javascript/admin/permission.js"></script>
<script src="/javascript/admin/search.js"></script>
<script>
  if (document.getElementById("search-input")) {
      document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
  }
  
  for (let element of document.getElementsByClassName("list-group-item")) {
        element.style.backgroundColor = colorScheme[1];
  }
</script>
</html>
