<%- include('../partials/headStart') %>
  <link rel="stylesheet" href="/stylesheets/chat/new.css">
  <link rel="stylesheet" href="/stylesheets/admin/permission.css">
<%- include('../partials/headEnd') %>
    <body class="mode">
        <!-- include the navbar via ejs -->
        <%- include('../partials/components/navbar') %>
        <!-- include the backdrop for nav -->
        <%- include('../partials/components/header') %>

        <div class="container mt-5">
          <div class="row">
            <div class="col-12">
              <h1>Change Permissions</h1>
              <span id="loading"></span>
              <hr>

              <div class="search-filter mb-3 search">
                <i class="fas fa-search"></i>
                <input id="search-input" oninput="searchFunction(this, 'user')" class="form-control search" type="text" placeholder="Search..." title="Type in name"/>
              </div><br />

              <% if (users.length <= 1) {%>
                <h1>No Users</h1>

              <%} else { %>
                <ul class="list-group">
                  <li class="list-group-item mode darkmode-outline">
                    <span id="modify-header">Modify Permissions</span>
                  </li>

                  <% for (let perm of permMatrix) { %>
                      <% for (let user of users) { %>
                          <% if(!user._id.equals(currentUser._id) && user.permission == perm[0]) { %>
                              <% for (let status of statusMatrix) { %>
                                <% if (status[0].toLowerCase() == user.status.toLowerCase())  { %>
                                  <li class="list-group-item user <%=perm[1].toLowerCase()%> <%=status[0].toLowerCase()%> <%=status[1].toLowerCase()%> <%=perm[0]%> <%=user.tags.join(' ')%> shop" id="<%=user._id%>">
                                    <%= user.username %> (<%= user.firstName %> <%= user.lastName %>)
                                <% } %>
                              <% } %>

                              <select name="permission" class="role-select mode" onchange="updateRole(this)" id="<%= user._id %>">
                                <% for (let perm of permMatrix) { %>
                                  <% if (user.permission == perm[0]) { %>
                                    <option value="<%=perm[0]%>" selected><%=perm[1]%></option>

                                  <% } else { %>
                                    <option value="<%=perm[0]%>"><%=perm[1]%></option>
                                  <% }%>
                                <% } %>
                              </select>
                            </li>
                        <% } %>
                    <% } %>

                  <% } %>

              </ul>
            <% } %>
            <br/>
        </div>
    </div>
</div>
</body>
<script src="/javascript/postUtil.js"></script>
<script src="/javascript/typo.js"></script>
<script src="/javascript/admin/permission.js"></script>
<script src="/javascript/admin/search.js"></script>
<script>
  if (document.getElementById("search-input")) {
      document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
  }

  for (let element of document.getElementsByClassName("list-group-item")) {
        element.style.backgroundColor = colorScheme[1];
  }
</script>
</html>
