<!DOCTYPE html>
<html>
    <head>
        <title>Saberchat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
        <link rel="stylesheet" href="/stylesheets/components/header.css">
        <link rel="stylesheet" href="/stylesheets/components/navbar.css">
        <link rel="stylesheet" href="/stylesheets/home/index.css">
        <link rel="stylesheet" href="/stylesheets/tutoringCenter/show.css">
        <link rel="stylesheet" href="/stylesheets/shop/menu.css">
        <link rel="stylesheet" href="/stylesheets/announcements/form.css">
        <%if (currentUser) {%>
        <%if (currentUser.darkmode) { %>
            <link rel="stylesheet" href="/stylesheets/darkmode.css">
            <link rel="stylesheet" href="/stylesheets/tutoringCenter/tutoringCenter-dark.css">
        <%}%>
        <%}%>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <script src="/javascript/admin/settings.js"></script>

        <!-- I'm using my fontawesome kit -->
        <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
        <!-- include the navbar via ejs -->
        <%- include('../partials/navbar') %>
        <%- include('../partials/header') %>
        <%- include('../partials/analytics') %>
    </head>
    <body class="mode">

        <div class="container mt-5">
            <div class="header-section">
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron text-center" id="course-thumbnail"
                            style="background-image: url('<%=platform.imageUrl%>');">
                            <h1 id="courseName" <% if (platform.navDark) {%> style="color: black"<%}%> ><%= platform.name %> Saberchat</h1>
                            <h5 id="courseInfo" <% if (platform.navDark) {%> style="color: black"<%}%>>Edit Platform Settings</h5>
                        </div>
                    </div>
                </div>
            </div>
            </ul>

            <div class="row settings">
                <div class="col-12">
                    <form id="update-settings" action="/admin/settings?_method=put" method="post">
                        <h4>General Settings</h4>
                        <div class="form-group">
                            <label for="newName">Name</label>
                            <input id="newName" class="form-control mode" type="text" name="name" value="<%= platform.name %>"
                                    placeholder="Enter Platform Name" oninput="changeName(this)" required>
                        </div>
                        <div class="form-group">
                            <label for="newDescription">Description</label>
                            <input id="newDescription" class="form-control mode" type="text" name="description" value="<%= platform.description %>"
                                    placeholder="Enter Platform Description">
                        </div>
                        <div class="form-group">
                            <label for="postText">Extra Description Information</label>
                            <input id="postText" class="form-control mode" type="text" name="postText" value="<%= platform.postText %>"
                                    placeholder="Enter Any Extra Description Information">
                        </div>
                        <div class="form-group">
                            <label for="thumbnail-input">Image Url</label><br/>
                            <input id="thumbnail-input" class="form-control mode" type="text" oninput="changeThumbnail(this)"
                                    name="imageUrl" value="<%= platform.imageUrl %>" placeholder="Enter Image Url">
                        </div>
                        <div class="form-group">
                            <label for="email-input">Required Email Extension (if left blank, none will be applied)</label><br/>
                            <input id="email-input" class="form-control mode" type="text"
                                    name="emailExtension" value="<%= platform.emailExtension %>" placeholder="Enter Required Email Extension">
                        </div>
                        <div class="form-group">
                            <label for="official-email-input">Platform Official Email</label><br/>
                            <input id="official-email-input" class="form-control mode" type="text"
                                    name="officialEmail" value="<%= platform.officialEmail %>" placeholder="Enter Platform Official Email">
                        </div>
                        <div class="form-group">
                            <label for="font">Font Family</label><br/>
                            <input id="font" class="form-control mode" type="text"
                                    name="font" value="<%= platform.font%>" placeholder="Enter Platform Font Family">
                        </div>
                        <div class="form-group">
                            <label for="balance-message">Balance Update Message</label><br/>
                            <textarea id="balance-message" class="form-control mode" type="text" name="balanceMessage" placeholder="Enter Message To Send With Balance Updates"><%= platform.balanceMessage%></textarea>
                        </div>

                        <div style="background-color: white; border-color: black; border-width: 2px; padding: 20px; margin-bottom: 10px; margin-top: 10px;">
                            <% let scheme;%>
                            <% for (let attr of [["colorScheme", "Color Scheme", "black", "updateColor"]]) { %>
                                <% for (let i = 0; i < 3; i++) { %>
                                    <div class="form-group">
                                        <% scheme = platform[attr[0]][i].split(', ');%>
                                        <label for="<%=attr[1]%>-<%=i%>-0-color" id="<%=attr[0]%>-label-<%=i%>" style="background-color: rgb(<%=scheme[0]%>, <%=scheme[1]%>, <%=scheme[2]%>); padding-left: 10px; padding-right: 10px; color: <%=attr[2]%>;">
                                            <%=attr[1]%> Element <%=i+1%>: (<%=scheme[0]%>, <%=scheme[1]%>, <%=scheme[2]%>)
                                        </label><br/>
                                        <% for (let j = 0; j < 3; j++) {%>
                                            <span id="<%=attr[0]%>-display-<%=i%>-<%=j%>" style="color: <%=attr[2]%>;"><%=scheme[j]%></span>
                                            <input id="color-<%=i%>-<%=j%>-<%=attr[1]%>" class="form-control mode" type="range" name="<%=attr[0]%>" min="0" max="255" value="<%=parseInt(scheme[j])%>" onchange="<%=attr[3]%>(this)">
                                        <% }%>
                                    </div>
                                <% } %>
                                <br>
                            <% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="display-input">Navbar Dark Display</label>
                            <input id="display-input" class="mode" type="checkbox" name="navDark" <% if (platform.navDark) { %> checked <% } %>>
                        </div>

                        <div class="form-group">
                            <label for="homepage-description-input">Display Content On Homepage</label>
                            <input id="homepage-description-input" class="mode" type="checkbox" name="homepageInfo" <% if (platform.homepageInfo) { %> checked <% } %>>
                        </div>

                        <div class="form-group">
                            <label for="darkmode-input">Enable Darkmode</label>
                            <input id="darkmode-input" class="mode" type="checkbox" name="enableDarkmode" <% if (platform.enableDarkmode) { %> checked <% } %>>
                        </div>

                        <div class="form-group">
                            <label for="contact-input">Display Contact Photos</label>
                            <input id="contact-input" class="mode" type="checkbox" name="contactPhotoDisplay" <% if (platform.contactPhotoDisplay) { %> checked <% } %>>
                        </div>

                        <div class="form-group">
                            <label for="post-input">Allow Non-Admins To Make Posts (Admins Can Verify)</label>
                            <input id="post-input" class="mode" type="checkbox" name="postVerifiable" <% if (platform.postVerifiable) { %> checked <% } %>>
                        </div>

                        <div class="form-group">
                            <label for="update-time-input">Student Status Update Time</label><br/>
                            <select name="month" class="mode" style="width: 30%;">
                            <% let months = ["None", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%>
                            <% for (let month of months) { %>
                                <option value="<%=months.indexOf(month)%>" <%if (parseInt(platform.updateTime.split(' ')[1]) == months.indexOf(month)) {%> selected <% } %>>
                                    <%=month%>
                                </option>
                            <% } %>
                            </select>
                            <select name="day" class="mode" style="width: 10%;">
                                <option value="0">None</option>
                            <% for (let i = 1; i <= 31; i++) { %>
                                <option value="<%=i%>" <%if (parseInt(platform.updateTime.split(' ')[0]) == i) {%> selected <% } %>><%=i%></option>
                            <% } %>
                            </select>
                        </div><br>
                        <h4>Permissions</h4>
                        <% for (let i = platform.permissionsProperty.length-1; i >= 0; i--) { %>
                            <div class="form-group">
                                <input class="form-control mode" type="text" name="permissionProperty" placeholder="Property Form" value="<%=platform.permissionsProperty[i]%>"><br>
                                <input class="form-control mode" type="text" name="permissionDisplay" placeholder="Display Form" value="<%=platform.permissionsDisplay[i]%>"><br>
                            </div><br>
                        <% } %>
                        <h4>Statuses</h4>
                        <% for (let i = platform.statusesSingular.length-1; i >= 0; i--) { %>
                            <div class="form-group">
                                <input class="form-control mode" type="text" name="statusProperty" placeholder="Property Form" value="<%=platform.statusesProperty[i]%>"><br>
                                <input class="form-control mode" type="text" name="statusSingular" placeholder="Singular Form" value="<%=platform.statusesSingular[i]%>"><br>
                                <input class="form-control mode" type="text" name="statusPlural" placeholder="Plural Form" value="<%=platform.statusesPlural[i]%>"><br>
                            </div><br>
                        <% } %>
                        <h4>Feature Settings</h4>
                        <div class="form-group">
                            <% for (let feature of platform.features) { %>
                                <label for="<%=feature.name%>"><i id="display-icon-<%=feature.name%>" class="fas fa-<%=feature.icon%>"></i> <span id="feature-name-<%=feature.name%>"><%=feature.name%></span></label>
                                <input oninput="changeFeatureName(this)"  type="text" id="<%=feature.name%>" class="form-control mode" placeholder="Enter feature name" value="<%=feature.name%>" name="feature"><br>
                                <input oninput="changeIcon(this)" type="text" id="icon-<%=feature.name%>" class="form-control mode" placeholder="Enter feature icon" value="<%=feature.icon%>" name="featureIcon"><br>
                                <input type="text" id="description-<%=feature.name%>" class="form-control mode" placeholder="Enter feature description" value="<%=feature.description%>" name="featureDescription"><br>
                            <% } %>
                        </div><br>

                        <h4>Displayed Information</h4>
                        <div class="form-group">
                            <label for="contact-heading">Contact Information Heading</label>
                            <input id="contact-heading" class="form-control mode" type="text" name="contactHeading" value="<%= platform.contact.heading %>" placeholder="Enter Contact Info Heading" required><br>
                            <label for="contact-info">Contact Information Blurb</label>
                            <textarea id="contact-info" rows="5" class="form-control mode" name="contactInfo" placeholder="Enter contact information blurb"><% for (let para of platform.contact.description) { %><%=para%>&#013;&#010;<% } %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="community-info">Platform Community Information</label>
                            <textarea id="community-info" rows="5" class="form-control mode" name="community" placeholder="Enter contact information blurb"><% for (let para of platform.community) { %><%=para%>&#013;&#010;<% } %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="service-info">Platform Services</label>
                            <textarea id="service-info" rows="5" class="form-control mode" name="services" placeholder="Enter services, separated by line breaks"><% for (let service of platform.services) { %><%=service%>&#013;&#010;<% } %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="terms-conditions">Platform-Specific Terms and Conditions</label>
                            <textarea id="terms-conditions" rows="5" class="form-control mode" name="terms" placeholder="Enter platform-specific terms and conditions, separated by line breaks"><% for (let term of platform.terms) { %><%=term%>&#013;&#010;<% } %></textarea>
                        </div>
                        <div class="form-group">
                            <label >Platform Display Images</label>
                            <% for( let i = 0; i < platform.displayImages.length; i++ ) { %>
                                <div class="image-group">
                                    <div class="input-container" id="display-<%= platform.displayImages.length - (i + 1) %>">
                                        <input type="text" class="form-control mode"
                                                oninput="createImage(this, 'displayimage-<%= platform.displayImages.length - (i + 1) %>')" placeholder="Url..."
                                                name="displayImages[<%= platform.displayImages.length - (i + 1) %>]" required
                                                value="<%= platform.displayImages[i] %>">
                                        <img id="displayimage-<%= platform.displayImages.length - (i + 1) %>"
                                                style="width: 50%; height: 50%; margin-top: 10px; border-radius: 15px;"
                                                src="<%= platform.displayImages[i] %>" alt="Image Does Not Exist"/>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label>Platform Information Blocks</label>
                            <div id="image-block">
                                <% for( let i = 0; i < platform.info.length; i++ ) { %>
                                    <div class="image-group">
                                        <div class="input-container" id="imageblock-<%=i%>">
                                            <input type="text" placeholder="Heading..." class="form-control mode" name="infoHeading" value="<%=platform.info[i].heading%>"><br>
                                            <textarea class="form-control mode" placeholder="Text..." name="infoText" rows="10"><% for (let para of platform.info[i].text) { %><%=para%>&#013;&#010;<% } %></textarea><br>
                                            <input type="text" id="<%=i%>" class="form-control mode"
                                                   oninput="createImg(this)" placeholder="Url..."
                                                   name="infoImages[<%=i%>]" required
                                                   value="<%= platform.info[i].image %>">
                                            <img id="image-<%= platform.info.length - (i + 1) %>"
                                                 style="width: 50%; height: 50%; margin-top: 10px; border-radius: 15px;"
                                                 src="<%= platform.info[i].image %>" alt="Image Does Not Exist"/>
                                        </div>
                                    </div><br>
                                <% } %>
                            </div>
                            <div id="image-header">
                                <button type="button" onclick="addBlock()" class="btn btn-primary"><i class="fas fa-plus"></i> Information Block</button>
                                <br/><br/>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm Changes</button>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/javascript/image-url.js"></script>
    <script src="/javascript/shop/image.js"></script>
    <script>

        const updateColor = function(input) {
            const [head, i, j, end] = input.id.split('-');
            const color0 = document.getElementById(`${head}-${i}-0-${end}`).value;
            const color1 = document.getElementById(`${head}-${i}-1-${end}`).value;
            const color2 = document.getElementById(`${head}-${i}-2-${end}`).value;

            document.getElementById(`colorScheme-display-${i}-${j}`).innerText = input.value;
            document.getElementById(`colorScheme-label-${i}`).innerText = `Color Scheme Element ${i}: (${color0}, ${color1}, ${color2})`;
            document.getElementById(`colorScheme-label-${i}`).style["background-color"] = `rgb(${color0}, ${color1}, ${color2})`;
        }
    </script>
</html>
