<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saberchat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/components/announcement.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/admin/permission.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Change Permissions</h1>
                <span id="loading"></span>
                <hr>
                <ul class="list-group">
                    <% users.forEach(function(user) { %>
                        <% if(!user._id.equals(currentUser._id)) { %>
                        <li class="list-group-item">
                            <%= user.username %> (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>)
                            <select name="status" class="role-select" onchange="updateStatus(this)" id="<%= user._id %>">
                                <option value="guest"
                                <% if(!user.status){ %> selected <% } %>
                                >Guest</option>
                                <option value="7th"
                                <% if(user.status == '7th'){ %> selected <% } %>
                                >7th</option>
                                <option value="8th"
                                <% if(user.status == '8th'){ %> selected <% } %>
                                >8th</option>
                                <option value="9th"
                                <% if(user.status == '9th'){ %> selected <% } %>
                                >9th</option>
                                <option value="10th"
                                <% if(user.status == '10th'){ %> selected <% } %>
                                >10th</option>
                                <option value="11th"
                                <% if(user.status == '11th'){ %> selected <% } %>
                                >11th</option>
                                <option value="12th"
                                <% if(user.status == '12th'){ %> selected <% } %>
                                >12th</option>
                                <option value="parent"
                                <% if(user.status == 'parent'){ %> selected <% } %>
                                >Parent</option>
                                <option value="faculty"
                                <% if(user.status == 'faculty'){ %> selected <% } %>
                                >Faculty</option>
                            </select>
                        </li>
                        <% } %>
                    <% }); %>
                  </ul>
            </div>
        </div>
    </div>
    <script src="/javascript/admin/status.js"></script>
</body>
</html>
