<%- include('../partials/headStart') %>
  <link rel="stylesheet" href="/stylesheets/admin/permission.css">
  <link rel="stylesheet" href="/stylesheets/chat/new.css">
<%- include('../partials/headEnd') %>
<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Change Statuses</h1>
                <span id="loading"></span>
                <hr>

                <div class="search-filter mb-3 search">
                  <i class="fas fa-search"></i>
                  <input id="search-input" oninput="searchFunction(this, 'user')" class="form-control search" type="text" placeholder="Search..." title="Type in name"/>
                </div><br />

            <% if (users.length <= 1) {%>
              <h1>No Users</h1>

            <%} else { %>

              <ul class="list-group">

                    <li class="list-group-item mode darkmode-outline">
                      <span id="modify-header">Modify Statuses</span>
                  </li>

                  <% for (let status of statusMatrix) { %>
                      <% for (let user of users) { %>
                          <% if(!user._id.equals(currentUser._id) && user.status.toLowerCase() == status[0].toLowerCase()){ %>
                              <% for (let perm of permMatrix) { %>
                                <% if (perm[0].toLowerCase() == user.permission.toLowerCase())  { %>
                                  <li class="list-group-item user <%=status[0].toLowerCase()%> <%=status[1].toLowerCase()%> <%=perm[0]%> <%=user.tags.join(' ')%> shop" id="user-<%=user._id%>">
                                    <%= user.username %> (<%= user.firstName %> <%= user.lastName %>)
                                <% } %>
                              <% } %>
                            <select name="status" class="role-select mode" onchange="updateStatus(this)" id="<%= user._id %>">

                              <% for (let status of statusMatrix) { %>
                                <% if (user.status.toLowerCase() == status[0].toLowerCase()) { %>
                                  <option value="<%=status[0]%>" selected><%=status[1]%></option>

                                <% } else { %>
                                  <option value="<%=status[0]%>"><%=status[1]%></option>
                                <% }%>
                              <% } %>
                            </select>
                            <select name="tag" class="role-select mode" onchange="updateTag(this)" id="<%= user._id %>">
                              <option value=""></option>

                              <% for (let tag of tags) { %>
                                <option value="<%=tag%>"><%=tag%></option>
                              <% } %>
                            </select>

                            <% for (let tag of user.tags) { %>
                              <span class="badge badge-pill badge-warning tag-<%=user._id%> user-tag"><%=tag%></span>
                            <% } %>
                          </li>
                        <% } %>
                    <% } %>
                  <% } %>

              </ul>
            <% } %>
            <br/>
        </div>
    </div>
</div>
<script src="/javascript/postUtil.js"></script>
<script src="/javascript/admin/status.js"></script>
<script src="/javascript/admin/search.js"></script>
<script>
  if (document.getElementById("search-input")) {
      document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
  }

  for (let element of document.getElementsByClassName("list-group-item")) {
        element.style.backgroundColor = colorScheme[1];
  }
</script>
</body>
</html>
