<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/profile/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                <h1 class="title">Users</h1>
                <div class="search-filter">
                    <i class="fas fa-search"></i>
                    <input id="search-input" onkeyup="searchFunction()" class="form-control" type="text" placeholder="Search..." title="Type in Username">
                </div>
                <div class="list-group" id="user-list">
                  <% let statuses = [ ["faculty", "Faculty", []], ["12th", "Seniors", []], ["11th", "Juniors", []], ["10th", "Sophomores", []], ["9th", "Freshmen", []], ["8th", "8th Graders", []], ["7th", "7th Graders", []], ["parent", "Parents", []], ["guest", "Guests", []] ] %>

                  <% for (let status of statuses) { %>
                    <% for (let user of users) { %>
                      <% if (user.status.toLowerCase() == status[0]) { %>
                        <% status[2].push(user) %>
                      <% } %>
                    <% } %>
                  <% } %>

                  <% let sortedUsers = [];%>

                  <% for (let status of statuses) { %>
                    <% if (status[2].length > 0) { %>
                      <li class="list-group-item list-group-item-success status-header" id="<%=status[0]%>-header">
                        <div class="d-flex w-100 justify-content-between">
                          <h2 class="mb-1"><%=status[1]%></h2>
                        </div>
                      </li>

                      <% sortedUsers = [];%>

                      <% for (let perm of ["Principal", "Admin", "Mod", "Student"]) { %>
                        <% for (let user of users) { %>
                          <% if (user.permission.toLowerCase() == perm.toLowerCase()) { %>
                            <% sortedUsers.push(user) %>
                          <% } %>
                        <% } %>
                      <% } %>

                      <% for (let user of sortedUsers) { %>
                        <% if (user.status.toLowerCase() == status[0]) { %>
                            <a href="/profiles/<%= user._id %>" class="list-group-item list-group-item-action">
                              <img class="profile-image" src="<%= user.imageUrl %>" alt="profile picture">
                              <span class="username <%=status[0]%>"><strong><%=user.firstName%> <%=user.lastName%></strong> <span style="font-size: 80%;"><%=`${user.username}`%></span></span>
                              <% if (user.permission == 'admin') { %>
                                <span class="badge badge-info">Administrator</span>
                              <% } else if (user.permission == "mod") { %>
                                <span class="badge badge-success">Moderator</span>
                              <% } else if (user.permission == "principal") { %>
                                <span class="badge badge-danger">Principal</span>
                              <% } %>

                              <% if (user._id.toString() == currentUser._id.toString())  { %>
                                <span class="badge badge-primary">Me</span>
                              <% } %>
                            </a>
                        <% } %>
                      <% } %>
                      <span class="status-page-break" id="<%=status[0]%>-break"><br /><br /></span>
                    <% } %>
                  <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        function searchFunction() {
          let statusHeaders = document.getElementsByClassName('status-header')
          let statusBreaks =  document.getElementsByClassName('status-page-break')
          let statuses = [ ["faculty", "Faculty", []], ["12th", "Seniors", []], ["11th", "Juniors", []], ["10th", "Sophomores", []], ["9th", "Freshmen", []], ["8th", "8th Graders", []], ["7th", "7th Graders", []], ["parent", "Parents", []], ["guest", "Guests", []] ]

          let input = document.getElementById("search-input");
          let filter = input.value.toUpperCase();
          let list = document.getElementById("user-list");
          let a = list.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
              user = a[i].getElementsByClassName('username')[0];
              txtValue = user.textContent || user.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  a[i].style.display = "";
              } else {
                  a[i].style.display = "none";
              }
          }

          let statusIncluded;

          for (let status of statuses) {
            statusIncluded = false;
            for (let member of document.getElementsByClassName(status[0])) {
              if (member.innerText.toUpperCase().indexOf(filter) > -1) {
                statusIncluded = true;
                break;
              }
            }

            if (!statusIncluded) {
              for (let i = 0; i < statusHeaders.length; i += 1) {
                if (statusHeaders[i].innerText.includes(status[1])) {
                  $(`#${statusHeaders[i].id}`).hide()
                  $(`#${statusBreaks[i].id}`).hide()
                }
              }

            } else if (statusIncluded) {
              for (let i = 0; i < statusHeaders.length; i += 1) {
                if (statusHeaders[i].innerText.includes(status[1])) {
                  $(`#${statusHeaders[i].id}`).show()
                  $(`#${statusBreaks[i].id}`).show()
                }
              }
            }

          }
        }
    </script>
</body>
</html>
