<div class="modal fade" id="modal-terms" tabindex="-1" aria-labelledby="deleteModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content mode">
            <div class="modal-header mode">
                <h3 class="modal-title" id="exampleModalLabel1">Terms and Conditions</h3>
                <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mode">
                <p>By using the <%=platform.name%> Saberchat service you are agreeing to be bound by the following terms and
                    conditions.</p>
                <h5>Basic Terms</h5>
                <ul>
                    <li>You must be approved by the <%=platform.name%> Platform Administrator to have access to all features</li>
                    <li>You are responsible for any activity that occurs under your profile and username.</li>
                    <li>You are responsible for keeping your password secure.</li>
                    <li>You must not abuse, harass, threaten, cyberbully or in any way cause discomfort to other
                        Saberchat users.
                    </li>
                    <li>You may not use the Saberchat service for any illegal or unauthorized purpose.</li>
                    <li>You are solely responsible for your conduct and any data, text, information, screen names,
                        graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and
                        display on the Saberchat service.
                    </li>
                    <li>You must not modify, adapt or hack Saberchat or modify another website so as to falsely imply
                        that it is associated with Saberchat.
                    </li>
                    <li>You must not access Saberchat’s database or source code in ways that could reveal sensitive
                        information of other Saberchat users.
                    </li>
                    <li>You must not crawl, scrape, or otherwise cache any content from Saberchat including but not
                        limited to user profiles, photos and private content.
                    </li>
                    <li>You must not create or submit unwanted messages (spam) to any Saberchat members</li>
                    <li>You must not use web URLs in your name without prior written consent from the Saberchat
                        administrators
                    </li>
                    <li>You must not transmit any bugs, viruses or code of a destructive nature.</li>
                    <li>You must not, in the use of Saberchat, violate any laws in your jurisdiction (including but not
                        limited to copyright laws).
                    </li>
                </ul>
                <p>Violation of any of these agreements will result in the termination of your Saberchat account. While
                    Saberchat prohibits such conduct and content on its site, you understand and agree that Saberchat
                    cannot be responsible for the content posted by the <%=platform.name%> Community and you nonetheless may be
                    exposed to such materials, and that you use the Saberchat service at your own risk.</p>

                <h5>General Conditions</h5>
                <ul>
                    <li>We reserve the right to modify or terminate the Saberchat service for any reason, giving at
                        least a week of prior notice at any time.
                    </li>
                    <li>We reserve the right to monitor and restrict the list of those who are allowed to create
                        Saberchat accounts.
                    </li>
                    <li>We reserve the right to alter these Terms and Conditions at any time. If the alterations
                        constitute a material change to the Terms and Conditions, we will notify you via internet mail
                        according to the preference expressed on your account. What constitutes a "material change" will
                        be determined at our sole discretion, in good faith and using common sense and reasonable
                        judgement.
                    </li>
                    <li>We reserve the right to refuse service to anyone for any reason at any time.</li>
                    <li>We reserve the right to force forfeiture of any username that becomes inactive, violates our
                        website regulations, or may mislead other users.
                    </li>
                    <li>We may, but have no obligation to, remove content and accounts containing content that we
                        determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory,
                        obscene or otherwise objectionable or violates any party's intellectual property or these Terms
                        and Conditions.
                    </li>
                    <li>We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal
                        claim or trademark on those usernames.
                    </li>
                </ul>

                <h5>Proprietary Rights in Content on Saberchat</h5>
                <ul>

                    <li>Saberchat does NOT claim ANY ownership rights in the text, files, images, photos, works of
                        authorship, or any other materials (collectively, "Content") that you post on or through the
                        service.
                    </li>

                    <li>You represent and warrant that:
                        <ul>
                            <li>You own the content posted by you on or through the Saberchat Service or otherwise have
                                the right to grant the license set forth in this section
                            </li>
                            <li>The posting and use of your Content on or through the Saberchat Services does not
                                violate the privacy rights, publicity rights, copyrights, contract rights, intellectual
                                property rights or any other rights of any person
                            </li>
                            <li>The posting of your Content on the Site does not result in a breach of contract</li>
                        </ul>
                    </li>

                    <li>The Saberchat Services contain content of Saberchat. Saberchat content is protected by
                        copyright, trademark, patent, trade secret and other laws, and Saberchat owns and retains all
                        rights in the Saberchat Content and the Saberchat Services. Saberchat hereby grants you a
                        limited, revocable, non-sublicensable license to reproduce and display the Saberchat Content
                        (excluding any software code) solely for your personal use in connection with viewing the Site
                        and using the Saberchat Services.
                    </li>
                    <li>The Saberchat Services contain Content of Users and other Saberchat licensors. Except as
                        provided within this Agreement, you may not copy, modify, translate, publish, broadcast,
                        transmit, distribute, display, or sell any Content appearing on or through the Saberchat
                        Services.
                    </li>
                    <li>Saberchat performs technical functions necessary to offer the Saberchat Services, including but
                        not limited to transcoding and/or reformatting Content to allow its use throughout the Saberchat
                        Services.
                    </li>
                    <li>Although the Site and other Saberchat Services are normally available, there will be occasions
                        when the Site or other Saberchat Services will be interrupted for scheduled maintenance or
                        upgrades, for emergency repairs, or due to failure of telecommunications links and equipment
                        that are beyond the control of Saberchat. Also, although Saberchat will normally only delete
                        Content that violates this Agreement, Saberchat reserves the right to delete any Content for any
                        reason, without prior notice.
                    </li>
                    </ul>

                    <% if (platform.terms.length > 0) {%>
                        <h5><%=platform.name%>-Specific Terms and Conditions</h5>
                        <ul>
                        <% for (let term of platform.terms) { %>
                            <li><%=term%></li>
                        <% } %>
                        </ul>
                    <% } %>

                </ul>

                <input type="checkbox" name="agree" id="agree"/>
                <label for="agree">I Agree To The Saberchat Terms and Conditions</label>
            </div>
            <div class="modal-footer mode">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="submit" id="confirm-agreement" form="signup" class="btn btn-primary">Set Up My Account
                </button>
            </div>
        </div>
    </div>
</div>
