<div id="nav-component">
    <!-- navbar that you can plop into html with ejs -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom bg-custom" id="main-nav">
        <div class="container" id="nav-container">
            <!-- Brand  (change link to home page)-->
            <a class="navbar-brand" href="/">
                <i class="far fa-comments"></i>
                <span>Saber</span>chat
            </a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <% if (currentUser) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects"><i class="fas fa-paint-brush"></i> Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/announcements"><i class="fas fa-bullhorn"></i>
                                Announcements
                                <% if (currentUser.annCount.length > 0) { %>
                                    <span class="badge badge-pill badge-danger"><%= currentUser.annCount.length %></span>
                                <% } %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profiles"><i class="fas fa-user"></i> Users</a>
                        </li>
                        <li class="nav-item dropdown">
                        <li class="nav-item"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-align-justify"></i> More
                                <span
                                    <% if (currentUser.annCount.length + currentUser.newRoomCount.length <= 0) { %> hidden<% } %> 
                                    class="badge badge-pill badge-danger" id="new-count"><%= currentUser.annCount.length + currentUser.newRoomCount.length %>
                                </span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/reports"><i class="fas fa-exclamation-triangle"></i> Error Reports</a>
                                <a class="dropdown-item" href="/chat"><i class="fas fa-comment-dots"></i> Chat
                                    <span id="new-chat"
                                    <% if (currentUser.newRoomCount.length <= 0) { %> hidden <% } %>
                                    class="badge badge-pill badge-danger"><%= currentUser.newRoomCount.length %></span>
                                </a>
                                <% for (let feature of platform.features) { %>
                                    <a class="dropdown-item" href="/<%=feature.route%>">
                                        <i class="fas fa-<%=feature.icon%>"></i>
                                        <%=feature.name%>
                                    </a>
                                <% } %>
                            </div>

                        </li>

                    <% } else { %>
                        <% for (let feature of platform.publicFeatures) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/<%=feature.route%>"><i class="fas fa-<%=feature.icon%>"></i> <%=feature.name%></a>
                            </li>
                        <% } %>
                    <% } %>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- ejs logic. If there is a user, show the bootstrap dropdown and links below -->
                    <% if(currentUser) { %>
                        <li class="nav-item">
                            <% if ((currentUser.msgCount + currentUser.reqCount) > 0) { %>
                                <a class="nav-link" href="/inbox/"><i class="fas fa-inbox"></i> Inbox <span
                                            class="badge badge-pill badge-danger"><%= currentUser.msgCount + currentUser.reqCount %></span></a>
                            <% } else { %>
                                <a class="nav-link" href="/inbox/"><i class="fas fa-inbox"></i> Inbox</a>
                            <% } %>
                        </li>

                        <% if (currentUser.permission == 'mod') { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-align-justify"></i> Mod</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a href="/admin/status" class="dropdown-item"><i class="fas fa-user"></i> Change
                                        Statuses</a>
                                    <a href="/admin/moderate" class="dropdown-item"><i class="fas fa-flag"></i> Moderate
                                        Comments</a>
                                </div>
                            </li>

                        <% } else if (currentUser.permission == "admin") { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-align-justify"></i> Admin</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a href="/admin/permissions" class="dropdown-item"><i class="fas fa-user"></i>
                                        Change Permissions</a>
                                    <a href="/admin/status" class="dropdown-item"><i class="fas fa-user"></i> Change
                                        Statuses</a>
                                    <a href="/admin/moderate" class="dropdown-item"><i class="fas fa-flag"></i> Moderate
                                        Comments</a>
                                </div>
                            </li>

                        <% } else if (currentUser.permission == platform.permissionsProperty[platform.permissionsProperty.length-1]) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-align-justify"></i> <%=platform.permissionsDisplay[platform.permissionsDisplay.length-1]%></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a href="/admin/permissions" class="dropdown-item"><i class="fas fa-user"></i>
                                        Change Permissions</a>
                                    <a href="/admin/status" class="dropdown-item"><i class="fas fa-user"></i> Change
                                        Statuses</a>
                                    <a href="/admin/moderate" class="dropdown-item"><i class="fas fa-flag"></i> Moderate
                                        Comments</a>
                                    <a href="/admin/accesslist" class="dropdown-item"><i class="fas fa-inbox"></i> Email
                                        Access List</a>
                                    <a href="/admin/accesslist?version=blockedlist" class="dropdown-item"><i class="fas fa-inbox"></i> Email
                                        Blocked List</a>
                                    <a href="/admin/balances" class="dropdown-item"><i class="fas fa-money-check"></i> Student Balances</a>
                                </div>
                            </li>
                        <% } %>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="<% if (currentUser.mediaFile.display) {%> <%= currentUser.mediaFile.url%><%} else {%> <%=currentUser.imageUrl.url%><%}%>" alt="profile pic" class="nav-profile-img">
                                <%= currentUser.firstName.charAt(0) %>.<%= currentUser.lastName.charAt(0) %>.
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/profiles/<%= currentUser._id %>"><i
                                            class="fas fa-user"></i> View Profile</a>

                                <% if (currentUser.darkmode) { %>
                                    <a class="dropdown-item" href="/darkmode"><i class="far fa-lightbulb"></i> Switch to
                                        Lightmode</a>
                                <% } else { %>
                                    <a class="dropdown-item" href="/darkmode"><i class="far fa-moon"></i> Switch to Darkmode</a>
                                <% } %>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                        <!-- if there is no user, show the register and login links -->
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link user-form-btn signup">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user-form-btn login">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Login Form -->
    <form class="user-form login" method="post" id="login-form">
        <span class="form-close login"><i class="far fa-window-close"></i></span>
        <div class="form-group mt-3">
            <label for="email-login">Email address</label>
            <input name="email" class="form-control" id="email-login" placeholder="enter email">
        </div>
        <div class="form-group">
            <label for="password-login">Password</label>
            <input name="password" type="password" class="form-control" id="password-login"
                   placeholder="enter password">
        </div>
        <button data-toggle="modal" data-target="#modal-pwd" id="forgot-button" type="button"
                class="btn btn-warning float-left">Forgot Password?
        </button>
        <button type="submit" formaction="/login" class="btn btn-success float-right">Login</button>
    </form>

    <!-- onsubmit="disableBtn()" -->
    <!-- Sign Up Form -->
    <form name="signup" id="signup" action="/register" method="post" class="user-form signup">
        <span class="form-close signup"><i class="far fa-window-close"></i></span>
        <div class="user-info display">
            <div class="form-group mt-3">
                <label for="firstName-signup">First Name</label>
                <input name="firstName" type="text" class="form-control" id="firstName-signup">
            </div>
            <div class="form-group">
                <label for="lastName-signup">Last Name</label>
                <input name="lastName" type="text" class="form-control" id="lastName-signup">
            </div>
            <div class="form-group">
                <label for="username-signup">Username</label>
                <input name="username" type="text" class="form-control" id="username-signup" placeholder="(max 23)"
                       maxlength="23">
            </div>
            <button type="button" class="btn btn-info btn-block" onclick="next()">Next <i
                        class="fas fa-arrow-right"></i></button>
        </div>
        <div class="login-info">
            <div class="form-group mt-3">
                <label for="email-signup">Email address</label>
                <input name="email" type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Your email determines whether you are part of the
                    <%=platform.name%> community.</small>
            </div>
            <div class="form-group">
                <label for="password-signup">Password</label>
                <input name="password" type="password" class="form-control" id="password-signup" minlength="8"
                       placeholder="(min 8)">
            </div>
            <div class="back">
                <button type="button" class="btn btn-secondary" onclick="back()"><i class="fas fa-arrow-left"></i> Go
                    Back
                </button>
                <button type="button" id="register-button" data-toggle="modal" data-target="#modal-terms"
                        class="btn btn-success"><i class="far fa-plus-square"></i> Sign Up
                </button>
            </div>
        </div>
    </form>

    <div class="mb-3" id="flash">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length > 0) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
    </div>
</div>
<%- include('forgot-password') %>
<%- include('agreement') %>
<script>

    const checkIfAgree = e => {
        if (!document.getElementById('agree').checked) {
            e.preventDefault();
        }
    }

    document.getElementById('confirm-agreement').addEventListener('click', e => {
        checkIfAgree(e)
    })

</script>