<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/profiles/edit.css">

    
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
<%- include('../partials/headEnd') %>
<body class="mode">
<!-- include the navbar via ejs -->
<%- include('../partials/components/navbar') %>
<!-- include the backdrop for nav -->
<%- include('../partials/components/header') %>

<div class="container mt-5" id="password-reset">
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2 col-12">
            <h4 id="settings-header" class="mt-5 mb-3">Reset Password</h4>
            <br/>
            <form action="/reset-password?_method=put&user=<%= user %>" method="post">
                <div class="form-group">
                    <input id="tempPwd" class="form-control password-input" type="password" name="tempPwd"
                           placeholder="Enter the temporary password that was sent to you" required><br/>
                    <input id="newPwd" class="form-control password-input" type="password" name="newPwd"
                           placeholder="Enter new password" minlength="8" required><br/>
                    <input id="newPwdConfirm" class="form-control password-input" type="password" name="newPwdConfirm"
                           placeholder="Confirm new password" minlength="8" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block">Reset</button>
            </form>

            <br/>
        </div>
    </div>
</div>
</body>
</html>
