<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/profiles/index.css">
    <link rel="stylesheet" href="/stylesheets/profiles/edit.css">
    <link rel="stylesheet" href="/stylesheets/other/index.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/projects/dark.css">
    <%}%>

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>

<%- include('../partials/headEnd') %>

<body class="mode">
<!-- insert navbar via ejs-->
<%- include('../partials/components/navbar') %>

<!-- Background image and text -->
<section id="background" style="background-image: url('<%=platform.imageUrl%>'); background-size: cover;">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 background-title">
                <h1>Team</h1>
                <p><%=platform.name%>'s Leaders and Administrators</p>
            </div>
        </div>
    </div>
</section>

<!-- Home Page content -->
<main id="main-container">
    <div class="container mt-5">
        <% let block;%>
        <% for (let status of platform.statusesProperty.slice(platform.statusesProperty.length-2).reverse()) { %>
            <% for (let user of users) { %>
                <% if (user.status == status)  { %>
                    <div class="row text-element">
                        <div class="col-lg-12">
                            <a href="/profiles/<%=user._id%>" style="color: black;" class="post-sender">
                                <article class="text-block mode">
                                    <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                                        <h1><%=user.firstName%> <%=user.lastName%> (<%=platform.statusesSingular[platform.statusesProperty.indexOf(user.status)]%>)</h1>
                                    </div>
                                    <div class="block-content mode">
                                        <h4>
                                            <% if (user.title && user.title.split(' ').join('') != '') { %>
                                                <%=user.title%>
                                            <% } else {%>
                                                <%=platform.name%> <%=platform.permissionsDisplay[platform.permissionsProperty.indexOf(user.permission)]%>
                                            <% } %>
                                        </h4>
                                        <p style="font-size: 110%;">
                                            <% if (user.description.split(' ').join('') != '') { %>
                                                <%=user.description%>
                                            <% } else {%>
                                                No Description Provided.
                                            <% } %>
                                        </p>
                                        <img style="float: left; margin-bottom: 15px;" class="profile-image post-first-image" src="<% if (user.mediaFile.display) { %> <%= user.mediaFile.url%> <%} else {%> <%=user.imageUrl.url%><%}%>" alt="profile picture">
                                </article>
                            </a>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <% } %>

    </div>
    </div>
</main>
<script>
    window.onload = (() => {
        window.onscroll = (() => {
            updateNav();
            animateDisplay();
        });
    });
</script>
</body>
</html>
