<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/projects/dark.css">
    <%}%>

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/like.js"></script>
    
<%- include('../partials/headEnd') %>
<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>

<div class="container mt-5 mode">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-<%=data.icon%>"></i> Puzzles</h1>
                <p><%=data.description%></p>
                <% if (currentUser) { %>
                    <% if (platform.postVerifiable || platform.permissionsProperty.slice(platform.permissionsProperty.length-2).includes(currentUser.permission) || currentUser.status == platform.teacherStatus) { %>
                        <a href="/puzzles/new" class="btn btn-primary post-button"><i
                                    class="fas fa-<%=data.icon%>"></i> Post Puzzle</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <div class="search-filter mb-3 search">
        <i class="fas fa-search"></i>
        <input id="search-input" oninput="searchFunction()" class="form-control search" type="text"
               placeholder="Search..." title="Type in puzzle segment"/>
    </div>
    <br/>

    <% puzzles.forEach(puzzle => { %>

        <div class="row">
            <div class="col-lg-12">
                <article class="text-block color: black" id="<%= puzzle._id %>">
                    <div class="block-header grey">
                        <h5>

                            <% if (currentUser) { %>
                                <a class="post-button" href="/puzzles/<%= puzzle._id %>">
                                    <span class="post-subject-header"><%= puzzle.subject %></span>
                                        <% let index = -1 %>
                                        <% for (let i = 0; i < currentUser.annCount.length; i += 1) { %>
                                            <% if (currentUser.annCount[i].puzzle.toString() == puzzle._id.toString()) { %>
                                                <% index = i; %>
                                            <% } %>
                                        <% } %>

                                        <% if (index != -1) { %>
                                            <% if (currentUser.annCount[index].version == "new") { %>
                                                <span class="badge badge-pill badge-danger post-button">New!</span>
                                            <% } else if (currentUser.annCount[index].version == "updated") { %>
                                                <span class="badge badge-pill badge-info post-button">Updated!</span>
                                            <% } %>
                                        <% } %>

                                        <% if (index != -1) { %>
                                            <a href="/puzzles/mark/<%= puzzle._id %>"><span class="badge badge-pill badge-success post-button">Mark As Read</span></a>
                                        <% } %>
                                    </a>
                                    <% if (platform.postVerifiable && !puzzle.verified && platform.permissionsProperty.slice(platform.permissionsProperty.length-3).includes(currentUser.permission)) { %>
                                        <a href="/puzzles/verify/<%= puzzle._id %>">
                                            <span class="badge badge-pill badge-primary" id="mark">Verify</span>
                                        </a>
                                    <% } %>
                                <% } else { %>
                                    <span class="post-button">
                                        <span class="post-subject-header"><%= puzzle.subject %></span>
                                    </span>
                                <% } %>
                            <span class="float-right post-date"><%= puzzle.date %></span>
                        </h5>

                        <div class="bottom-text">
                            <% if (currentUser) { %>
                                <a class="post-sender" href="../profiles/<%= puzzle.sender._id %>">
                                    <img src="<% if (puzzle.sender.mediaFile.display) {%> <%= puzzle.sender.mediaFile.url%><%} else {%> <%=puzzle.sender.imageUrl.url%><%}%>" alt="profile pic"
                                         class="sender-profile-image">
                                    <%= puzzle.sender.firstName %> <%= puzzle.sender.lastName %>
                                </a>

                            <% } else { %>
                                <span class="post-sender">
                        <img src="<% if (puzzle.sender.mediaFile.display) {%> <%= puzzle.sender.mediaFile.url%><%} else {%> <%=puzzle.sender.imageUrl.url%><%}%>" alt="profile pic" class="sender-profile-image">
                        <%= puzzle.sender.firstName.charAt(0) %>.<%= puzzle.sender.lastName.charAt(0)%>.
                      </span>
                            <% } %>

                            <% if (currentUser) { %>
                                <% if (currentUser._id.toString() == puzzle.sender._id.toString()) { %>
                                    <button type="button" class="edit-button btn btn-info"><a
                                                class="post-button"
                                                href="/puzzles/<%= puzzle._id %>/edit"><i
                                                    class="fas fa-cog"></i> Edit</a></button>

                                    <form action="/puzzles/<%= puzzle._id %>?_method=delete" method="post"
                                          class="delete-post">
                                        <button class="btn btn-danger post-button" type="button"
                                                data-toggle="modal"
                                                data-target="#modal-<%= puzzle._id %>"><i
                                                    class="far fa-trash-alt"></i>
                                            Delete
                                        </button>
                                        <div class="modal fade" id="modal-<%= puzzle._id %>" tabindex="-1"
                                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content mode">
                                                    <div class="modal-header mode">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete
                                                            Puzzle?</h5>
                                                        <button type="button" class="close mode" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body mode">
                                                        This action is irreversible. You will have to manually recreate
                                                        this
                                                        puzzle.
                                                    </div>
                                                    <div class="modal-footer mode">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No,
                                                            Go Back
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Yes, Delete
                                                            Puzzle
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                <% } else {%>
                                    <form action="/puzzles/answer/<%= puzzle._id %>?_method=put" method="post"
                                        class="delete-post">
                                      <button class="btn btn-success edit-button post-button" type="button"
                                              data-toggle="modal"
                                              data-target="#modal-answer-<%= puzzle._id %>"><i
                                                  class="fas fa-pen-square"></i>
                                          Answer
                                      </button>
                                      <div class="modal fade" id="modal-answer-<%= puzzle._id %>" tabindex="-1"
                                           aria-labelledby="deleteModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                              <div class="modal-content mode">
                                                  <div class="modal-header mode">
                                                      <h5 class="modal-title" id="exampleModalLabel">Submit Answer</h5>
                                                      <button type="button" class="close mode" data-dismiss="modal"
                                                              aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                      </button>
                                                  </div>
                                                  <div class="modal-body mode">
                                                      <textarea class="form-control mode" id="answer-<%=puzzle._id%>" name="answer" placeholder="Enter Your Answer" rows="5" cols="10"></textarea>
                                                  </div>
                                                  <div class="modal-footer mode">
                                                      <button type="button" class="btn btn-secondary"data-dismiss="modal">Back</button>
                                                      <button type="submit" class="btn btn-success">Submit Answer
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                                <% } %>

                                <% if (puzzle.likes.includes(currentUser._id)) { %>
                                    <span class="liked-button"><i id="like-<%= puzzle._id %>-index"
                                                                  onclick="like(this, 'puzzle', 'puzzles')"
                                                                  class="fas fa-thumbs-up"></i></span> <span
                                            class="likeCount-<%= puzzle._id %>"><%= puzzle.likes.length %></span>

                                <% } else { %>
                                    <span class="unliked-button"><i id="like-<%= puzzle._id %>-index"
                                                                    onclick="like(this, 'puzzle', 'puzzles')"
                                                                    class="fas fa-thumbs-up"></i></span> <span
                                            class="likeCount-<%= puzzle._id %>"><%= puzzle.likes.length %></span>

                                <% } %>
                                <a class="comment-button" href="/puzzles/<%= puzzle._id %>#comment-section"><i
                                            class="fas fa-comment-dots"></i> <%= puzzle.comments.length %></a>

                            <% } %>
                        </div>
                    </div>

                    <div class="block-content mode">
                        <% if (currentUser) { %>
                            <% if (puzzle.text.split(" ").length > 70) { %>
                                <p class="post-text"><span class="convertible-text"><%= puzzleTexts.get(puzzle._id).split(" ").slice(0, 71).join(" ")%></span> <a href="/puzzles/<%= puzzle._id %>">(Read More)</a></p>
                            <% } else { %>
                                <p class="post-text convertible-text"><%= puzzleTexts.get(puzzle._id) %></p>
                            <% } %>
                        <% } else { %>
                            <% if (puzzle.text.split(" ").length > 70) { %>
                                <p class="post-text convertible-text"><%= puzzleTexts.get(puzzle._id).split(" ").slice(0, 71).join(" ") %><a href="/">(Log In To Read More)</a></p>
                            <% } else { %>
                                <p class="post-text convertible-text"><%= puzzleTexts.get(puzzle._id) %></p>
                            <% } %>
                        <% } %>

                    </div>
                </article>
            </div>
        </div>
        <br class="text-break" id="break-<%= puzzle._id %>"/>

    <% }) %>
    <script src="/javascript/embed.js"></script>
    <script>
        if (document.getElementById("search-input")) {
            document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
        }
    </script>
</div>
</body>
</html>
