<%- include('../../partials/headStart') %>
        <link rel="stylesheet" href="/stylesheets/inbox/show.css">
        <link rel="stylesheet" href="/stylesheets/inbox/request_show.css">
        <%if (currentUser && currentUser.darkmode) {%>
            <link rel="stylesheet" href="/stylesheets/inbox/darkinbox.css">
        <%}%>
<%- include('../../partials/headEnd') %>

<body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../../partials/components/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="msg-container request-container">
                <h1>Access Request</h1>
                <h4><%= request.room.name %></h4>
                <p>From:
                    <a href="/profiles/<%= request.author._id %>" class="user-link">
                            <span class="badge badge-pill badge-primary">
                              <%= request.author.username %>
                            </span>
                    </a>
                </p>
                <p>To:
                    <a href="/profiles/<%= request.room.creator %>" class="user-link">
                            <span class="badge badge-pill badge-secondary">
                                <% if(request.room.creator.equals(currentUser._id)) { %>
                                    me
                                <% } else { %>
                                    <%= request.room.creator.username %>
                                <% } %>
                            </span>
                    </a>
                </p>

                <span><%= request.date %></span>
                <a id="back-button" href="/inbox" class="btn btn-primary back-btn"><i class="fas fa-arrow-left"></i>
                    Back</a><br/>

                <% if(request.recipients[0].equals(currentUser._id) && request.status == 'pending') { %>
                    <form action="/inbox/requests/<%= request._id %>/reject" method="post" class="evaluate-request">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-thumbs-down"></i> Reject</button>
                    </form>
                    <form action="/inbox/requests/<%= request._id %>/accept" method="post" class="evaluate-request">
                        <button type="submit" class="btn btn-success"><i class="fas fa-thumbs-up"></i> Accept</button>
                    </form>
                <% } else { %>
                    <p class="request-status"><%= request.status %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
