<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/projects/dark.css">
    <%}%>

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script src="/javascript/typo.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/like.js"></script>

<%- include('../partials/headEnd') %>
<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>

<div class="container mt-5 mode">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-bullhorn"></i> Announcements</h1>
                <p>The latest news from the community</p>
                <% if (currentUser) { %>
                    <% if (platform.postVerifiable || platform.permissionsProperty.slice(platform.permissionsProperty.length-2).includes(currentUser.permission) || currentUser.status == platform.teacherStatus) { %>
                        <a href="/announcements/new" class="btn btn-primary post-button"><i
                                    class="fas fa-bullhorn"></i> Send Announcement</a>
                    <% } %>
                    <a href="/announcements/mark-all" class="btn btn-success post-button"><i
                                class="fas fa-check-square"></i> Mark All As Read</a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="search-filter mb-3 search">
        <i class="fas fa-search"></i>
        <input id="search-input" oninput="searchFunction()" class="form-control search" type="text"
               placeholder="Search..." title="Type in announcement segment"/>
    </div>
    <br/>

    <% announcements.forEach(announcement => { %>

        <div class="row">
            <div class="col-lg-12">
                <article class="text-block color: black" id="<%= announcement._id %>">
                    <div class="block-header grey">
                        <h5>

                            <% if (currentUser) { %>
                                <a class="post-button" href="/announcements/<%= announcement._id %>">
                                    <span class="post-subject-header"><%= announcement.subject %></span>
                                        <% let index = -1 %>
                                        <% for (let i = 0; i < currentUser.annCount.length; i += 1) { %>
                                            <% if (currentUser.annCount[i].announcement.toString() == announcement._id.toString()) { %>
                                                <% index = i; %>
                                            <% } %>
                                        <% } %>

                                        <% if (index != -1) { %>
                                            <% if (currentUser.annCount[index].version == "new") { %>
                                                <span class="badge badge-pill badge-danger post-button">New!</span>
                                            <% } else if (currentUser.annCount[index].version == "updated") { %>
                                                <span class="badge badge-pill badge-info post-button">Updated!</span>
                                            <% } %>
                                        <% } %>

                                        <% if (index != -1) { %>
                                            <a href="/announcements/mark/<%= announcement._id %>"><span class="badge badge-pill badge-success post-button">Mark As Read</span></a>
                                        <% } %>
                                    </a>
                                    <% if (platform.postVerifiable && !announcement.verified && platform.permissionsProperty.slice(platform.permissionsProperty.length-3).includes(currentUser.permission)) { %>
                                        <a href="/announcements/verify/<%= announcement._id %>">
                                            <span class="badge badge-pill badge-primary" id="mark">Verify</span>
                                        </a>
                                    <% } %>
                                <% } else { %>
                                    <span class="post-button">
                                        <span class="post-subject-header"><%= announcement.subject %></span>
                                    </span>
                                <% } %>
                            <span class="float-right post-date"><%= announcement.date %></span>
                        </h5>

                        <div class="bottom-text">
                            <% if (currentUser) { %>
                                <a class="post-sender" href="../profiles/<%= announcement.sender._id %>">
                                    <img src="<% if (announcement.sender.mediaFile.display) {%> <%= announcement.sender.mediaFile.url%><%} else {%> <%=announcement.sender.imageUrl.url%><%}%>" alt="profile pic"
                                         class="sender-profile-image">
                                    <%= announcement.sender.firstName %> <%= announcement.sender.lastName %>
                                </a>

                            <% } else { %>
                                <span class="post-sender">
                        <img src="<% if (announcement.sender.mediaFile.display) {%> <%= announcement.sender.mediaFile.url%><%} else {%> <%=announcement.sender.imageUrl.url%><%}%>" alt="profile pic" class="sender-profile-image">
                        <%= announcement.sender.firstName.charAt(0) %>.<%= announcement.sender.lastName.charAt(0)%>.
                      </span>
                            <% } %>

                            <% if (currentUser) { %>
                                <% if (currentUser._id.toString() == announcement.sender._id.toString()) { %>
                                    <button type="button" class="edit-button btn btn-info"><a
                                                class="post-button"
                                                href="/announcements/<%= announcement._id %>/edit"><i
                                                    class="fas fa-cog"></i> Edit</a></button>

                                    <form action="/announcements/<%= announcement._id %>?_method=delete" method="post"
                                          class="delete-post">
                                        <button class="btn btn-danger post-button" type="button"
                                                data-toggle="modal"
                                                data-target="#modal-<%= announcement._id %>"><i
                                                    class="far fa-trash-alt"></i>
                                            Delete
                                        </button>
                                        <div class="modal fade" id="modal-<%= announcement._id %>" tabindex="-1"
                                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content mode">
                                                    <div class="modal-header mode">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete
                                                            Announcement?</h5>
                                                        <button type="button" class="close mode" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body mode">
                                                        This action is irreversible. You will have to manually recreate
                                                        this
                                                        announcement.
                                                    </div>
                                                    <div class="modal-footer mode">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No,
                                                            Go Back
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Yes, Delete
                                                            Announcement
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                <% } %>

                                <% if (announcement.likes.includes(currentUser._id)) { %>
                                    <span class="liked-button"><i id="like-<%= announcement._id %>-index"
                                                                  onclick="like(this, 'announcement', 'announcements')"
                                                                  class="fas fa-thumbs-up"></i></span> <span
                                            class="likeCount-<%= announcement._id %>"><%= announcement.likes.length %></span>

                                <% } else { %>
                                    <span class="unliked-button"><i id="like-<%= announcement._id %>-index"
                                                                    onclick="like(this, 'announcement', 'announcements')"
                                                                    class="fas fa-thumbs-up"></i></span> <span
                                            class="likeCount-<%= announcement._id %>"><%= announcement.likes.length %></span>

                                <% } %>
                                <a class="comment-button" href="/announcements/<%= announcement._id %>#comment-section"><i
                                            class="fas fa-comment-dots"></i> <%= announcement.comments.length %></a>

                            <% } %>
                        </div>
                    </div>

                    <div class="block-content mode">
                        <% if (currentUser) { %>
                            <% if (announcement.text.split(" ").length > 70) { %>
                                <p class="post-text"><span class="convertible-text"><%= announcementTexts.get(announcement._id).split(" ").slice(0, 71).join(" ")%></span> <a href="/announcements/<%= announcement._id %>">(Read More)</a></p>
                            <% } else { %>
                                <p class="post-text convertible-text"><%= announcementTexts.get(announcement._id) %></p>
                            <% } %>
                        <% } else { %>
                            <% if (announcement.text.split(" ").length > 70) { %>
                                <p class="post-text convertible-text"><%= announcementTexts.get(announcement._id).split(" ").slice(0, 71).join(" ") %><a href="/">(Log In To Read More)</a></p>
                            <% } else { %>
                                <p class="post-text convertible-text"><%= announcementTexts.get(announcement._id) %></p>
                            <% } %>
                        <% } %>

                    </div>
                </article>
            </div>
        </div>
        <br class="text-break" id="break-<%= announcement._id %>"/>

    <% }) %>
    <script src="/javascript/embed.js"></script>
    <script>
        if (document.getElementById("search-input")) {
            document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
        }
    </script>
</div>
</body>
</html>
