<%- include('./partials/headStart') %> 
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/other/index.css">

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script>
        if (window.location.href.includes("herokuapp")) {
            window.location.href = "https://saberchat.net";
        }
    </script>
<%- include('./partials/headEnd') %> 
<body class="mode">
<!-- insert navbar via ejs-->
    <%- include('./partials/components/navbar') %>

    <!-- Background image and text -->
    <section id="background" style="background-image: url('<%=platform.imageUrl%>'); background-size: cover;">
        <div class="container-fluid text-center background-inner-div">
            <div class="row">
                <div class="col-12 background-title">
                    <h1 style="user-select: none; -moz-user-select: none;">Saberchat</h1>
                    <p style="user-select: none; -moz-user-select: none;"><%=platform.name%>'s very own Community Platform</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Home Page content -->
    <main id="main-container">
        <div class="container mt-5 mode">
            <!-- Block 1 -->
            <div class="row element" id="about">
                <div class="col-lg-6">
                    <article class="text-block">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h1 style="user-select: none; -moz-user-select: none;">About</h1>
                        </div>
                        <div class="block-content mode">
                            <p>Saberchat is an intranet platform that connects and centralizes your community's communication and notification platforms. It allows users to quickly share and access important information, and presents multiple platform-specific features for community projects. It is used across schools, clubs, organizations and more.</p>
                            <span id="developers"><span id="developers-heading">Developers: </span>Kabir Samsi, Alexander Zhou, Siddharth Chavan, Dmitry Pleshkov, Vibhav Darsha</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 block">
                    <% if (platform.displayVideo.url && platform.displayVideo.url != '') {%>
                        <video width="520px" height="305px" src="<%=platform.displayVideo.url%>" type="video/*" controls class="image-block"></video>
                    <% } else {%>
                        <img class="image-block" src="<%=platform.displayImages[0]%>" alt="<%=platform.name%> image">
                    <% } %>
                </div>
            </div>
            <!-- Block 2 -->
            <div class="row element" id="block-2">
                <div class="col-lg-6 order-lg-2">
                    <article class="text-block">
                        <div class="block-header <% if (platform.homepageInfo) {%> yellow <% } %>">
                            <h1 style="user-select: none; -moz-user-select: none;">Services</h1>
                        </div>
                        <div class="block-content mode">
                            <ul>
                                <% for (let service of platform.services) { %>
                                    <li class="convertible-text"><%=service%></li>
                                <% } %>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 block">
                    <img class="image-block" src="<%=platform.displayImages[1]%>" alt="<%=platform.name%> image">
                </div>
            </div>
        </div>
    </main>

    <main id="main-container">
        <div class="container mt-5">
            <!-- Block 1 -->
            <% const developers = [["Kabir Samsi", "kabirs@alsionschool.org", "pP2gALC", "Team Lead"], ["Alexander Zhou", "alexanderz@alsionschool.org", "GZiDjGU", "Technology Lead"], ["Siddharth Chavan", "siddharthc@alsionschool.org", "AydPXHS", "Engineering Lead"], ["Dmitry Pleshkov", "dmitry@alsionschool.org", "yJalLUC", "Systems Lead"], ["Vibhav Darsha", "vibhavec@alsionschool.org", "rcuEKOf", "Marketing Lead"]]; %>
            <div class="row text-element">
                <div class="col-lg-6">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h1>Developers</h1>
                        </div>
                        <div class="block-content mode">
                        <p>
                            Kabir Samsi, Alexander Zhou, Siddharth Chavan, Dmitry Pleshkov and Vibhav Darsha are high school seniors at Alsion Montessori High School. They developed Saberchat over the 2020
                            Summer Break in an effort to improve the their school's community by connecting its communication forums.
                        </p>

                        <% developers.forEach(developer => { %>
                            <span class="developer-info"><%=developer[0]%></span> <span class="developer-description">(<%=developer[3]%>)</span>
                            <p><a href="mailto: <%=developer[1]%>"><%=developer[1]%></a></p>
                        <% }); %>

                        </div>
                    </article>
                </div>

                <div class="col-lg-6 block">
                    <div class="container photo-div">
                        <div class="row dev-row">
                            <div class="row photo-row">
                                <div class="col col-photo"><img src="https://i.imgur.com/<%=developers[0][2]%>.jpg" class="image row-end" alt="Photo of <%= developers[0][0] %>"></div>
                                <div class="col col-photo"><img src="https://i.imgur.com/<%=developers[1][2]%>.jpg" class="image row-end" alt="Photo of <%= developers[1][0] %>"></div>
                            </div>
                            <% let counter = 0; %>
                            <% for (let i = 2; i < developers.length; i += 3) { %>
                                <div class="row photo-row">
                                    <div class="col col-photo"><img src="https://i.imgur.com/<%=developers[i][2]%>.jpg" class="image <% if (i + 1 >= developers.length) { %>end<% } %> <% if (i + 3 >= developers.length) { %> row-end <% } %>" alt="Photo of <%= developers[i][0] %>"></div>

                                    <% if (i + 1 < developers.length) { %>
                                        <div class="col col-photo"><img src="https://i.imgur.com/<%= developers[i + 1][2] %>.jpg" class="image <% if (i + 2 >= developers.length) { %>end row-end<% } %>" alt="Photo of <%= developers[i + 1][0] %>"></div>
                                    <% } %>

                                    <% if (i + 2 < developers.length) { %>
                                        <div class="col col-photo"><img src="https://i.imgur.com/<%= developers[i + 2][2] %>.jpg" class="image <% if (i + 1 >= developers.length) { %> row-end <% } %>" alt="Photo of <%= developers[i + 2][0] %>"></div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        window.onload = (() => {
            window.onscroll = (() => {
                updateNav();
                animateDisplay();
            });
        });
    </script>
    <script src="/javascript/embed.js"></script>
</body>
</html>
