<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saberchat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">
    <% if (currentUser) { %>
        <% if (currentUser.darkmode) { %>
            <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <% } %>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/nav/navbar.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/like.js"></script>
    <%- include('../partials/analytics') %>

    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>

</head>
<body class="mode">
<div class="container mt-5 mode">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-trophy"></i> Articles</h1>
                <p>Important Articles About Acts of Violence Against Asian Americans</p>
                <% if (currentUser.status == platform.teacherStatus || currentUser.permission == platform.permissionsProperty[platform.permissionsProperty.length-1]) { %>
                    <a href="/articles/new" class="btn btn-primary announcement-button">
                        <i class="fas fa-plus-circle"></i> Add New Article
                    </a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="search-filter mb-3 search">
        <i class="fas fa-search"></i>
        <input id="search-input" oninput="searchFunction()" class="form-control search" type="text"
               placeholder="Search..." title="Type in article segment"/>
    </div>
    <br/>

    <% articles.forEach(article => { %>

        <div class="row">
            <div class="col-lg-12">
                <article class="text-block color: black" id="<%= article._id %>">
                    <div class="block-header grey">
                        <h5 style="margin-bottom: 20px;">

                            <a class="announcement-button" href="/articles/<%= article._id %>">
                                <span class="announcement-subject-header"><%= article.subject %></span>
                            </a>
                            <span class="float-right announcement-date"><%= article.date %></span>
                        </h5>

                        <div class="bottom-text">
                            <a class="announcement-sender" href="../profiles/<%= article.sender._id %>">
                                <img src="<% if (article.sender.mediaFile.display) {%> <%= article.sender.mediaFile.url%><%} else {%> <%=article.sender.imageUrl.url%><%}%>" alt="profile pic"
                                        class="sender-profile-image">
                                <%= article.sender.firstName %> <%= article.sender.lastName %>
                            </a>
                            <% if (currentUser._id.toString() == article.sender._id.toString()) { %>
                                <button type="button" class="edit-button btn btn-info"><a
                                            class="announcement-button"
                                            href="/articles/<%= article._id %>/edit"><i
                                                class="fas fa-cog"></i> Edit</a></button>

                                <form action="/articles/<%= article._id %>?_method=delete" method="post" style="display: inline-block;"
                                        class="delete-article">
                                    <button class="btn btn-danger announcement-button" type="button"
                                            data-toggle="modal"
                                            data-target="#modal-<%= article._id %>"><i
                                                class="far fa-trash-alt"></i>
                                        Delete
                                    </button>
                                    <div class="modal fade" id="modal-<%= article._id %>" tabindex="-1"
                                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content mode">
                                                <div class="modal-header mode">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete
                                                        Article?</h5>
                                                    <button type="button" class="close mode" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body mode">
                                                    This action is irreversible. You will have to manually recreate
                                                    this
                                                    article.
                                                </div>
                                                <div class="modal-footer mode">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">No,
                                                        Go Back
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Yes, Delete
                                                        Article
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <% } %>

                            <% if (article.likes.includes(currentUser._id)) { %>
                                <span class="liked-button"><i id="like-<%= article._id %>-index"
                                                                onclick="like(this, 'article', 'articles')"
                                                                class="fas fa-thumbs-up"></i></span> <span
                                        class="likeCount-<%= article._id %>"><%= article.likes.length %></span>

                            <% } else { %>
                                <span class="unliked-button"><i id="like-<%= article._id %>-index"
                                                                onclick="like(this, 'article', 'articles')"
                                                                class="fas fa-thumbs-up"></i></span> <span
                                        class="likeCount-<%= article._id %>"><%= article.likes.length %></span>

                            <% } %>
                            <a class="comment-button" href="/articles/<%= article._id %>#comment-section"><i
                                        class="fas fa-comment-dots"></i> <%= article.comments.length %></a>
                        </div>
                    </div>

                    <div class="block-content mode">
                        <% if (article.text.split(" ").length > 30) { %>
                            <p class="announcement-text"><%= article.text.split(" ").slice(0, 31).join(" ") %> <a
                                        href="/articles/<%= article._id %>">(Read More)</a></p>
                        <% } else { %>
                            <p class="announcement-text"><%= article.text %></p>
                        <% } %>

                    </div>
                </article>
            </div>
        </div>
        <br class="text-break" id="break-<%= article._id %>"/>

    <% }) %>
</div>
</body>
<script>
    if (document.getElementById("search-input")) {
        document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
    }
</script>
</html>
