<%- include('../partials/headStart') %>
<link rel="stylesheet" href="/stylesheets/polls/index.css">
<%- include('../partials/headEnd') %>
<body>
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 my-5">
                <!-- jumbotron was deprecated. Custom jumbo. -->
                <div class="bg-light text-center rounded-5">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold"><i class="fas fa-<%=data.icon%>"></i> <%= data.name %></h1>
                        <p class="fs-4"><%= data.description %></p>
                        <% if(currentUser && currentUser.tags.includes('Pollster')) { %> 
                            <a href="/polls/new" class="btn btn-info">Create New Poll</a>
                        <% } %> 
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 mb-5">
                <h4>Current Polls</h4>
                <ul class="list-group">
                    <% openPolls.forEach(function(poll) { %>
                        <li class="list-group-item list-group-item-action">
                            <span class="poll-user"><%= poll.sender.username %></span> (<%= poll.date %>): <%= poll.subject %> 
                            <a href="/polls/<%= poll._id %>" class="btn btn-info float-right">View</a> 
                        </li>
                    <% }); %> 
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 my-5">
                <h4>Closed Polls</h4>
                <ul class="list-group">
                    <% closedPolls.forEach(function(poll) { %>
                        <li class="list-group-item list-group-item-action">
                            <span class="poll-user"><%= poll.sender.username %></span> (<%= poll.date %>): <%= poll.subject %> 
                            <% if(currentUser && poll.sender._id.equals(currentUser._id)) { %> 
                                <form class="d-inline-block float-right" action="/polls/<%= poll._id %>/toggle-close" method="post">
                                    <button class="btn btn-info" type="submit">Reopen Poll</button>
                                </form> 
                            <% } %> 
                        </li>
                    <% }); %> 
                    </ul>
            </div>
        </div>
    </div>
</body>
</html>