<%- include('../partials/headStart') %>
<link rel="stylesheet" href="/stylesheets/polls/new.css">
<%- include('../partials/headEnd') %>
<body>
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 my-5">
                <!-- jumbotron was deprecated in v5. Custom jumbo. -->
                <div class="bg-light text-center rounded-5">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">New <%= data.name %></h1>
                        <a href="/polls" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <form action="/polls" method="post">
                    <div class="form-group">
                        <label class="form-label" for="formTitle">Title</label>
                        <input 
                            class="form-control" id="formTitle" name="formTitle" 
                            type="text" placeholder="The form's display name..." required maxlength="80">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="googleFormUrl">Google Forms Share Url</label>
                        <a href="#" class="d-block">Where do I find this?</a>
                        <input 
                            class="form-control" id="googleFormUrl" name="googleFormUrl" 
                            type="text" required 
                            placeholder="Ex. https://docs.google.com/forms/d/e/.../viewform?usp=sf_link">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="formWidth">Form Width (px) [optional]</label>
                        <input 
                            class="form-control" name="formWidth" type="number" 
                            placeholder="480" min="250">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="formHeight">Form Height (px) [optional]</label>
                        <input 
                            class="form-control" name="formHeight" type="number" 
                            placeholder="640" min="300">
                    </div>
                    <button class="btn btn-success" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>