<!DOCTYPE html>
<html>

<head>
  <title>Saberchat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <!-- link css for navbar. Don't need to include public/javascript/itemForm.js since item is already logged in and does not need to access login and register forms.  -->
  <link rel="stylesheet" href="/stylesheets/components/navbar.css">
  <link rel="stylesheet" href="/stylesheets/chat/new.css">

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- I'm using my fontawesome kit -->
  <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
  <script src="/javascript/cafe/cafe-socket.js"></script>
</head>

<body>
  <!-- include the navbar via ejs -->
  <%- include('../partials/navbar') %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1 style="text-align: center; width: 100%">New Cafe Order</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-12">
        <form id="orderForm" action="/cafe/new" method="post">
          <div id="item-selection">
            <h4>Select Items</h4>

            <div class="search-filter mb-3">
              <i class="fas fa-search"></i>
              <input id="search-input" onkeyup="searchFunction()" class="form-control" type="text" placeholder="Search..." title="Type in itemname">
            </div>

            <div id="item-list">
              <% items.forEach(function(item) { %>
                <% if (item.isAvailable == true) { %>
                  <div id="form-check" class="form-check">
                    <input name="check[<%= item._id %>]" id="<%= item._id%>" class="form-check-input" type="checkbox" value="">
                    <select class="num-orders" id="dd_<%=item._id%>" name="<%=item.name%>">
                      <% if (item.availableItems > 5) { %>
                        <% [0, 1, 2, 3, 4, 5].forEach(function(num) { %>
                          <option><%=num%></option>
                        <% }) %>
                      <% } else { %>
                        <% [...Array(item.availableItems + 1).keys()].forEach(function(num) { %>
                          <option><%=num%></option>
                        <% }) %>
                      <% } %>
                    </select>
                    <label class="form-check-label" for="<%= item._id%>"><%= item.name %> (<%= item.availableItems %> orders available): $<%= item.price %></label>
                    <!-- <span class="form-check-label"><%= item.name %>: $<%= item.price %></span> -->
                  </div>
                <% }%>
              <% }); %>
            </div>
          </div>
          <br />
          <button id="confirm" style="margin-bottom: 10px;" type="button" class="btn btn-secondary">Confirm Purchase/View Total</button><br />
          <strong id="total-cost">Total Cost: $0</strong>
          <div class="form-group mt-3">
            <textarea id="descInput" class="form-control" name="instructions" placeholder="Add special instructions for your order" maxlength="100" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Complete your Order</button>
        </form>
        <a style="display: block; margin-top: 1rem;" href="/cafe">Go Back</a>
      </div>
    </div>
  </div>
  <script>

    const fci = document.getElementsByClassName('form-check-input')
    const fcl = document.getElementsByClassName('form-check-label')
    const numOrders = document.getElementsByClassName('num-orders')
    const total = document.getElementById('total-cost')
    const confirm = document.getElementById("confirm")
    let sum = 0

    confirm.addEventListener('click', () => {
      sum = 0
      for (let i of fci) {
        for (let l of fcl) {
          if (l.htmlFor == i.id) {
            if (i.checked) {
              for (let no of numOrders) {
                if (no.id.split('_')[1] == i.id) {
                  sum += parseInt(no.value) * parseFloat(l.innerText.split('$')[1])
                }
              }
            }
          }
        }
      }
      total.innerText = `Total Cost: $${sum}`
    })

    order(orderForm, '<%= currentUser._id %>');

    function searchFunction() {
      let input = document.getElementById("search-input");
      let filter = input.value.toUpperCase();
      let list = document.getElementById("item-list");
      let items = list.getElementsByClassName('form-check');
      for (i = 0; i < items.length; i++) {
        let item = items[i].getElementsByTagName('label')[0];
        let txtValue = item.textContent || item.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          items[i].style.display = "";
        } else {
          items[i].style.display = "none";
        }
      }
    }
  </script>
</body>

</html>
