<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
      <link rel="stylesheet" href="/stylesheets/components/header.css">
      <link rel="stylesheet" href="/stylesheets/components/navbar.css">
      <link rel="stylesheet" href="/stylesheets/chat/new.css">
      <link rel="stylesheet" href="/stylesheets/cafe/new.css">
      <link rel="stylesheet" href="/stylesheets/cafe/show.css">
      <link rel="stylesheet" href="/stylesheets/cafe/edit.css">
      <%if (currentUser) {%>
        <%if (currentUser.darkmode) { %>
          <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <%}%>
      <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      <!-- I'm using my fontawesome kit -->
      <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
      <script src="/javascript/cafe/image.js"></script>
  </head>
  <body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="col-12 main">
                <h1 id="heading">Edit Cafe Item - "<%= item.name %>"</h1>
                <a class="btn btn-primary" href="/cafe/manage"><i class="fas fa-arrow-left"></i> Back</a><br/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
            <form action="/cafe/item/<%= item._id %>?_method=put" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="usernameInput">Name</label>
                            <input id="usernameInput" class="form-control mode" type="text" name="name" placeholder="name"
                                   value="<%= item.name %>" maxlength="45" required>
                        </div>
                        <div class="col">
                            <label for="priceInput">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mode">$</div>
                                </div>
                                <input id="priceInput" class="form-control mode" type="text" name="price"
                                       placeholder="price" value="<%= `${(item.price * 100).toString().slice(0, (item.price * 100).toString().length - 2)}.${(item.price * 100).toString().slice((item.price * 100).toString().length - 2)}` %>"
                                       maxlength="10" required>

                            </div>
                        </div>
                        <div class="col">
                            <label for="usernameInput">Available</label>
                            <input id="usernameInput" class="form-control mode" type="text" name="available"
                                   placeholder="Available Orders" value="<%= item.availableItems %>" maxlength="45"
                                   required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3 field">
                                <label id="category-input-label" for="categoryInput">Type</label>
                                <select id="categoryInput" name="category" class="field mode">
                                    <option disabled selected required>Meal Type</option>
                                    <% categories.forEach(category => { %>
                                        <% if (category.items.includes(item._id)) { %>
                                            <option selected><%= category.name %></option>
                                        <% } else { %>
                                            <option><%= category.name %></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="file-row">
                        <div class="col">
                            <% if (item.imageFile.filename && [".png", ".jpg", ".jpeg", ".gif"].includes(fileExtensions.get(item.imageFile.url).toLowerCase())) { %>
                                    <div id="file-image">
                                        <img id="item-image-file" src="<%= item.imageFile.url%>" alt="Image Does Not Exist"/>
                                    </div>
                            <% } %>
                            <br />
                            <label for="imageFile">Image Upload (New Image Replaces Old One)</label>
                            <input type="file" name="imageFile" class="image-upload form-control-file" accept="image/png, image/jpg, image/jpeg">
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col">
                            <label for="usernameInput">Image (URL)</label>
                            <div id="image-block">
                                <input id="image-input" oninput="createImage(this)" class="form-control mode" type="text"
                                       name="image" value="<%= item.imgUrl.url %>" placeholder="Enter URL for Item Image">
                                <br/>
                                <img id="item-image" src="<%= item.imgUrl.url %>" alt="Image Does Not Exist"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="radio" name="showImage" value="upload" id="showUploadedImage" <% if (item.imageFile.display) {%> checked <%}%>/>
                        <label for="showUploadedImage">Display Uploaded Image</label>
                        <br />
                        <input type="radio" name="showImage" value="url" id="showLinkImage" <% if (item.imgUrl.display) {%> checked <%}%>/>
                        <label for="showLinkImage">Display Image URL</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descInput">Description</label>
                    <textarea id="descInput" class="form-control mode" name="description" maxlength="300" rows="5"
                              placeholder="Description" required><%= item.description %></textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block">Submit Changes</button>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2 col-12">
            <form action="/cafe/item/<%= item._id %>?_method=delete" method="post" id="delete-form">
                <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#modal"
                        id="delete-button">Delete Item
                </button>
                <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog mode">
                        <div class="modal-content mode">
                            <div class="modal-header mode">
                                <h5 class="modal-title" id="exampleModalLabel">Delete this item?</h5>
                                <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mode">
                                You will have to manually add these items back.
                            </div>
                            <div class="modal-footer mode">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
