<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witherly Heights</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/wHeights/index.css">
    <link rel="stylesheet" href="/stylesheets/wHeights/simple-image.css">
    <link rel="stylesheet" href="/stylesheets/wHeights/new.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <!-- <script defer src="/javascript/wHeights/new.js"></script>
    <script src="/javascript/wHeights/new_edit.js"></script> -->
</head>
<body>

<%- include('../partials/navbar') %>
<%- include('../partials/header') %>
<!-- include('../partials/wHeightsNav') -->

<!-- editor -->
<br/>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Head. Enter title and author -->
            <div id="article-head">
                <h1>New Article</h1>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" id="title" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="author">Author</label><br/>
                    <select required id="author" name="author" class="form-control">
                        <option value="">Select A Student</option>
                        <% for (let student of students) { %>
                            <option value="<%= student._id %>">
                                <%= student.username %>
                            </option>
                        <% } %>
                    </select>
                    <!-- <label for="author">Author</label>
                    <input id="author" class="form-control" type="text" name="author"> -->
                </div>

                <div class="form-group">
                    <label for="type">Category</label><br/>
                    <select required id="type" name="type" class="form-control">
                        <option value="">Select A Category</option>
                        <% for (let type of types) { %>
                            <option value="<%= type._id %>">
                                <%= type.name %>
                            </option>
                        <% } %>
                    </select>
                </div>

                <button class="btn btn-success" id="save-button">Save</button>
            </div>

        </div>
    </div>
</div>
<!-- Editor, build the article -->
<div id="article-content">
    <hr>
    <div id="editorjs"></div>
</div>
<pre id="output"></pre>
<script src="/editor/editorjs/dist/editor.js"></script>
<script src="/editor/header/dist/bundle.js"></script>
<script src="/editor/list/dist/bundle.js"></script>
<script src="/javascript/wHeights/simple-image.js"></script>
<script src="/javascript/wHeights/new_edit.js"></script>
</body>
</html>
