<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">
    <link rel="stylesheet" href="/stylesheets/tutoringCenter/index.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/tutoringCenter/tutoringCenter-dark.css">
    <%}%>

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/tutoringCenter/settings.js"></script>
    <script src="/javascript/tutoringCenter/actions.js"></script>

<%- include('../partials/headEnd') %>

<body class="mode">
      <%- include('../partials/components/navbar') %>
      <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-<%=data.icon%>"></i> <%=data.name%> </h1>
                <p>A platform for students to communicate and help each other learn</p>
                <% if (currentUser.status == platform.teacherStatus) { %>
                    <form action="/tutoringCenter" method="post" id="add-course-form" enctype="multipart/form-data">
                        <button type="button" data-toggle="modal" data-target="#modal-teacher" class="btn btn-info"><i class="fas fa-<%=data.icon%>"></i> Create Course
                        </button>
                        <div class="modal fade" id="modal-teacher" tabindex="-1" aria-labelledby="deleteModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">Create New Course</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                        <input class="form-control mode" type="text" name="title" placeholder="Course Name"/><br/>
                                        <input class="form-control mode" type="text" id="thumbnail" name="thumbnail" placeholder="Course Thumbnail" oninput="changeThumbnailInit()"/>
                                        <img hidden id="thumbnail-photo" src=""/><br/>
                                        <div class="form-group">
                                            <label for="mediaFile">Thumbnail Upload</label>
                                            <input type="file" name="mediaFile" class="image-upload form-control-file" accept="image/png, image/jpg, image/jpeg">
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" name="showThumbnail" value="upload" id="showUploadedImage" checked/>
                                            <label for="showUploadedImage">Display Uploaded Image</label>
                                            <br />
                                            <input type="radio" name="showThumbnail" value="url" id="showLinkImage"/>
                                            <label for="showLinkImage">Display Image URL</label>
                                        </div>
                                        <textarea rows="5" class="form-control mode" name="description"
                                                  placeholder="Course Description"></textarea>
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                        </button>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                <% } else if (studentStatuses.includes(currentUser.status)) { %>
                    <form action="/tutoringCenter/join" method="post" id="join-course-student">
                        <button type="button" data-toggle="modal" data-target="#modal-join" class="btn btn-primary"><i class="fas fa-<%=data.icon%>"></i> Join Course
                        </button>
                        <div class="modal fade" id="modal-join" tabindex="-1" aria-labelledby="deleteModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">Join Course</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                        <input class="form-control mode" type="password" name="joincode"
                                               placeholder="Enter Join Code"/>
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                        </button>
                                        <button type="submit" class="btn btn-primary">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <% if (currentUser.tags.includes("Tutor")) { %>
                        <form action="/tutoringCenter/join" method="post" id="join-course-tutor">
                            <button type="button" data-toggle="modal" data-target="#modal-tutor"
                                    class="btn btn-success"><i class="fas fa-<%=data.icon%>"></i> Join Course As
                                Tutor
                            </button>
                            <div class="modal fade" id="modal-tutor" tabindex="-1" aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog mode">
                                    <div class="modal-content mode">
                                        <div class="modal-header mode">
                                            <h5 class="modal-title" id="exampleModalLabel">Join Course As Tutor</h5>
                                            <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mode">
                                            <input class="form-control mode" type="password" name="joincode"
                                                   placeholder="Enter Join Code"/><br/>
                                            <label for="slots" id="slots-label">Number of Student Slots: 0</label><br/>
                                            <select class="form-control mode tutor-dropdown" name="slots" onchange="setStudents()" id="slots">
                                                <% for (let i = 0; i < 10; i++) { %>
                                                    <option value="<%=i%>"><%=i%></option>
                                                <% } %>
                                            </select>
            
                                            <label for="cost" id="cost-label" class="darkmode-header"><span
                                            id="cost-heading">Hourly Cost: </span>
                                            <% if (platform.dollarPayment) {%>
                                                <span id="cost-count">$0.00</span></label><br>
                                            <% } else {%>
                                                <span id="cost-count">0 Credits</span></label><br>
                                            <% } %>
                                            <select class="form-control mode tutor-dropdown" name="cost" onchange="setCost(<%=platform.dollarPayment%>)" id="cost">
                                                <% for (let i = 5; i <= 30; i+=5) { %>
                                                    <option value="<%=i%>"><%=i.toFixed(2)%></option>
                                                <% } %>
                                            </select>
                        
                                            <% if (platform.dollarPayment) {%>
                                                <label for="cost" id="cost-label">Hourly Cost: $10.00</label><br/>
                                            <% } else { %>
                                                <label for="cost" id="cost-label">Hourly Cost: 10 Credits</label><br/>
                                            <% } %>

                                            <textarea rows="5" minlength="50" maxlength="500" class="form-control mode"
                                                      name="bio" placeholder="A Short Bio About Yourself"></textarea>
                                        </div>
                                        <div class="modal-footer mode">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                            </button>
                                            <button type="submit" class="btn btn-primary">Join</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                <% } %>

            </div>
        </div>
    </div>

    <div id="courses">
        <% if (courses.length == 0) { %>
            <h2>No Courses</h2>
        <% } else { %>
            <% for (let course of courses) { %>
                <div class="card course-title darkmode-outline" title="<%= course.name %>">
                    <img class="card-img-top course-thumbnail" src="<% if (course.thumbnailFile.display) { %> <%=course.thumbnailFile.url%> <%} else { %> <%= course.thumbnail.url %> <% } %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= course.name.slice(0, 25) %>
                            <% if (course.name.length > 25) { %>...
                            <% } %>
                        </h5>

                        <span class="card-text user-position">
                            <% if (course.creator.equals(currentUser._id)) { %>
                                Teacher
                            <% } else if (course.members.includes(currentUser._id)) { %>
                                Student
                            <% } else { %>
                                <% for (let tutor of course.tutors) { %>
                                    <% if (tutor.tutor.equals(currentUser._id)) { %>
                                        Tutor
                                        <% break; %>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </span><br/>

                        <p class="card-text course-description"><%= course.description.slice(0, 101) %>
                            <% if (course.description.length > 100) { %>...
                            <% } else if (course.description.length < 100) {%>
                                <% for (let i = 0; i < 100 - course.description.length; i++) { %>&nbsp;<% } %>
                            <% } %>
                        </p>
                        <a href="tutoringCenter/<%= course._id %>" class="btn btn-primary">Go to Course</a>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>
</body>
</html>
