<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">

    <link rel="stylesheet" href="/stylesheets/profiles/index.css">
    <link rel="stylesheet" href="/stylesheets/profiles/show.css">
    <link rel="stylesheet" href="/stylesheets/tutoringCenter/show.css">
    <link rel="stylesheet" href="/stylesheets/tutoringCenter/tutor-show.css">

      <script src="/javascript/postUtil.js"></script>
      <script src="/javascript/tutoringCenter/settings.js"></script>
      <script src="/javascript/tutoringCenter/upvote.js"></script>
      <script src="/javascript/tutoringCenter/actions.js"></script>
      <script src="/javascript/tutoringCenter/rating.js"></script>

<%- include('../partials/headEnd') %>

<body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/components/navbar') %>

<div id="banner" style="background-image: url('<% if (tutor.tutor.bannerFile.display) { %> <%= tutor.tutor.bannerFile.url %> <% } else { %> <%= tutor.tutor.bannerUrl.url %> <% } %>');"></div>

<div class="container mb-5 tutor-info">
    <a href="../../profiles/<%= tutor.tutor._id %>"><img src="<% if (tutor.tutor.mediaFile.display) {%> <%= tutor.tutor.mediaFile.url%><%} else {%> <%=tutor.tutor.imageUrl.url%><%}%>" alt="profile image"
                                                         class="profile-image"></a>
    <a href="../../profiles/<%= student.student._id %>"><img src="<% if (student.student.mediaFile.display) {%> <%= student.student.mediaFile.url%><%} else {%> <%=student.student.imageUrl.url%><%}%>" alt="profile image"
                                                     class="profile-image"></a>
    <h1 class="username mode"><%= student.student.firstName %>'s Lessons
        with <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %></h1>
</div>

<div class="container mt-5">
    <% if (student.lessons.length > 0) { %>
        <ul id="lesson-info-<%= student.student._id %>" class="list-group">
            <li class="list-group-item list-group-item-success status-header darkmode-outline">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1 darkmode-header"><%= student.lessons.length %> Lessons ($<span id="cost"><%=cost%></span> Owed)</h2>
                    <p id="time-count" class="darkmode-header"><%=time%> minutes</p>
                </div>
            </li>

            <% let lesson;%>
            <% for (let i = student.lessons.length-1; i >= 0; i--) { %>
                <% lesson = student.lessons[i];%>
                <li class="list-group-item list-group-item-action tutor-profile menu-item shop">
                    <span class="lesson-info"><%= lesson.date %> | <%= lesson.time %> minute(s)</span><br/>
                    <p>
                        <%= lesson.summary %>
                    </p>

                    <% if (student.student._id.equals(currentUser._id)) { %>
                        <% if (lesson.approved) { %>
                            <button onclick="approve(this)" id="<%=course._id%>-<%=tutor.tutor._id%>-<%=i%>" class="btn btn-danger" style="float: right;">Reject Lesson</button>
                        <% } else {%>
                            <button onclick="approve(this)" id="<%=course._id%>-<%=tutor.tutor._id%>-<%=i%>" class="btn btn-success" style="float: right;">Approve Lesson</button>
                        <% } %>
                    <% } else { %>
                        <% if (lesson.approved) { %>
                            <span style="font-weight: bold; color: green;">Lesson Approved</span>
                        <% } else { %>
                            <span style="font-weight: bold; color: red;">Lesson Has Not Been Approved</span>
                        <% } %>
                    <% } %>

                    <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                        <% if (lesson.paid) { %>
                            <button onclick="markPayment(this)" id="<%=course._id%>-<%=student.student._id%>-<%=i%>" class="btn btn-danger" style="float: right;">Cancel Payment</button>
                        <% } else {%>
                            <button onclick="markPayment(this)" id="<%=course._id%>-<%=student.student._id%>-<%=i%>" class="btn btn-success" style="float: right;">Accept Payment</button>
                        <% } %>
                    <% } else { %>
                        <br>
                        <% if (lesson.paid) { %>
                            <span style="font-weight: bold; color: green;">Lesson Paid</span>
                        <% } else { %>
                            <span style="font-weight: bold; color: red;">Lesson Has Not Been Paid For</span>
                        <% } %>
                    <% } %>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <% if (platform.dollarPayment) { %>
            <h1 id="no-lessons">No Lessons ($0.00)</h1>
        <% } else { %>
            <h1 id="no-lessons">No Lessons (0 Credits)</h1>
        <% } %>
    <% } %>
</div>
</body>
<script>
    document.getElementById("time-count").innerText = getTime(document.getElementById("time-count").innerText.split(' ')[0]);
    for (let element of document.getElementsByClassName("shop")) {
        element.style.backgroundColor = colorScheme[1];
    }
</script>
</html>
