<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/tutoringCenter/show.css">
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/shop/menu.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/tutoringCenter/tutoringCenter-dark.css">
        <link rel="stylesheet" href="/stylesheets/darkmode.css">
    <%}%>

    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/tutoringCenter/settings.js"></script>
    <script src="/javascript/tutoringCenter/search.js"></script>
    <script src="/javascript/tutoringCenter/upvote.js"></script>
    <script src="/javascript/tutoringCenter/rating.js"></script>
    <script src="/javascript/tutoringCenter/actions.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
      <!-- include the navbar via ejs -->
      <%- include('../partials/components/navbar') %>
      <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="header-section">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-center" id="course-thumbnail"
                     style="background-image: url('<% if (course.thumbnailFile.display) { %> <%=course.thumbnailFile.url%> <%} else { %> <%= course.thumbnail.url %> <% } %>');">
                    <h1 id="courseName"><%= course.name %></h1>
                    <p id="courseDescription"><%= course.description %></p>
                    <a id="back-button" class="btn btn-primary" href="/tutoringCenter"><i class="fas fa-arrow-left"></i> Back</a>

                    <% if (studentIds.includes(currentUser._id.toString()) || tutorIds.includes(currentUser._id.toString())) { %>
                        <form
                        <% if (studentIds.includes(currentUser._id.toString())) { %>
                            action="/tutoringCenter/unenroll-student/<%= course._id %>"
                            <% } else { %>action="/tutoringCenter/unenroll-tutor/<%= course._id %>" <% } %>method="post"
                            id="unenroll-form">
                            <button class="btn btn-danger" type="button" data-toggle="modal"
                                    data-target="#modal-<%= course._id %>"><i class="fas fa-minus"></i> Unenroll
                            </button>
                            <div class="modal fade" id="modal-<%= course._id %>" tabindex="-1"
                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content mode">
                                        <div class="modal-header mode">
                                            <h5 class="modal-title" id="exampleModalLabel">Unenroll
                                                from <%= course.name %>
                                                ?</h5>
                                            <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mode">
                                            You will have to be given the join code again to join back.
                                        </div>
                                        <div class="modal-footer mode">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go
                                                Back
                                            </button>
                                            <button type="submit" class="btn btn-danger">Yes, Unenroll</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

        <ul class="nav justify-content-center options-bar">
          <li class="nav-item tab-header tab active-tab" id="people" onclick="changeTab(this, <%=currentUser.darkmode%>)">
            <a class="nav-link active" >People</a>
          </li>

        <li class="nav-item tab-header tab" id="tutors" onclick="changeTab(this, <%=currentUser.darkmode%>)">
            <a class="nav-link">Tutors</a>
        </li>

        <% if (course.creator._id.equals(currentUser._id)) { %>
            <li class="nav-item tab-header tab" id="settings" onclick="changeTab(this, <%=currentUser.darkmode%>)">
                <a class="nav-link">Settings</a>
            </li>

            <!-- <li class="nav-item tab-header tab" id="blocked" onclick="changeTab(this, <%=currentUser.darkmode%>)">
                <a class="nav-link">Blocked</a>
            </li> -->
        <% } %>
    </ul>

    <div class="row people"><br/>
        <div class="col-12">

          <ul class="list-group">
            <li class="list-group-item list-group-item-success mode darkmode-outline">Teacher</li>
            <li class="list-group-item shop">
              <a href="/profiles/<%=course.creator._id%>" class="user-element-text shop">
                <img class="profile-image" src="<% if (course.creator.mediaFile.display) {%> <%= course.creator.mediaFile.url%><%} else {%> <%=course.creator.imageUrl.url%><%}%>" alt="profile picture">
                <span class="username <%=course.creator.status%> <%=course.creator.permission%> <%=course.creator.tags.join(' ')%>"><span class="enrolled-name"><%=course.creator.firstName%> <%=course.creator.lastName%></span> <span class="enrolled-username"><%=course.creator.username%></span></span>
              </a>
            </li>
          </ul>
          <br />

          <% if (course.members.length > 0) { %>
            <ul class="list-group" id="students">
              <li class="list-group-item list-group-item-success mode darkmode-outline" id="students-heading">Students</li>
              <% for (let student of course.members) { %>
                <li class="list-group-item shop mode" id="item-<%=student._id%>">
                  <a href="../profiles/<%=student._id%>"class="user-element-text shop">
                    <img class="profile-image" src="<% if (student.mediaFile.display) {%> <%= student.mediaFile.url%><%} else {%> <%=student.imageUrl.url%><%}%>" alt="profile picture">
                    <span class="username <%=student.status%> <%=student.permission%> <%=student.tags.join(' ')%>"><span class="enrolled-name"><%=student.firstName%> <%=student.lastName%></span> <span class="enrolled-username"><%=student.username%></span></span>
                  </a>
                  <% if (course.creator._id.equals(currentUser._id)) { %>
                    <button class="btn btn-danger leave-button" id="remove-button-<%=student._id%>" data-toggle="modal" data-target="#modal-index-remove-<%=student._id%>">Remove Student</button>
                  <% } else if (currentUser.tags.includes("Tutor")) {%>
                    <% for (let tutor of course.tutors) { %>
                        <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                            <% if (objectArrIndex(tutor.members, "student", student._id) > -1) { %>
                                <a style="margin-left: 10px;" class="btn btn-success" href="/chat/<%=tutor.members[objectArrIndex(tutor.members, 'student', student._id)].room%>">Chat</a>
                            <% } %>
                        <% } %>
                    <% } %>
                 <% } %>
                </li>

                <div class="modal fade" id="modal-index-remove-<%=student._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog mode">
                    <div class="modal-content mode">
                      <div class="modal-header mode">
                        <h5 class="modal-title" id="exampleModalLabel">Remove <%=student.firstName%> <%=student.lastName%> From Your Course?</h5>
                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body mode">
                        <textarea rows="5" class="form-control mode" id="reason-<%=student._id%>" name="review" placeholder="Please explain why you wish to remove <%=student.firstName%>."></textarea>
                      </div>
                      <div class="modal-footer mode">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=student._id%>" onclick="removeStudent(this, 'show')">Yes, Remove Student</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
            </ul>
          <br />
          <% } %>

          <% if (course.tutors.length > 0) { %>
            <ul class="list-group" id="tutor-index">
              <li class="list-group-item list-group-item-success mode darkmode-outline" id="tutor-heading-index">Tutors</li>
              <% for (let tutor of course.tutors) { %>
                <li class="list-group-item list-group-item-action tutor-profile menu-item shop" id="item-<%=tutor.tutor._id%>">
                  <a href="/tutoringCenter/tutors/<%=course._id%>?tutorId=<%=tutor.tutor._id%>" class="user-element-text shop">
                    <img class="profile-image" src="<% if (tutor.tutor.mediaFile.display) {%> <%= tutor.tutor.mediaFile.url%><%} else {%> <%=tutor.tutor.imageUrl.url%><%}%>" alt="profile picture">
                    <span class="username <%=tutor.tutor.status%> <%=tutor.tutor.permission%> <%=tutor.tutor.tags.join(' ')%>"><span class="enrolled-name"><%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%> <% if (tutor.tutor._id.equals(currentUser._id)) {%> (Me) <% } %></span> <span class="enrolled-username"><%=tutor.tutor.username%></span></span>
                  </a>
                  <% if (course.creator._id.equals(currentUser._id)) { %>
                    <button class="btn btn-danger leave-button" id="remove-button-<%=tutor.tutor._id%>" data-toggle="modal" data-target="#modal-index-remove-<%=tutor.tutor._id%>">Remove Tutor</button>
                  <% } %>
                </li>

                <div class="modal fade" id="modal-index-remove-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog mode">
                    <div class="modal-content mode">
                      <div class="modal-header mode">
                        <h5 class="modal-title" id="exampleModalLabel">Remove <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%> From Your Course?</h5>
                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body mode">
                        <textarea rows="5" class="form-control mode" id="reason-<%=tutor.tutor._id%>" name="review" placeholder="Please explain why you wish to remove <%=tutor.tutor.firstName%>."></textarea>
                      </div>
                      <div class="modal-footer mode">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-danger" id="<%=course._id%>-<%=tutor.tutor._id%>" onclick="removeTutor(this, 'show')">Yes, Remove Tutor</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </ul>
            <br/>
        <% } %>
        </div>
    </div>

    <div class="row tutors" hidden>
        <div class="col-12">
          <% if (course.tutors.length > 0) { %>
            <ul class="list-group" id="tutor-div">
              <li class="list-group-item list-group-item-success mode darkmode-outline">
                <div class="d-flex w-100 justify-content-between">
                  <span class="mb-1">Tutors</span>
                </div>
              </li>

              <% for (let tutor of course.tutors) { %>
                  <li class="list-group-item list-group-item-action tutor-profile menu-item shop" id="tutor-<%=tutor.tutor._id%>">
                    <a href="/tutoringCenter/tutors/<%=course._id%>?tutorId=<%=tutor.tutor._id%>" class="tutor-link shop">
                      <img class="profile-image" src="<% if (tutor.tutor.mediaFile.display) {%> <%= tutor.tutor.mediaFile.url%><%} else {%> <%=tutor.tutor.imageUrl.url%><%}%>" alt="profile picture">
                      <span class="tutor-name <%=tutor.tutor.status%> <%=tutor.tutor.permission%> <%=tutor.tutor.tags.join(' ')%>"><%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%> <% if (tutor.tutor._id.equals(currentUser._id)) {%> (Me) <% } %></span>
                    </a>

                    <% if (studentIds.includes(currentUser._id.toString())) { %>
                            <div id="tutor-actions-<%= tutor.tutor._id %>" class="tutor-actions">
                                <% if (objectArrIndex(tutor.members.concat(tutor.formerStudents), "student", currentUser._id) > -1) { %>
                                    <button class="btn btn-warning review-button"
                                            id="review-button-<%= tutor.tutor._id %>"
                                            data-toggle="modal" data-target="#modal-review-<%= tutor.tutor._id %>">Leave A Review
                                    </button>
                                    <% if (objectArrIndex(tutor.members, "student", currentUser._id) > -1) { %>
                                        <button class="btn btn-danger leave-button"
                                                id="leave-button-<%= tutor.tutor._id %>"
                                                data-toggle="modal"
                                                data-target="#modal-stop-<%= tutor.tutor._id %>">Stop Lessons
                                        </button>
                                        <a id="chat-button-<%= tutor.tutor._id %>"
                                            class="btn btn-success leave-button"
                                            href="/chat/<%=tutor.members[objectArrIndex(tutor.members, 'student', currentUser._id)].room%>">Chat
                                        </a>
                                    <% } else { %>
                                        <% if (tutor.available) { %>
                                            <button class="btn btn-info book-button"
                                                    id="book-button-<%= tutor.tutor._id %>"
                                                    data-toggle="modal"
                                                    data-target="#modal-book-<%= tutor.tutor._id %>">Book This Tutor
                                            </button>
                                        <% } else { %>
                                            <span class="unavailable-tutor">Tutor Is Unavailable</span>
                                        <% } %>
                                    <% } %>
                                <% } else { %>
                                    <% if (tutor.available) { %>
                                        <button class="btn btn-info book-button"
                                                id="book-button-<%= tutor.tutor._id %>"
                                                data-toggle="modal"
                                                data-target="#modal-book-<%= tutor.tutor._id %>">Book This Tutor
                                        </button>
                                    <% } else { %>
                                        <span class="unavailable-tutor">Tutor Is Unavailable</span>
                                    <% } %>
                                <% } %>
                            </div>
                    <% } else if (course.creator._id.equals(currentUser._id)){ %>
                        <div id="tutor-actions-<%= tutor.tutor._id %>" class="tutor-actions">
                            <button class="btn btn-danger leave-button"
                                    id="remove-button-<%= tutor.tutor._id %>"
                                    data-toggle="modal" data-target="#modal-remove-<%= tutor.tutor._id %>">Remove Tutor
                            </button>
                        </div>
                    <% } %>


                            <div title="Upvotes" class="upvotes" id="upvote-<%= course._id %>-<%= tutor.tutor._id %>"
                                 onclick="upvote(this)">
                                <% if (tutor.upvotes.includes(currentUser._id)) { %>
                                    <span class="upvoted"><i class="fas fa-arrow-circle-up"></i></span>
                                <% } else { %>
                                <span class="not-upvoted"><i class="fas fa-arrow-circle-up"></i>
                                    <% } %>
                                    <span class="upvote-count"
                                          id="upvoteCount-<%= course._id %>-<%= tutor.tutor._id %>"> <%= tutor.upvotes.length %></span></span>
                            </div>

                            <div title="Ratings" class="ratings">
                                <% for (let i = 0; i < 5; i += 1) { %>
                                    <i id="<%=i+1%>"
                                    <% if (i + 1 <= tutor.averageRating) { %>
                                       class="fas fa-star average-rating-<%= tutor.tutor._id %> average-rating-selected"
                                    <% } else { %>
                                       class="fas fa-star average-rating-<%= tutor.tutor._id %> average-rating-unselected"
                                            <% } %>
                                    ></i>
                                <% } %>
                            </div> 

                            <% if (platform.dollarPayment) { %>
                                <span title="cost" class="cost-info" id="cost-info-<%=tutor.tutor._id%>">$<%=(tutor.cost).toFixed(2)%></span>
                            <% } else { %>
                                <span title="cost" class="cost-info" id="cost-info-<%=tutor.tutor._id%>"><%=(tutor.cost)%> Credits</span>
                            <% } %>
                            <a href="/tutoringCenter/tutors/<%= course._id %>?tutorId=<%= tutor.tutor._id %>"
                               class="reviews-length"><i class="fas fa-comment-dots reviews-icon"></i> <span
                                        id="reviews-length-<%= tutor.tutor._id %>"><%= tutor.reviews.length %></span>
                                Review(s)</a>

                            <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                                <% if (tutor.available) { %>
                                    <button class="btn btn-danger close-lessons lesson-action"
                                            id="close-<%= course._id %>-<%= tutor.tutor._id %>" data-toggle="modal"
                                            data-target="#modal-close-<%= tutor.tutor._id %>">Prevent Further Bookings
                                    </button>
                                <% } else { %>
                                    <button class="btn btn-success reopen-lessons lesson-action"
                                            id="reopen-<%= course._id %>-<%= tutor.tutor._id %>" data-toggle="modal"
                                            data-target="#modal-reopen-<%= tutor.tutor._id %>">Reopen Lessons
                                    </button>
                                <% } %>
                            <% } %>

                            <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                                <br/>
                                <label for="slots" id="slots-label" class="darkmode-header"><span
                                            id="slots-heading">Number of Student Slots:</span>
                                    <span id="slots-count"><%= tutor.slots + tutor.members.length %></span></label>
                            
                                <br/>
                                <select class="form-control mode" name="slots" onchange="setStudentsShow('<%= course._id %>')" id="slots" style="max-width: 100px;">
                                    <% for (let i = tutor.members.length; i < tutor.slots + tutor.members.length + 10; i++) { %>
                                        <option value="<%=i%>"><%=i%></option>
                                    <% } %>
                                </select>

                                <label for="cost" id="cost-label" class="darkmode-header"><span
                                id="cost-heading">Hourly Cost: </span>
                                <% if (platform.dollarPayment) {%>
                                    <span id="cost-count">$<%=(tutor.cost).toFixed(2)%></span></label><br>
                                <% } else {%>
                                    <span id="cost-count"><%=(tutor.cost)%> Credits</span></label><br>
                                <% } %>
                                <select class="form-control mode" name="cost" onchange="setCostShow('<%= course._id %>')" id="cost" style="max-width: 100px;">
                                    <% for (let i = 5; i <= 30; i+=5) { %>
                                        <option value="<%=i%>" <% if (tutor.cost == i) {%> selected <%}%>><%=i.toFixed(2)%></option>
                                    <% } %>
                                </select>
                            <% } %>

                            <p class="tutor-bio"><%= tutor.bio %></p>
                        </li><br>

                        <div class="modal fade" id="modal-book-<%= tutor.tutor._id %>" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">Book lessons
                                            with <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %>?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                        You will be able to schedule meeting times and work
                                        with <%= tutor.tutor.firstName %> on your classwork.
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                        </button>
                                        <button type="button" class="btn btn-info"
                                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                                onclick="book(this, 'show')">
                                            Yes, Book Lessons
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-review-<%= tutor.tutor._id %>" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Review <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %>?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">

                                        <% for (let i = 0; i < 5; i += 1) { %>
                                            <i class="fas fa-star star-<%= tutor.tutor._id %>"
                                               onclick="rate(this, '<%= tutor.tutor._id %>')" id="<%= i + 1 %>"
                                               name="star"
                                               value="<%= i + 1 %>"></i>
                                        <% } %>
                                        <span id="rating-label">Rate <%= tutor.tutor.firstName %> out of 5</span><br/>

                                        <textarea rows="5" class="form-control mode review"
                                                  id="review-<%= tutor.tutor._id %>"
                                                  name="review"
                                                  placeholder="Write a few sentences about your experience with <%= tutor.tutor.firstName %>"></textarea>
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                                onclick="submitRating(this, 'show')">Submit Review
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-stop-<%= tutor.tutor._id %>" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">Stop lessons
                                            with <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %>?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                        You may not be able to guarantee a slot with <%= tutor.tutor.firstName %>
                                        immediately.
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                                onclick="leave(this, 'show')">
                                            Yes, Stop Lessons
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-close-<%= tutor.tutor._id %>" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">Close all new lesson
                                            bookings?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                        No new students will be able to sign up with you until you reopen availability.
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                                onclick="closeLessons(this, 'show')">Yes, Close Lessons
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-reopen-<%= tutor.tutor._id %>" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">Reopen lesson bookings?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                        New students will be able to sign up with you until you until you close
                                        availability.
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                                onclick="reopenLessons(this, 'show')">Yes, Reopen Lessons
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-remove-<%= tutor.tutor._id %>" tabindex="-1"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog mode">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Remove <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %> From Your
                                            Course?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                    <textarea rows="5" class="form-control mode" id="reason-<%= tutor.tutor._id %>"
                                              name="review"
                                              placeholder="Please explain why you wish to remove <%= tutor.tutor.firstName %>."></textarea>
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                                onclick="removeTutor(this, 'show')">Yes, Remove Tutor
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <% } %>
                </ul>

            <% } else { %>
                <div class="empty-field" id="no-tutors">
                    <br />
                    <h2>No Tutors</h2>
                </div>
            <% } %>
        </div>
    </div>

    <% if (course.creator._id.equals(currentUser._id)) { %>
        <div class="row settings" hidden><br/>
            <div class="col-12">
                <h4>Course Settings</h4>
                <div class="form-group">
                    <span id="join-code-heading">Join Code:</span> <span id="joinCode"><%= course.joinCode %></span>
                    <button class="badge badge-pill badge-info" id="change-join-code"
                            onclick="changeJoinCode('<%= course._id %>', event)">Change
                    </button>
                </div>
                <span id="loading"></span>

                <form id="update-settings" action="/tutoringCenter/<%=course._id%>?_method=put" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="newName">Name</label>
                        <input id="newName" class="form-control mode" type="text" name="name" value="<%= course.name %>"
                               placeholder="Enter Course Name" oninput="changeName(this)" required>
                    </div>
                    <div class="form-group">
                        <label for="descInput">Description</label>
                        <% if(course.description){ %>
                            <textarea id="descInput" class="form-control mode" name="description"
                                      placeholder="Enter Course Description" rows="5"
                                      oninput="changeInfo(this)"><%= course.description %></textarea>
                        <% } else { %>
                            <textarea id="descInput" class="form-control mode" name="description"
                                      placeholder="Enter Course Description" rows="5" oninput="changeInfo(this)"
                                      aria-describedby="descHelp"></textarea>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail-input">Thumbnail Image Url</label><br/>
                        <input id="thumbnail-input" class="form-control mode" type="text" oninput="changeThumbnail(this)"
                               name="thumbnail" value="<%= course.thumbnail.url %>" placeholder="Enter Thumbnail Url">
                    </div>
                    <div class="form-group">
                        <label for="mediaFile">Thumbnail Upload</label>
                        <input type="file" name="mediaFile" id="mediaFile" class="image-upload form-control-file" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="form-group">
                        <input type="radio" onchange="changeThumbnailUpload('<%=course.thumbnailFile.url%>', '<%=course.thumbnail.url%>')" name="showThumbnail" value="upload" id="showUploadedImage" <% if (course.thumbnailFile.display) { %>checked<% } %> class="upload"/>
                        <label for="showUploadedImage">Display Uploaded Image</label>
                        <br />
                        <input type="radio" onchange="changeThumbnailUrl('<%=course.thumbnail.url%>', '<%=course.thumbnailFile.url%>')" name="showThumbnail" value="url" id="showLinkImage" <% if (course.thumbnail.display) { %>checked<% } %> class="url"/>
                        <label for="showLinkImage">Display Image URL</label>
                    </div>

                    <img class="thumbnail-backup" id="thumbnail-backup" src="<% if (!course.thumbnailFile.display) { %> <%=course.thumbnailFile.url%> <%} else { %> <%= course.thumbnail.url %> <% } %>" alt="Image Does Not Exist"/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm Changes</button>
                    <br/>
                </form>
                <br/>

                <form id="update-tutors" action="/tutoringCenter/update-tutors/<%=course._id%>?_method=put" method="post">
                    <h4>Add Tutors</h4>
                    <div class="form-group mode" id="tutor-input-div">
                        <input type="text" class="form-control mode" id="tutor-list" placeholder="Tutors" oninput="searchTutors(this, '<%=course._id%>')"><br>
                        <select id="tutor-select" class="form-control mode" onchange="addTutor('user')" style="display: none;"></select><br>
                        <input type="text" id="tutor-input" name="tutorInput" hidden/>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm New Tutors</button>
                </form><br><br>

                <form id="update-students" action="/tutoringCenter/update-students/<%=course._id%>?_method=put" method="post">
                    <h4>Add Students</h4>
                    <div class="form-group mode" id="student-input-div">
                        <input type="text" class="form-control mode" id="student-list" placeholder="Students" oninput="searchStudents(this, '<%=course._id%>')"><br>
                        <select id="student-select" class="form-control mode" onchange="addStudent('user')" style="display: none;"></select><br>
                        <input type="text" id="student-input" name="studentInput" hidden/>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm New Students</button>
                </form><br><br>

                <form id="update-teacher" action="/tutoringCenter/updateTeacher/<%= course._id %>?_method=put" method="post">
                    <h4>Change Teacher</h4>
                    <div class="form-group">
                        <select class="form-control mode" name="teacher">
                            <% for (let teacher of teachers) { %>
                                <option value="<%= teacher._id %>"><%= teacher.firstName %> <%= teacher.lastName %>
                                    (<%= teacher.username %>)
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal"
                            data-target="#modal-change-teacher">Confirm New Teacher
                    </button>
                    <br/>

                    <div class="modal fade" id="modal-change-teacher" tabindex="-1" aria-labelledby="deleteModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog mode">
                            <div class="modal-content mode">
                                <div class="modal-header mode">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Teacher?</h5>
                                    <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mode">
                                    <p>
                                        You will be unable to rejoin this course as a teacher until the new teacher
                                        gives
                                        you permission.
                                    </p>
                                    <input type="text" name="joinCodeConfirm" class="form-control mode"
                                           placeholder="Enter Course Join Code To Confirm" id="join-code-confirm"/>
                                </div>
                                <div class="modal-footer mode">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                    <button type="submit" class="btn btn-primary">Yes, Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal"
                        data-target="#modal-delete">Delete Course
                </button>
                <br/>
                <form action="/tutoringCenter/<%= course._id %>?_method=delete" method="post">
                    <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="deleteModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content mode">
                                <div class="modal-header mode">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete "<%= course.name %>"?</h5>
                                    <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mode">
                                    <p>
                                        This action is irreversible. All data on tutors and students will be lost. Are
                                        you
                                        sure you want to delete this course?
                                    </p>
                                    <input type="password" name="joincode" class="form-control mode"
                                           placeholder="Enter Course Join Code To Confirm" id="join-code-confirm"/>
                                </div>
                                <div class="modal-footer mode">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <!-- <div class="row blocked" hidden>
            <div class="col-12" id="blocked-column">
                <% if (course.blocked.length > 0) { %>
                    <ul class="list-group" id="blocked-div">
                        <li class="list-group-item list-group-item-success mode darkmode-outline">Blocked</li>
                        <% for (let b of course.blocked) { %>
                            <li class="list-group-item shop" id="item-<%= b._id %>">
                                <a href="../profiles/<%= b._id %>" class="user-element-text shoptext">
                                    <img class="profile-image" src="<% if (b.mediaFile.display) {%> <%= b.mediaFile.url%><%} else {%> <%=b.imageUrl.url%><%}%>" alt="profile picture">
                                    <span class="username <%= b.status %> <%= b.permission %> <%= b.tags.join(' ') %>"><span
                                                class="enrolled-name"><%= b.firstName %> <%= b.lastName %></span> <span
                                                class="enrolled-username"><%= b.username %></span></span>
                                </a>
                                <button class="btn btn-danger leave-button" id="unblock-button-<%= b._id %>"
                                        data-toggle="modal"
                                        data-target="#modal-index-unblock-<%= b._id %>">Unblock
                                </button>
                            </li>

                            <div class="modal fade" id="modal-index-unblock-<%= b._id %>" tabindex="-1"
                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog mode">
                                    <div class="modal-content mode">
                                        <div class="modal-header mode">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Unblock <%= b.firstName %> <%= b.lastName %> From Your Course?</h5>
                                            <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mode">
                                            <p>
                                                <%= b.firstName %> will be able to rejoin the course with the join code.
                                            </p>
                                        </div>
                                        <div class="modal-footer mode">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                            </button>
                                            <button type="button" class="btn btn-danger"
                                                    id="<%= course._id %>-<%= b._id %>"
                                                    onclick="unblock(this)">Yes, Unblock
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </ul>
                    <br/>
                <% } else { %>
                    <div class="empty-field" id="no-blocked">
                        <br />
                        <h2>No Blocked</h2>
                    </div>
                <% } %>
            </div>
        </div> -->
    <% } %>
</div>
</body>
<script>
    for (let element of document.getElementsByClassName("shop")) {
        element.style.backgroundColor = colorScheme[1];
    }
</script>
</html>
