<!DOCTYPE html>
<html>
  <head>
      <title>Saberchat</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
      <link rel="stylesheet" href="/stylesheets/components/navbar.css">
      <link rel="stylesheet" href="/stylesheets/components/header.css">
      <link rel="stylesheet" href="/stylesheets/projects/index.css">
      <link rel="stylesheet" href="/stylesheets/announcements/index.css">
      <link rel="stylesheet" href="/stylesheets/home/index.css">
      <link rel="stylesheet" href="/stylesheets/chat/new.css">

      <link rel="stylesheet" href="/stylesheets/profiles/index.css">
      <link rel="stylesheet" href="/stylesheets/profiles/show.css">
      <link rel="stylesheet" href="/stylesheets/tutoringCenter/show.css">
      <link rel="stylesheet" href="/stylesheets/tutoringCenter/tutor-show.css">
      <%if (currentUser) {%>
        <%if (currentUser.darkmode) { %>
          <link rel="stylesheet" href="/stylesheets/tutoringCenter/tutoringCenter-dark.css">
          <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <%}%>
      <%}%>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      <!-- I'm using my fontawesome kit -->
      <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
      <script src="/javascript/tutoringCenter/settings.js"></script>
      <script src="/javascript/tutoringCenter/upvote.js"></script>
      <script src="/javascript/tutoringCenter/actions.js"></script>
      <script src="/javascript/tutoringCenter/rating.js"></script>
      <%- include('../partials/analytics') %>
  </head>
  <body class="mode">
      <!-- include the navbar via ejs -->
      <%- include('../partials/navbar') %>

      <!-- big background image -->
      <div id="banner" style="background-image: url('<% if (tutor.tutor.bannerFile.display) { %> <%= tutor.tutor.bannerFile.url %> <% } else { %> <%= tutor.tutor.bannerUrl.url %> <% } %>');"></div>
      <div class="container mb-5">
        <div class="tutor-info">
          <a href="../../profiles/<%=tutor.tutor._id%>"><img src="<% if (tutor.tutor.mediaFile.display) {%> <%= tutor.tutor.mediaFile.url%><%} else {%> <%=tutor.tutor.imageUrl.url%><%}%>" alt="profile image" class="profile-image"></a>
          <h1 class="username mode"><%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %></h1>
        </div>
            <div class="col-md-4 col-12 order-md-2 profile-box">
                <section class="profile-card">
                    <div class="profile-head">
                        <h1>Profile</h1>
                        <hr>
                    </div>
                    <div class="profile-body mode">

                      <span>
                        <% let averageRating = 0; %>
                        <% for (let review of tutor.reviews) { %>
                          <% averageRating += review.rating; %>
                        <% } %>
                        <% averageRating = Math.round(averageRating/tutor.reviews.length);%>

                        <% for (let i = 0; i < 5; i+=1) { %>
                          <i id="<%=i+1%>"
                          <% if (i+1 <= averageRating) { %>
                            class="fas fa-star average-rating-<%=tutor.tutor._id%> average-rating-selected"
                          <%} else { %>
                            class="fas fa-star average-rating-<%=tutor.tutor._id%> average-rating-unselected"
                          <%}%>
                          ></i>
                        <% } %>
                      </span>

                      <br />
                      <span id="upvote-<%=course._id%>-<%=tutor.tutor._id%>" onclick="upvote(this, 'show')">
                        <% if (tutor.upvotes.includes(currentUser._id)) { %>
                          <span class="upvoted" ><i class="fas fa-arrow-circle-up"></i>
                        <% } else { %>
                          <span class="not-upvoted"><i class="fas fa-arrow-circle-up"></i>
                        <% }%>
                        <span class="upvote-count" id="upvoteCount-<%=course._id%>-<%=tutor.tutor._id%>"> <%=tutor.upvotes.length%></span>
                        </span>
                        <br />
                      </span>
                  </span>

                <p id="tutor-bio"><%= tutor.bio %></p>

                      <h4 id="darkmode-header">Username</h4>
                      <p><%=tutor.tutor.username%></p>

                      <h4 id="darkmode-header">Experience</h4>
                      <% let lessons = 0; %>
                      <% let experience = 0; %>
                      <% for (let student of tutor.members) { %>
                        <% for (let lesson of student.lessons) { %>
                          <%experience += lesson.time;%>
                          <% lessons ++;%>
                        <% } %>
                      <%}%>

                      <p id="experience" ><%=experience%> minute(s)</p>

                      <h4 id="darkmode-header">Lessons</h4>
                      <p id="lessons-length"><%=lessons%></p>

                      <h4 id="darkmode-header">Hourly Cost</h4>
                      <p>$<%=(tutor.cost).toFixed(2)%></p>

                      <h4 id="darkmode-header">Status</h4>
                      <p><%= tutor.tutor.status.charAt(0).toUpperCase() + tutor.tutor.status.slice(1) %></p>

                      <h4 id="darkmode-header">Email</h4>
                      <p><%= tutor.tutor.email %></p>

                <% if (studentIds.includes(currentUser._id.toString())) { %>
                    <div id="tutor-actions-<%= tutor.tutor._id %>" class="tutor-actions">
                      <% if (objectArrIndex(tutor.members.concat(tutor.formerStudents), "student", currentUser._id, "_id") > -1) { %>
                            <button class="btn btn-warning action-button" id="review-button-<%= tutor.tutor._id %>"
                                    data-toggle="modal"
                                    data-target="#modal-review-<%= tutor.tutor._id %>">Leave A Review
                            </button>
                            <% if (objectArrIndex(tutor.members, "student", currentUser._id, "_id") > -1) { %>
                                <button class="btn btn-danger action-button" id="leave-button-<%= tutor.tutor._id %>"
                                        data-toggle="modal"
                                        data-target="#modal-stop-<%= tutor.tutor._id %>">Stop Lessons
                                </button>
                                <a id="chat-button-<%= tutor.tutor._id %>" class="btn btn-success action-button"
                                    href="/chat/<%=tutor.members[objectArrIndex(tutor.members, 'student', currentUser._id, '_id')].room._id %>" target="_blank">Chat
                                </a>
                            <% } else { %>
                                <% if (tutor.available) { %>
                                    <button class="btn btn-info action-button" id="book-button-<%= tutor.tutor._id %>"
                                            data-toggle="modal"
                                            data-target="#modal-book-<%= tutor.tutor._id %>">Book This Tutor
                                    </button>
                                <% } else { %>
                                    <span class="unavailable-tutor">Tutor Is Unavailable</span>
                                <% } %>
                            <% } %>

                        <% } else { %>
                            <% if (tutor.available) { %>
                                <button class="btn btn-info action-button" id="book-button-<%= tutor.tutor._id %>"
                                        data-toggle="modal"
                                        data-target="#modal-book-<%= tutor.tutor._id %>">Book This Tutor
                                </button>
                            <% } else { %>
                                <span class="unavailable-tutor">Tutor Is Unavailable</span>
                            <% } %>
                        <% } %>
                    </div>

                <% } else if (tutor.tutor._id.equals(currentUser._id)) { %>
                    <% if (tutor.available) { %>
                        <button class="btn btn-danger action-button" id="close-<%= course._id %>-<%= tutor.tutor._id %>"
                                data-toggle="modal" data-target="#modal-close-<%= tutor.tutor._id %>">Prevent Further
                            Bookings
                        </button>
                    <% } else { %>
                        <button class="btn btn-success action-button"
                                id="reopen-<%= course._id %>-<%= tutor.tutor._id %>" data-toggle="modal"
                                data-target="#modal-reopen-<%= tutor.tutor._id %>">Reopen Lessons
                        </button>
                    <% } %>
                    <button class="btn btn-info action-button" id="edit-<%= course._id %>-<%= tutor.tutor._id %>"
                            data-toggle="modal" data-target="#modal-edit-bio">Edit Bio
                    </button>

                <% } else if (course.creator.equals(currentUser._id)) { %>
                    <form action="/tutoringCenter/remove-tutor/<%= course._id %>?_method=put&tutorId=<%= tutor.tutor._id %>"
                          method="post">
                        <button type="button" class="btn btn-danger action-button" data-toggle="modal"
                                data-target="#modal-remove">Remove Tutor
                        </button>
                        <div class="modal fade" id="modal-remove" tabindex="-1" aria-labelledby="deleteModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content mode">
                                    <div class="modal-header mode">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">
                                            Remove <%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %> From Your
                                            Course?</h5>
                                        <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mode">
                                  <textarea rows="5" class="form-control mode" id="reason-<%= tutor.tutor._id %>"
                                            name="reason"
                                            placeholder="Please explain why you wish to remove <%= tutor.tutor.firstName %>."></textarea>
                                    </div>
                                    <div class="modal-footer mode">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                        </button>
                                        <button type="submit" class="btn btn-danger">Yes, Remove Tutor</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <% } %>

                      <div class="modal fade" id="modal-book-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog mode">
                          <div class="modal-content mode">
                            <div class="modal-header mode">
                              <h5 class="modal-title" id="exampleModalLabel">Book lessons with <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%>?</h5>
                              <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body mode">
                              You will be able to schedule meeting times and work with <%=tutor.tutor.firstName%> on your classwork.
                            </div>
                            <div class="modal-footer mode">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                </button>
                                <button type="button" class="btn btn-info" id="<%= course._id %>-<%= tutor.tutor._id %>"
                                        onclick="book(this, 'tutor-show',  <%=currentUser.darkmode%>)">Yes, Book Lessons
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                      <div class="modal fade" id="modal-review-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog mode">
                          <div class="modal-content mode">
                            <div class="modal-header mode">
                              <h5 class="modal-title" id="exampleModalLabel">Review <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%>?</h5>
                              <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body mode">

                                <% for (let i = 0; i < 5; i += 1) { %>
                                    <i class="fas fa-star star-<%= tutor.tutor._id %>"
                                       onclick="rate(this, '<%= tutor.tutor._id %>')" id="<%= i + 1 %>" name="star"
                                       value="<%= i + 1 %>"></i>
                                <% } %>
                                <span id="rating-label">Rate <%= tutor.tutor.firstName %> out of 5</span><br/>

                                <textarea rows="5" class="form-control mode review" id="review-<%= tutor.tutor._id %>"
                                          name="review"
                                          placeholder="Write a few sentences about your experience with <%= tutor.tutor.firstName %>"></textarea>
                            </div>
                            <div class="modal-footer mode">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                <button type="button" class="btn btn-primary"
                                        id="<%= course._id %>-<%= tutor.tutor._id %>"
                                        onclick="submitRating(this, 'tutor-show')">Submit Review
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                      <div class="modal fade" id="modal-stop-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog mode">
                          <div class="modal-content mode">
                            <div class="modal-header mode">
                              <h5 class="modal-title" id="exampleModalLabel">Stop lessons with <%=tutor.tutor.firstName%> <%=tutor.tutor.lastName%>?</h5>
                              <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body mode">
                              You may not be able to guarantee a slot with <%=tutor.tutor.firstName%> immediately.
                            </div>
                            <div class="modal-footer mode">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                </button>
                                <button type="button" class="btn btn-danger"
                                        id="<%= course._id %>-<%= tutor.tutor._id %>"
                                        onclick="leave(this, 'tutor-show', <%=currentUser.darkmode%>)">Yes, Stop Lessons
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-close-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog mode">
                        <div class="modal-content mode">
                            <div class="modal-header mode">
                                <h5 class="modal-title" id="exampleModalLabel">Close all new lesson bookings?</h5>
                                <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mode">
                                No new students will be able to sign up with you until you reopen availability.
                            </div>
                            <div class="modal-footer mode">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                                </button>
                                <button type="button" class="btn btn-danger" id="<%= course._id %>-<%= tutor.tutor._id %>" onclick="closeLessons(this, 'tutor-show')">Yes, Close Lessons</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-reopen-<%=tutor.tutor._id%>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog mode">
                        <div class="modal-content mode">
                            <div class="modal-header mode">
                                <h5 class="modal-title" id="exampleModalLabel">Reopen lesson bookings?</h5>
                                <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body mode">
                            New students will be able to sign up with you until you until you close availability.
                        </div>
                        <div class="modal-footer mode">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back
                            </button>
                            <button type="button" class="btn btn-success"
                                id="<%= course._id %>-<%= tutor.tutor._id %>"
                                onclick="reopenLessons(this, 'tutor-show')">Yes, Reopen Lessons
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-edit-bio" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog mode">
                    <div class="modal-content mode">
                        <div class="modal-header mode">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Bio?</h5>
                            <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mode">
                            <% for (let tutor of course.tutors) { %>
                                <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                                    <span id="bio-length-error" hidden>Make bio between 100-250 words</span>
                                    <textarea rows="5" minlength="50" maxlength="500" class="form-control mode" id="edit-bio-field" placeholder="Enter new bio"><%=tutor.bio%></textarea>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="modal-footer mode">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                            <button type="button" class="btn btn-primary" id="edit-bio-<%= course._id %>"
                                onclick="changeBio(this)">Submit Changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

            <ul class="nav justify-content-center options-bar" id="options-bar">
              <li class="nav-item tab-header active-tab tab" id="reviews" onclick="changeTab(this, <%=currentUser.darkmode%>)">
                <a class="nav-link active reviews-heading">Reviews (<span id="reviews-length-<%=tutor.tutor._id%>"><%=tutor.reviews.length%></span>)</a>
              </li>

              <% if (objectArrIndex(tutor.members, "student", currentUser._id, "_id") > -1 || tutor.tutor._id.equals(currentUser._id) || course.creator.equals(currentUser._id)) { %>
                <li class="nav-item tab-header tab" id="students" onclick="changeTab(this, <%=currentUser.darkmode%>)">
                  <a class="nav-link active">Students (<%=tutor.members.length + tutor.formerStudents.length%>)</a>
                </li>
              <% } %>

              <li class="nav-item tab-header tab" id="courses" onclick="changeTab(this, <%=currentUser.darkmode%>)">
                <a class="nav-link active">Other Courses (<%=courses.length%>)</a>
              </li>
            </ul><br />

            <div class="reviews">
              <% for (let review of tutor.reviews.reverse()) { %>
                <div class="col-md-8 col-12">
                    <section class="profile-desc shop">
                        <div class="desc-head">
                            <a href="../../profiles/<%=review.sender._id%>" class="user-element-text"><h3><img class="follower-image" src="<% if (review.sender.mediaFile.display) {%> <%= review.sender.mediaFile.url%><%} else {%> <%=review.sender.imageUrl.url%><%}%>"/><span class="review-sender"><%=review.sender.firstName%> <%=review.sender.lastName%></span></h3></a>
                            <% if (review.likes.includes(currentUser._id)) { %>
                              <i id="like-<%=review._id%>" class="fas fa-thumbs-up review-liked"

                            <% } else {%>
                              <i id="like-<%=review._id%>" class="fas fa-thumbs-up review-unliked"
                            <% } %>

                            <% if (objectArrIndex(tutor.members.concat(tutor.formerStudents), "student", currentUser._id, "_id") > -1) { %>
                              onclick="likeReview(this)"
                            <% } %>
                            ></i>

                            <span id="like-count-<%=review._id%>" class="like-count"><%=review.likes.length%></span>
                            <div title="Ratings" class="ratings">
                              <% for (let i = 0; i < 5; i+=1) { %>
                                  <i id="<%=i+1%>"
                                      <% if (i+1 <= review.rating) { %>
                                          class="fas fa-star average-rating-selected"
                                          <%} else { %>
                                              class="fas fa-star average-rating-unselected"
                                          <%}%>
                                          ></i>
                                      <% } %>
                              </div>
                        <div title="date" class="review-date">
                            <%= review.date %>
                        </div>
                        <hr />
                    </div>
                    <div class="desc-body">
                        <p><%= review.text %></p>
                    </div>
                </section>
            </div>
            <br />
            <% } %>
        </div>

        <% if (tutor.tutor._id.equals(currentUser._id) || objectArrIndex(tutor.members, "student", currentUser._id.toString(), "_id") > -1 || course.creator.equals(currentUser._id)) { %>
          <div class="students" hidden>
              <% if (students.length > 0) { %>
                <div class="list-group">
                  <li class="list-group-item list-group-item-success status-header darkmode-outline">
                    <div class="d-flex w-100 justify-content-between">
                      <h2 class="mb-1 darkmode-header">Students</h2>
                    </div>
                  </li>
                  <% for (let student of tutor.members) { %>
                      <div class="list-group-item list-group-item-action user-element shop">
                          <a href="/profiles/<%=student.student._id%>" class="student-profile user-element-text shop">
                              <img class="student-profile-image" src="<% if (student.student.mediaFile.display) {%> <%= student.student.mediaFile.url%><%} else {%> <%=student.student.imageUrl.url%><%}%>" alt="profile picture">
                              <span class="<%=student.student.permission%> <%=student.student.status%> <%=student.student.tags.join(' ')%> student-block"><span class="span-tag-name"><%=student.student.firstName%> <%=student.student.lastName%></span> <span class="span-tag-username"><%=student.student.username%></span></span>
                        </a>
                        <% if (tutor.tutor._id.equals(currentUser._id) || student.student._id.equals(currentUser._id) || course.creator.equals(currentUser._id)) { %>
                            <a class="btn btn-info lesson-button" href="/tutoringCenter/tutors/<%=course._id%>?tutorId=<%=tutor.tutor._id%>&studentId=<%=student.student._id%>">Lesson Information</a>
                        <% } %>

                        <% if (tutor.tutor._id.equals(currentUser._id)) { %>
                          <button type="button" data-toggle="modal" data-target="#modal-<%= student.student._id %>-mark"
                                  id="mark-<%= student.student._id %>" class="btn btn-success mark-button">Mark Lesson
                          </button>
                      <% } %>
                      <% if (tutor.tutor._id.equals(currentUser._id) || student.student._id.equals(currentUser._id) || course.creator._id.equals(currentUser._id)) { %>
                          <span class="lessons-length">
                              <span id="lessons-length-<%= student.student._id %>"><%= student.lessons.length%></span> lesson(s)</span>
                      <% } %>
                  </div>
                  <div class="modal fade" id="modal-<%= student.student._id %>-mark" tabindex="-1"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content mode">
                              <div class="modal-header mode">
                                  <h5 class="modal-title" id="exampleModalLabel">Mark Lesson
                                      For <%= student.student.firstName %> <%= student.student.lastName %>?</h5>
                                  <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body mode">
                                  <label for="time-<%= student.student._id %>">Lesson Time: <span
                                              id="time-label-<%= student.student._id %>">0</span> minutes</label><br/>
                                  <input type="range" min="0" max="60" value="0" class="slider time mode"
                                          id="time-<%= student.student._id %>" onchange="setTime(this)">
                                  <textarea minlength="20" maxlength="500" rows="5" class="form-control summary mode"
                                            id="summary-<%= student.student._id %>"
                                            placeholder="Lesson Summary"></textarea>
                              </div>
                              <div class="modal-footer mode">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                                  </button>
                                  <button type="button" id="mark-<%= course._id %>-<%= student.student._id %>"
                                          onclick="mark(this)" class="btn btn-success">Confirm
                                  </button>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                <% } %>
            <% } else { %>
                <h1 class="empty-field">No Students</h1>
            <% } %>
            <br/><br/>

          <% if (tutor.formerStudents.length > 0) { %>
              <div class="list-group">
                  <li class="list-group-item list-group-item-success status-header darkmode-outline">
                      <div class="d-flex w-100 justify-content-between">
                          <h2 class="mb-1 darkmode-header">Former Students</h2>
                      </div>
                  </li>
                  <% for (let student of tutor.formerStudents) { %>
                      <div class="list-group-item list-group-item-action user-element shop">
                          <a href="/profiles/<%= student.student._id %>" class="student-profile user-element-text shoptext">
                              <img class="student-profile-image" src="<% if (student.student.mediaFile.display) {%> <%= student.student.mediaFile.url%><%} else {%> <%=student.student.imageUrl.url%><%}%>" alt="profile picture">
                              <span class="<%= student.student.permission %> <%= student.student.status %> <%= student.student.tags.join(' ') %> student-block"><span
                                          class="span-tag-name"><%= student.student.firstName %> <%= student.student.lastName %></span> <span
                                          class="span-tag-username"><%= student.student.username %></span></span>
                          </a>
                          <% if (tutor.tutor._id.equals(currentUser._id) || course.creator._id.equals(currentUser._id)) { %>
                              <a class="btn btn-info lesson-button"
                                  href="/tutoringCenter/tutors/<%= course._id %>?tutorId=<%= tutor.tutor._id %>&studentId=<%= student.student._id %>">Lesson
                                  Information</a>
                          <% } %>

                          <% if (tutor.tutor._id.equals(currentUser._id) || student.student._id.equals(currentUser._id) || course.creator._id.equals(currentUser._id)) { %>
                              <span class="lessons-length">
                                <span id="lessons-length-<%= student.student._id %>"><%= student.lessons.length%></span> lesson(s) </span>
                              </span>
                          <% } %>
                      </div>
                  <% } %>
                </div>
            <% } %>
        </div>
      <% } %>

      <div class="courses" hidden>
          <% if (courses.length > 0) { %>
              <% for (let c of courses) { %>
                  <div class="row">
                      <div class="col-lg-12">
                          <article class="text-block" id="<%= c._id %>">
                              <div class="block-header grey">
                                  <h5>
                                      <a class="announcement-button">
                                          <span class="announcement-subject-header"><%= c.name %></span>
                                      </a>
                                      <span class="float-right project-info date">Tutors: <%= c.tutors.length %></span>
                                      <br/>
                                      <span class="float-right project-info date">Students: <%= c.members.length %></span>
                                  </h5>

                                  <div class="project-header">
                            <span>
                              <a class="project-info" href="/profiles/<%= c.creator._id %>">
                                <img src="<% if (c.creator.mediaFile.display) {%> <%=c.creator.mediaFile.url%> <%} else {%> <%=c.creator.imageUrl.url%> <%}%>" alt="profile pic" class="sender-profile-image">
                                <%= c.creator.firstName %> <%= c.creator.lastName %>
                              </a>

                                <% let included = false; %>
                                <% for (let tutor of c.tutors) { %>
                                    <% if (tutor.tutor.equals(currentUser._id)) { %>
                                        <% included = true; %>
                                    <% } %>

                                    <% if (c.members.includes(currentUser._id)) { %>
                                        <% included = true; %>
                                    <% } %>
                                <% } %>

                                <% if (!included) { %>
                                    <% if (!c.members.includes(currentUser._id) && currentUser.status != platform.teacherStatus) { %>
                                        <form action="/tutoringCenter/join" method="post" id="join-<%= c._id %>"
                                              class="join-course-student">
                                    <button type="button" data-toggle="modal" data-target="#modal-join"
                                            class="btn btn-primary"><i class="fas fa-<%=data.icon%>"></i> Join Course</button>
                                    <div class="modal fade" id="modal-join" tabindex="-1"
                                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content mode">
                                          <div class="modal-header mode">
                                            <h5 class="modal-title" id="exampleModalLabel">Join Course</h5>
                                            <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body mode">
                                            <input class="form-control mode" type="text" name="joincode" placeholder="Enter Join Code"/>
                                          </div>
                                          <div class="modal-footer mode">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Back</button>
                                            <button type="submit" class="btn btn-primary">Join</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                    <% } %>

                                    <% if (currentUser.tags.includes("Tutor") && currentUser.status != platform.teacherStatus) { %>
                                        <form action="/tutoringCenter/join" method="post" id="join-tutor-<%= c._id %>"
                                              class="join-course-tutor">
                                    <button type="button" data-toggle="modal" data-target="#modal-tutor-<%= c._id %>"
                                            class="btn btn-success"><i class="fas fa-<%=data.icon%>"></i> Join Course As Tutor</button>
                                    <div class="modal fade" id="modal-tutor-<%= c._id %>" tabindex="-1"
                                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                                      <div class="modal-dialog mode">
                                        <div class="modal-content mode">
                                          <div class="modal-header mode">
                                            <h5 class="modal-title" id="exampleModalLabel">Join Course As Tutor</h5>
                                            <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body mode">
                                            <input class="form-control mode" type="text" name="joincode"
                                                  placeholder="Enter Join Code"/><br/>
                                            <label for="slots-<%= c._id %>" id="slots-label-<%= c._id %>">Number of Student Slots: 0 </label><br/>
                                            <input type="range" min="0" max="5" value="0" class="slider"
                                                  id="slots-<%= c._id %>" name="slots"
                                                  onchange="setStudentsTutorShow(this)">
                                            <br><label for="cost" id="cost-label-<%=c._id%>">Hourly Cost: $10.00</label><br/>
                                            <input type="range" min="10" max="30" value="10" class="slider mode" id="cost-<%=c._id%>"
                                                    name="cost" onchange="setCostTutorShow(this)">
                                            <textarea rows="5" minlength="20" maxlength="500" class="form-control mode"
                                                      name="bio" placeholder="A Short Bio About Yourself"></textarea>
                                          </div>
                                          <div class="modal-footer mode">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Back</button>
                                            <button type="submit" class="btn btn-primary">Join</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                    <% } %>
                                <% } %>
                            </span>
                                  </div>
                              </div>

                              <div class="block-content mode">
                                  <img class="project-first-image" src="<%= c.thumbnail.url %>"/>
                                  <p class="announcement-text"><%= c.description %></p>
                              </div>

                          </article>
                      </div>
                  </div>
                  <br class="text-break" id="break-<%= c._id %>"/>
              <% } %>
          <% } else { %>
              <h1 class="empty-field">No Other Courses</h1>
          <% } %>
      </div>
    </div>
</body>
<script>
    document.getElementById("experience").innerText = getTime(document.getElementById("experience").innerText.split(' ')[0]);

    for (let element of document.getElementsByClassName("shop")) {
        element.style.backgroundColor = colorScheme[1];
    }
</script>
</html>
