<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/inbox/inbox.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>
    </head>
    <body>
    <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-12">
            <form action="/delete" method="post">
              <div class="heading">
                <h2 class="title"><%=username.charAt(0).toUpperCase() + username.slice(1)%>'s Inbox - <%=notifs.length%> New Notification(s)</h2>
                <button id="delete-button">Delete Selected Notifications</button>
              </div>
                <div class="search-filter">
                </div>
                <ul class = "new_messages" id="new_messages">
                  <%notifs.forEach(notif => { %>
                    <div class="notification">
                      <img class="profile-img" src="<%=notif.sender.imageUrl%>"/>
                        <% if (parseInt(notif.created_at.toString().slice(16, 19)) > 12) { %>
                          <input name=<%=notif['_id']%> type="checkbox" label = <span class="msg-info"><strong><%=notif.type%></strong> from <strong><%=notif.sender.username%></strong> <span style="font-size: 10px;"><%=parseInt(notif.created_at.toString().slice(16, 19)) - 12%>:<%=notif.created_at.toString().slice(19,21)%>PM | <%=notif.created_at.toString().slice(4,10)%></span></span>
                        <% } else if (parseInt(notif.created_at.toString().slice(16, 19)) == 0) { %>
                          <input name=<%=notif['_id']%> type="checkbox" label= <span class="msg-info"><strong><%=notif.type%></strong> from <strong><%=notif.sender.username%></strong> <span style="font-size: 10px;">12:<%=notif.created_at.toString().slice(19,21)%>AM | <%=notif.created_at.toString().slice(4,10)%></span></span>
                        <% } else {%>
                          <input name=<%=notif['_id']%> type="checkbox" label = <span class="msg-info"><strong><%=notif.type%></strong> from <strong><%=notif.sender.username%></strong> <span style="font-size: 10px;"><%=notif.created_at.toString().slice(16,21)%>AM | <%=notif.created_at.toString().slice(4,10)%></span></span>
                        <% } %>
                        <br />
                        <span class="message"><%=notif.text%></span>
                    </div>
                  <% }) %>
                </ul>
            </form>
        </div>
      </div>
  </body>
</html>
