<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/inbox/index.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <%if (currentUser) {%>
      <%if (currentUser.darkmode) { %>
        <link rel="stylesheet" href="/stylesheets/inbox/darkinbox.css">
      <%}%>
    <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <%if (currentUser && currentUser.darkmode) {%>
        <!-- <link rel="stylesheet" href="/stylesheets/inbox/darkinbox.css"> -->
    <%}%>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <%- include('../partials/analytics') %>

    </head>
    <body class="mode">
      <!-- include the navbar via ejs -->
      <%- include('../partials/components/navbar') %>
      <!-- include the backdrop for nav -->
      <%- include('../partials/components/header') %>
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="inbox-container shadow">
              <!-- navigation between tabs -->
              <nav class="inbox-nav">
                <div class="btn-group" role="group" aria-label="inbox navigation">
                  <% let msgCount = 0%>
                  <% for (let message of currentUser.inbox) { %>
                      <% if (message.new) { %>
                          <% msgCount ++;%>
                      <% } %>
                  <% } %>
                  <button
                    class="nav-tab active"
                    id="view-msg"
                    onclick="setMessages()"
                    disabled
                    >Messages <% if (msgCount > 0) { %>
                        <span class="badge badge-pill badge-danger"><%=msgCount%></span>
                    <%} %></button>

                  <button
                    class="nav-tab"
                    id="view-req"
                    onclick="setRequests()"
                    >Requests  <% if (activeRequests.length > 0) { %>
                        <span class="badge badge-pill badge-danger"><%=activeRequests.length%></span>
                    <%} %></button>
                </div>
                <button id="refresh-btn" onclick="window.location.reload();">Refresh</button>
              </nav>

              <form method="post" id="del-select-form" >

                <!-- actions -->
                <div class="action-bar inboxback">
                  <!-- message actions -->
                  <div class="message-actions display">
                    <a href="/inbox/messages/new" class="action-btn">Send New</a>
                    <a href="/inbox/sent" class="action-btn">View Sent</a>
                    <hr id="inbox-nav-break">
                    <button class="action-btn" formAction="/inbox/clear?_method=delete" id="del-all-btn">Clear All</button>
                    <button class="action-btn" formAction="/inbox/delete?_method=delete" id="del-sel-btn">Clear Selected</button>

                    <!-- <a href="/mark_all?_method=put" class="action-btn" id="mark-all-btn">Mark All As Read</a> -->
                    <button class="action-btn" formAction="/inbox/mark-all?_method=put" id="mark-all-btn">Mark All As Read</button>
                    <button class="action-btn" formAction="/inbox/mark-selected?_method=put" id="mark-sel-btn">Mark Selected As Read</button>

                  </div>
                  <!-- request actions -->
                  <div class="request-actions">
                    <span id="current-req" class="action-btn">Current</span>
                  </div>
                </div>

                <!-- main inbox list -->
                <div class="inbox-display inboxback">

                  <!-- messages -->
                  <div class="message-list display mode">

                    <ul class="list-group mode">

                      <% inbox.forEach((message) => { %>
                        <% let msg = message.message;%>
                        <% if(msg.read.includes(currentUser._id)) { %>
                          <li class="list-group-item list-group-item-action darkmode read">
                        <% } else { %>
                          <li class="list-group-item list-group-item-action darkmode unread">
                        <% } %>
                          <div class="message-check darkmode">
                            <input class="del-form-input" type="checkbox" name="<%= msg._id %>" value="" onchange="updateDelete()">
                          </div>

                          <a href="/inbox/<%= msg._id %>" class="message-body darkmode" >
                            <div class="message-head darkmode">
                              <% if (msg.read.includes(currentUser._id)) { %>
                                  <div class="message-from darkmode ">(<%=1+msg.replies.length%>) <%= msg.author.username %></div>
                              <% } else { %>
                                  <div class="message-from darkmode unread">(<%=1+msg.replies.length%>) <%= msg.author.username %></div>
                              <% } %>
                              <% if (msg.read.includes(currentUser._id)) { %>
                                <div class="message-subject read"><span><%= msg.subject %></span></div>
                              <% } else { %>
                                <div class="message-subject unread"><span><%= msg.subject %></span></div>
                              <% } %>
                            </div>

                            <div class="message-text darkmode">
                              <% if (msg.replies.length > 0) { %>
                                <%= msg.replies[msg.replies.length - 1].text%>
                              <% } else { %>
                                <%= msg.text %>
                              <% } %>
                            </div>
                          </a>

                          <div class="date-container mode">
                              <span class="message-date">
                                <% if (msg.replies.length > 0) { %>
                                  <%= msg.replies[msg.replies.length - 1].date.split(',')[0].split('|')[1] %>

                                <% } else { %>
                                  <%= msg.date.split(',')[0].split('|')[1] %>
                                <% } %>
                            </span>
                        </div>
                        </li>
                      <% }); %>
                    </ul>

                    </form>
                  </div>
              </form>

                <!-- requests -->
                <div class="request-list">
                  <div class="list-group current display" id="current-req-list">
                    <% requests.forEach((request) => { %>
                      <% if(request.status == 'pending') { %>
                      <li class="list-group-item list-group-item-action mode">
                        <a href="/inbox/requests/<%= request._id %>" class="request-body mode">
                          <div class="request-room mode">
                            <%= request.room.name %>
                          </div>
                          <div class="request-from mode">
                            <%= request.author.username %>
                          </div>
                        </a>
                      </li>
                      <% } %>
                    <% }); %>
                  </div>
                  <div class="list-group history mode" id="past-req-list">
                    <% requests.forEach((request) => { %>
                      <% if(request.status != 'pending') { %>
                      <li class="list-group-item list-group-item-action mode">
                        <a href="/inbox/requests/<%= request._id %>" class="request-body mode">
                          <div class="request-room mode">
                            <%= request.room.name %>
                          </div>
                          <div class="request-from mode">
                            <%= request.author.username %>
                          </div>
                          <div class="request-status mode">
                            <%= request.status %>
                          </div>
                        </a>
                      </li>
                      <% } %>
                    <% }); %>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<script src="/javascript/inbox/index.js"></script>
</body>
</html>
