<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/inbox/index.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="inbox-container">
              <!-- navigation between tabs -->
              <nav class="inbox-nav">
                <div class="btn-group" role="group" aria-label="inbox navigation">
                  <button
                    class="nav-tab active"
                    id="view-msg"
                    onclick="setMessages()"
                    disabled
                    >Messages</button>

                  <button
                    class="nav-tab"
                    id="view-req"
                    onclick="setRequests()"
                    >Requests</button>
                </div>
                <button id="refresh-btn" onclick="window.location.reload();">Refresh</button>
              </nav>

              <form method="post" id="del-select-form">

                <!-- actions -->
                <div class="action-bar" style="padding-bottom: 20px;">
                  <!-- message actions -->
                  <div class="message-actions display">
                    <a href="/inbox" class="action-btn">Inbox</a>
                    <a href="/notif" class="action-btn">Send New</a>
                    <a href="/sent" class="action-btn">View Sent</a>
                    <% if (viewing_sent == false)  { %>
                      <hr>
                      <a href="/clear" class="action-btn" id="del-all-btn">Clear All</a>
                      <button class="action-btn" formAction="/delete?_method=delete" id="del-sel-btn">Clear Selected</button>

                      <a href="/mark_all" class="action-btn" id="mark-all-btn">Mark All As Read</a>
                      <button class="action-btn" formAction="/mark_selected" id="mark-sel-btn" style="display: none;">Mark Selected As Read</button>
                    <% } %>

                  </div>
                  <!-- request actions -->
                  <div class="request-actions">
                    <button id="current-req" class="action-btn" onclick="seeCurrentReq()" disabled>Current</button>
                    <button id="past-req" class="action-btn" onclick="seePastReq()">History</button>
                  </div>
                </div>

                <!-- main inbox list -->
                <div class="inbox-display">

                  <!-- messages -->
                  <div class="message-list display">

                    <ul class="list-group">

                      <% inbox.forEach((notif) => { %>
                        <li class="list-group-item list-group-item-action">

                          <% if (notif.sender._id.toString() == currentUser._id.toString()) { %>

                            <a href="/message/<%= notif._id %>" class="message-body">
                              <div class="message-head">
                                <div class="message-from">
                                  <%= notif.subject %>
                                </div>
                                <div class="message-from">
                                  <%= notif.sender.username %>
                                </div>
                              </div>
                              <div class="message-text">
                                <%= notif.text %>
                              </div>
                            </a>

                          <% } else { %>
                            <div class="message-check">
                              <input class="del-form-input" type="checkbox" name="<%= notif._id %>" value="" onchange="updateDelete()">
                            </div>
                            <% if (notif.read[notif.recipients.indexOf(currentUser.username)] == true) { %>

                              <a href="/message/<%= notif._id %>" class="message-body">
                                <div class="message-head">
                                  <div class="message-from">
                                    <%= notif.subject %>
                                  </div>
                                  <div class="message-from">
                                    <%= notif.sender.username %>
                                  </div>
                                </div>
                                <div class="message-text">
                                  <%= notif.text %>
                                </div>
                              </a>

                            <% } else { %>

                              <a href="/message/<%= notif._id %>" class="message-body">
                                <div class="message-head">
                                  <div class="message-subject">
                                    <%= notif.subject %>
                                  </div>
                                  <div class="message-from">
                                    <%= notif.sender.username %>
                                  </div>
                                </div>
                                <div class="message-text">
                                  <%= notif.text %>
                                </div>
                              </a>
                            <% } %>
                          <% }%>


                          <span class="message-date">
                            <%=notif.date.split(',')[0]%>
                          </span>
                        </li>
                      <% }); %>
                    </ul>

                    </form>
                  </div>
              </form>

                <!-- requests -->
                <div class="request-list">
                  <div class="list-group current display" id="current-req-list">
                    <% requests.forEach((request) => { %>
                      <% if(request.status == 'pending') { %>
                      <li class="list-group-item list-group-item-action">
                        <a href="/inbox/requests/<%= request._id %>" class="request-body">
                          <div class="request-room">
                            <%= request.room.name %>
                          </div>
                          <div class="request-from">
                            <%= request.requester.username %>
                          </div>
                        </a>
                      </li>
                      <% } %>
                    <% }); %>
                  </div>
                  <div class="list-group history" id="past-req-list">
                    <% requests.forEach((request) => { %>
                      <% if(request.status != 'pending') { %>
                      <li class="list-group-item list-group-item-action">
                        <a href="/inbox/requests/<%= request._id %>" class="request-body">
                          <div class="request-room">
                            <%= request.room.name %>
                          </div>
                          <div class="request-from">
                            <%= request.requester.username %>
                          </div>
                          <div class="request-status">
                            <%= request.status %>
                          </div>
                        </a>
                      </li>
                      <% } %>
                    <% }); %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <script src="/javascript/inbox/index.js"></script>
  </body>
</html>
