<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/inbox/form.css">
    <link rel="stylesheet" href="/stylesheets/inbox/new.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 col-12">
            <div class="form-container">
              <h1>New Message</h1>
              <form action="/inbox/messages" method="post" onsubmit="process()" id="message-form">
                <div id="to-block">
                  <div class="form-group">
                    <label for="user-select" class="label-custom">Recipients</label>
                    <select id="user-select" class="form-control" onchange="addRecipient()" required>
                      <option value="" selected disabled>Select User</option>
                      <% users.forEach(user => { %>
                        <option value="<%= user._id %>"><%= user.username %> (<%= user.firstName.charAt(0) %>.<%= user.lastName.charAt(0) %>.)</option>
                      <% }) %> 
                    </select>
                    <div id="user-display">
                      <div class="user-tag">
                        <span>Username</span>
                        <button type="button" onclick="remRecipient(555)">&times;</button>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input onchange="updateTo(this)" type="checkbox" class="form-check-input" name="all" value="true" id="all">
                    <label class="form-check-label" for="all">Send to everyone</label>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input id="subject" placeholder="A short title..." class="form-control" type="text" name="subject" required>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" placeholder="Message text..." rows="5" class="form-control" required></textarea>
                </div>
    
                <div id="image-block">
                  <h4>Images</h4>
                  <button type="button" onclick="addImg()" class="btn btn-primary"><i class="fas fa-plus"></i> Image</button>
                  <hr>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send</button>
              </form>
            </div>
            <!-- <div class="inbox-container">
              <nav class="inbox-nav">
                <div class="btn-group" role="group" aria-label="inbox navigation">
                  <button
                    class="nav-tab active"
                    id="view-msg"
                    >Messages</button>
                </div>
              </nav>

                <div class="action-bar" style="padding-bottom: 20px;">
                  <div class="message-actions display">
                    <a href="/inbox" class="action-btn">Inbox</a>
                    <a href="/inbox/sent" class="action-btn">View Sent</a>
                  </div>
                </div>
                <div class='send-box'>
                  <% if (currentUser.status != 'faculty') { %>
                    <div class="send-notif-type" style="margin-top: 20px; margin-bottom: 50px; text-align: center; display: inline-block;">

                  <% } else { %>
                    <div class="send-notif-type" style="margin-top: 20px; margin-bottom: 50px; text-align: center; display: inline-block;">
                  <% } %>

                      <strong class="send-notif-header">Regular Notification</strong>
                      <form action="/inbox/send_group" method="post" style="margin-bottom: 25px;">

                        <div class="input-group mb-3" style="width: 100%;">
                          <select id="recipients" name="recipients" style="width: 100%;">
                            <option disabled selected value="none">Select User</option>
                            <%users.forEach(user => { %>
                              <% if (user.username != currentUser.username) { %>
                                <option><%=user.username%></option>
                                <% } %>
                              <% }) %>
                            <option>everyone</option>
                          </select>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <input class="form-control" autocomplete="off" name="recipient_list"id="recipient_list" type="text" aria-describedby="basic-addon2" placeholder="Recipients" style="color: blue; background-color: #fff;" required readonly/>
                          <div class="input-group-append">
                            <button id="clear" class="btn btn-outline-secondary" type="button" style="color: white; background-color: rgb(202, 0, 0);">Clear</button>
                          </div>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <input class="form-control" type="text" id="type" name="subject" style="width: 100%;" placeholder="Enter subject" required/>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <input class="form-control" type="text" id="images" name="images" style="width: 100%;" placeholder="Enter any image urls, separate by comma (optional)"/>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <textarea class="form-control" class="message" name="message" cols="40" rows="5" style="width: 100%" placeholder="Enter notification" required></textarea>
                        </div>
                        <button class="btn btn-primary" class='submit-button' action="submit" style="width: 100%;">Send Notification</button>
                      </form>
                    </div>

                  <% if (currentUser.status != 'faculty') { %>

                    <div class="send-notif-type" style="margin-top: 20px; margin-bottom: 50px; text-align: center; display: inline-block;">
                      <strong class="send-notif-header">Anonymous Hotline</strong>
                      <form action="/inbox/send_anonymous" method="post" style="margin-bottom: 25px;">

                        <div class="input-group mb-3" style="width: 100%;">
                          <select id="recipients_anonymous" name="recipient" style=" width: 100%;">
                            <option disabled selected value="none">Select User (Must Be Faculty) </option>
                            <%users.forEach(user => { %>
                              <% if (user.username != currentUser.username && (user.status == 'faculty')) { %>
                                <option><%=user.username%></option>
                              <% } %>
                            <% }) %>
                            <option>All Faculty</option>
                          </select>
                        </div>
                        <div class="input-group mb-3" style="width: 100%">
                          <input class="form-control" autocomplete="off" name="recipient_list_anonymous" id="recipient_list_anonymous" type="text" aria-describedby="basic-addon2" placeholder="Recipients" style="color: blue;" required/>
                          <div class="input-group-append">
                            <button id="clear_anonymous" class="btn btn-outline-secondary" type="button" style="color: white; background-color: rgb(202, 0, 0);">Clear</button>
                          </div>
                        </div>

                        <div class="input-group mb-3" style="width: 100%">
                          <input class="form-control" type="text" id="type" name="subject" style=" width: 100%;" placeholder="Enter subject" required/>
                        </div>

                        <div class="input-group mb-3" style="width: 100%">
                          <input class="form-control" type="text" id="images" name="images" style=" width: 100%;" placeholder="Enter any image urls, separate by comma (optional)"/>
                        </div>

                        <div class="input-group mb-3" style="width: 100%">
                          <textarea class="form-control" class="message" name="message" cols="40" rows="5" style="width: 100%;" placeholder="Enter notification" required></textarea>
                        </div>

                        <button style=" margin-bottom: 10px; width: 100%;" class="btn btn-primary" class='submit-button' action="submit">Send Notification</button>
                      </form>
                    </div>
                  <% } %> -->

        </div>
      </div> 
    </div>
    <script src="/javascript/inbox/form.js"></script>
    <script src="/javascript/inbox/new.js"></script>
  </body>
</html>
