<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/inbox/index.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/announcement.css">
    <link rel="stylesheet" href="/stylesheets/inbox/sendNotif.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>
    <%- include('../partials/announcement') %>

    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="inbox-container">
              <!-- navigation between tabs -->
              <nav class="inbox-nav">
                <div class="btn-group" role="group" aria-label="inbox navigation">
                  <button
                    class="nav-tab active"
                    id="view-msg"
                    >Messages</button>

                  <!-- <button
                    class="nav-tab"
                    id="view-req"
                    onclick="setRequests()"
                    >Requests</button> -->
                </div>
                <!-- <button id="refresh-btn" onclick="window.location.reload();">Refresh</button> -->
              </nav>

                <!-- actions -->
                <div class="action-bar" style="padding-bottom: 20px;">
                  <!-- message actions -->
                  <div class="message-actions display">
                    <a href="/inbox" class="action-btn">Inbox</a>
                    <!-- <a href="/notif" class="action-btn">Send New</a> -->
                    <a href="/inbox/sent" class="action-btn">View Sent</a>
                  </div>
                  <!-- request actions -->
                  <!-- <div class="request-actions">
                    <button id="current-req" class="action-btn" onclick="seeCurrentReq()" disabled>Current</button>
                    <button id="past-req" class="action-btn" onclick="seePastReq()">History</button>
                  </div> -->
                </div>
                <div class='send-box'>
                  <!-- Send notification to group -->
                  <% if (currentUser.status != 'faculty') { %>
                    <div class="send-notif-type" style="margin-top: 20px; margin-bottom: 50px; text-align: center; display: inline-block;">

                  <% } else { %>
                    <div class="send-notif-type" style="margin-top: 20px; margin-bottom: 50px; text-align: center; display: inline-block;">
                  <% } %>

                      <strong class="send-notif-header">Regular Notification</strong>
                      <form action="/inbox/send_group" method="post" style="margin-bottom: 25px;">

                        <div class="input-group mb-3" style="width: 100%;">
                          <select id="recipients" name="recipients" style="width: 100%;">
                            <option disabled selected value="none">Select User</option>
                            <%users.forEach(user => { %>
                              <% if (user.username != currentUser.username) { %>
                                <option><%=user.username%></option>
                                <% } %>
                              <% }) %>
                            <option>everyone</option>
                          </select>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <input class="form-control" autocomplete="off" name="recipient_list"id="recipient_list" type="text" aria-describedby="basic-addon2" placeholder="Recipients" style="color: blue; background-color: #fff;" required readonly/>
                          <div class="input-group-append">
                            <button id="clear" class="btn btn-outline-secondary" type="button" style="color: white; background-color: rgb(202, 0, 0);">Clear</button>
                          </div>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <input class="form-control" type="text" id="type" name="subject" style="width: 100%;" placeholder="Enter subject" required/>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <input class="form-control" type="text" id="images" name="images" style="width: 100%;" placeholder="Enter any image urls, separate by comma (optional)"/>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                          <textarea class="form-control" class="message" name="message" cols="40" rows="5" style="width: 100%" placeholder="Enter notification" required></textarea>
                        </div>
                        <button class="btn btn-primary" class='submit-button' action="submit" style="width: 100%;">Send Notification</button>
                      </form>
                    </div>

                  <% if (currentUser.status != 'faculty') { %>

                    <!-- Anonymous Hotline for students-->
                    <div class="send-notif-type" style="margin-top: 20px; margin-bottom: 50px; text-align: center; display: inline-block;">
                      <strong class="send-notif-header">Anonymous Hotline</strong>
                      <form action="/inbox/send_anonymous" method="post" style="margin-bottom: 25px;">

                        <div class="input-group mb-3" style="width: 100%;">
                          <select id="recipients_anonymous" name="recipient" style=" width: 100%;">
                            <option disabled selected value="none">Select User (Must Be Faculty) </option>
                            <%users.forEach(user => { %>
                              <% if (user.username != currentUser.username && (user.status == 'faculty')) { %>
                                <option><%=user.username%></option>
                              <% } %>
                            <% }) %>
                            <option>All Faculty</option>
                          </select>
                        </div>
                        <div class="input-group mb-3" style="width: 100%">
                          <input class="form-control" autocomplete="off" name="recipient_list_anonymous" id="recipient_list_anonymous" type="text" aria-describedby="basic-addon2" placeholder="Recipients" style="color: blue;" required/>
                          <div class="input-group-append">
                            <button id="clear_anonymous" class="btn btn-outline-secondary" type="button" style="color: white; background-color: rgb(202, 0, 0);">Clear</button>
                          </div>
                        </div>

                        <div class="input-group mb-3" style="width: 100%">
                          <input class="form-control" type="text" id="type" name="subject" style=" width: 100%;" placeholder="Enter subject" required/>
                        </div>

                        <div class="input-group mb-3" style="width: 100%">
                          <input class="form-control" type="text" id="images" name="images" style=" width: 100%;" placeholder="Enter any image urls, separate by comma (optional)"/>
                        </div>

                        <div class="input-group mb-3" style="width: 100%">
                          <textarea class="form-control" class="message" name="message" cols="40" rows="5" style="width: 100%;" placeholder="Enter notification" required></textarea>
                        </div>

                        <button style=" margin-bottom: 10px; width: 100%;" class="btn btn-primary" class='submit-button' action="submit">Send Notification</button>
                      </form>
                    </div>
                  <% } %>

                </div>
            </div>
        </div>
  </body>

  <script>

  $("#recipient_list").on('keydown paste', function(e){
      e.preventDefault();
  });

  $("#recipient_list_anonymous").on('keydown paste', function(e){
      e.preventDefault();
  });

  let recipients = document.getElementById('recipients')
  let recipient_list = document.getElementById('recipient_list')
  let clear = document.getElementById('clear')

  let recipients_anonymous = document.getElementById('recipients_anonymous')
  let recipient_list_anonymous = document.getElementById('recipient_list_anonymous')
  let clear_anonymous = document.getElementById('clear_anonymous')

  recipients.onchange = () => {
    let x = recipients.value;
    if (x != '') {
      if (recipient_list.value == '') {
        recipient_list.value += `${x}`
      } else {
        if ((!(recipient_list.value.split(', ').includes(x))) && (!(recipient_list.value.split(', ').includes('everyone'))) && (x != "everyone")) {
          recipient_list.value += `, ${x}`
        }
      }
    }
  }

  clear.addEventListener('click', () => {
    recipient_list.value = "";
    recipients.value = 'none';
  })

  recipients_anonymous.onchange = () => {
    let x = recipients_anonymous.value;

    if (x != '') {
      if (recipient_list_anonymous.value == '') {
        recipient_list_anonymous.value += `${x}`
      } else {
        if ((!(recipient_list_anonymous.value.split(', ').includes(x))) && (!(recipient_list_anonymous.value.split(', ').includes('All Faculty'))) && (x != "All Faculty")) {
          recipient_list_anonymous.value += `, ${x}`
        }
      }
    }
  }

  clear_anonymous.addEventListener('click', () => {
    recipient_list_anonymous.value = ""
    recipients_anonymous.value = ''
  })

  </script>

</html>
