<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/announcement.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>
    <%- include('../partials/announcement') %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-12">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <div class="jumbotron text-center">
                  <h1><i class="fas fa-inbox"></i> <%=currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1)%>'s Inbox</h1>
                  <p>Selected Notification</p>
                  <p><strong><a href="/inbox">Back to Inbox</a></strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5" style="display: flex; justify-content: center;">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center" style="width: 700px; padding: 50px;">
            <h2 style="color: red;"><%=notif.subject%></h2>

            <p style="font-size: 15px;"><%=notifDate.split(', ')[1]%> | <%=notifDate.split(', ')[0]%></p>

            <% if (notif.sender == null) { %>
              <strong>From</strong>: <span>Anonymous</span><br />

            <%} else if (currentUser.username != notif.sender.username) { %>
              <strong>From</strong>: <a style="color: inherit;" href="/profiles/<%=notif.sender._id%>"> <%=notif.sender.username%></a><br />
            <%} else {%>
              <strong>From</strong>: <a style="color: inherit;" href="/profiles/<%=currentUser._id%>">me</a><br />
            <%}%>

            <% if (notif.recipients[0] == 'everyone') { %>
              <strong>To:</strong><span> everyone</span>

            <% } else if (notif.sender != null && currentUser.username != notif.sender.username) { %>
              <strong>To:</strong>
              <% let tempRecipients = notif.recipients.slice(0, notif.recipients.length - 1) %>

              <% tempRecipients.forEach(recipient => { %>
                <% if (recipient == currentUser.username) { %>
                  <a style="color: black;" href="../profiles?username=<%=recipient%>">me, </a>
                <% } else {%>
                  <a style="color: black;" href="../profiles?username=<%=recipient%>"><%=recipient%>, </a>
                <% } %>
              <% }) %>


              <% if (notif.recipients[notif.recipients.length - 1] == currentUser.username) { %>
                <a style="color: black;" href="../profiles?username=<%=notif.recipients[notif.recipients.length - 1]%>">me</a>

              <% } else { %>
                <a style="color: black;" href="../profiles?username=<%=notif.recipients[notif.recipients.length - 1]%>"><%=notif.recipients[notif.recipients.length - 1]%></a>
              <% } %>



            <% } else { %>

              <strong>To:</strong>
              <% let tempRecipients = notif.recipients.slice(0, notif.recipients.length - 1) %>

              <% tempRecipients.forEach(recipient => { %>
                <% if (recipient == currentUser.username) { %>
                  <a style="color: black;" href="../profiles?username=<%=recipient%>">me, </a>

                <% } else {%>
                  <a style="color: black;" href="../profiles?username=<%=recipient%>"><%=recipient%>, </a>

                <% } %>
              <% }) %>


              <% if (notif.recipients[notif.recipients.length - 1] == currentUser.username) { %>
                <a style="color: black;" href="../profiles?username=<%=notif.recipients[notif.recipients.length - 1]%>">me</a>

              <% } else { %>
                <a style="color: black;" href="../profiles?username=<%=notif.recipients[notif.recipients.length - 1]%>"><%=notif.recipients[notif.recipients.length - 1]%></a>
              <% } %>

            <% } %>

            <p style="margin-top: 10px;"><%=notif.text%></p>
            <%notif.images.forEach(image => { %>
              <img style="width: 50%; height: 50%; object-fit: contain; margin-bottom: 20px;" src="<%=image%>"/>
            <%})%>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
