<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saberchat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="stylesheet" href="/stylesheets/inbox/index.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/inbox/show.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    <div class="container my-5">
        <div class="row">
          <div class="col-12">
            <article class="msg-container">
              <div class="msg-head">
                <h1><%= message.subject %></h1>
                <p>From:
                  <a href= "/profiles/<%=message.sender._id%>" class="user-link">
                    <span class="badge badge-pill badge-primary">
                      <% if(message.sender._id.equals(currentUser._id)) { %>
                        me
                      <% } else { %> 
                        <%= message.sender.username %>
                      <% } %>
                    </span>
                  </a>
                </p>
                <p>To:
                  <% if(message.toEveryone) { %>
                    Everyone
                  <% } else { %>
                    <% message.recipients.forEach(user => { %>
                      <a href="/profiles/<%= user._id %>" class="user-link">
                        <span class="badge badge-pill badge-secondary">
                          <% if(user._id.equals(currentUser._id)) { %>
                            me
                          <% } else { %>
                            <%= user.username %>
                          <% } %>
                        </span>
                      </a>
                    <% }); %>
                  <% } %>
                </p>
                <span><%=message.date%></span>
                <a href="/inbox" class="btn btn-primary back-btn"><i class="fas fa-arrow-left"></i> Back</a>
              </div>
              <div class="msg-body">
                <p><%= message.text %></p>
                <hr>
                <div class="msg-images">
                  <% message.images.forEach(image => { %>
                    <img src="<%= image %>" alt="Added Image" class="img-fluid rounded">
                  <% }) %>
                </div>
              </div>
            </article>
          </div>
        </div>
    </div>
</body>
</html>
