<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saberchat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="stylesheet" href="/stylesheets/inbox/index.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/inbox/show.css">
    <link rel="stylesheet" href="/stylesheets/inbox/form.css">
    <%if (currentUser) {%>
      <%if (currentUser.darkmode) { %>
        <link rel="stylesheet" href="/stylesheets/Darkmode.css">
      <%}%>
    <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
</head>
<body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    <div class="container my-5">
        <div class="row">
          <div class="col-12">
            <article class="msg-container">
                <div class="msg-head">
                    <h1><%= message.subject %></h1>
                    <p>From:
                        <a href="/profiles/<%= message.sender._id %>" class="user-link">
                    <span class="badge badge-pill badge-primary">
                        <% if(message.sender._id.equals(currentUser._id)) { %>
                            me
                        <% } else { %>
                            <%= message.sender.username %>
                        <% } %>
                    </span>
                        </a>
                    </p>
                    <p>To:
                        <% if(message.toEveryone) { %>
                            Everyone
                        <% } else { %>
                            <% message.recipients.forEach(user => { %>

                                <% if (!user._id.equals(message.sender._id)) { %>
                                    <a href="/profiles/<%= user._id %>" class="user-link">
                          <span class="badge badge-pill badge-secondary">
                              <% if(user._id.equals(currentUser._id)) { %>
                                  me
                              <% } else { %>
                                  <%= user.username %>
                              <% } %>
                          </span>
                                    </a>
                                <% } %>
                            <% }); %>
                        <% } %>
                    </p>
                    <span><%= message.date %></span>
                    <a href="/inbox" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>

                    <% if (!message.anonymous && !message.noReply) { %>
                        <a onclick="reply()" class="btn btn-success" href="#reply-box"><i class="fas fa-reply"></i>
                            Reply</a>
                    <% } %>

                </div>
                <div class="msg-body">
                    <p class="msg-text convertible-text"><%= convertedText %></p>
                    <hr>
                    <div class="msg-images">
                        <% message.images.forEach(image => { %>
                            <img src="<%= image %>" alt="Added Image" class="img-fluid rounded">
                        <% }) %>
                        <% for (let media of message.imageFiles) { %>
                            <% if (media.filename) { %>
                                <% if ([".png", ".jpg", ".jpeg", ".gif"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                                    <img src="<%= media.url %>" alt="Attached Image" class="img-fluid rounded">
                                <% } else if ([".mp3", ".m4a"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                                    <audio controls>
                                        <source src="<%=media.url%>" type="audio/mpeg"></source>
                                    </audio>
                                <% } else if (fileExtensions.get(media.url).toLowerCase() == ".mp4") {%>
                                    <video width="600px" height="375px" src="<%=media.url%>" type="video/*" controls></video>
                                <% } else if ([".mov", ".heic"].includes(fileExtensions.get(media.url).toLowerCase())) {%>
                                    <a href="<%=media.url%>" download><h5><i class="fas fa-paperclip"></i> Download "<%=media.originalName%>"</h5></a>
                                <% } else if (fileExtensions.get(media.url).toLowerCase() == ".pdf") {%>
                                    <a href="<%=media.url%>" target="_blank"><h5>Open "<%=media.originalName%>" In New Tab  </h5></a>
                                <% } %>
                                <br/><br/>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </article>

            <br/>

            <div id="reply-container">

                <% for (let reply of message.replies) { %>
                    <article class="msg-container replies">
                        <h4>
                            Reply From <a class="reply-sender darkmode-header"
                                          href="../../profiles/<%= reply.sender._id %>"><%= reply.sender.username %></a>
                        </h4>

                        <p>
                            <%= reply.date %>
                        </p>
                        <p>
                            <%= reply.text %>
                        </p>

                        <% for (let image of reply.images) { %>
                            <img src="<%= image %>" class="reply-image"/>
                            <br/>
                        <% } %>

                    </article>
                    <br/>
                <% } %>
            </div>
            <br/>

            <article class="msg-container" id="reply-box" hidden>
                <form id="message-form-<%= message._id %>" onsubmit="sendReply(this, event)">
                    <div class="form-group">
                        <label for="message" id="reply-header">Reply</label><br/>
                        <textarea name="message" id="message" placeholder="Message text..." rows="5"
                                  class="form-control mode"></textarea>
                    </div>

                    <div id="image-header">
                        <h4>Images</h4>
                        <button type="button" onclick="addImg()" class="btn btn-primary"><i class="fas fa-plus"></i>
                            Image
                        </button>
                        <hr>
                    </div>

                    <div id="image-block">
                    </div>
                    <button id="send-reply" type="submit" class="btn btn-primary btn-block">Send Reply</button>
                    <button type="button" class="btn btn-danger btn-block" onclick="cancelReply()">Cancel</button>
                </form>

            </article>

        </div>
    </div>
</div>
</body>
<script src="/javascript/inbox/form.js"></script>
<script src="/javascript/inbox/new.js"></script>
<script src="/javascript/inbox/reply.js"></script>
<script src="/javascript/embed.js"></script>
</html>
