<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/admin/permission.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">
    <link rel="stylesheet" href="/stylesheets/shop/manage.css">
    <link rel="stylesheet" href="/stylesheets/projects/index.css">

    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/typo.js"></script>
    <script src="/javascript/shop/search.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center header">
            <h1><i class="fas fa-<%=data.icon%>"></i> Manage <%=data.name%></h1><br />
            <form onsubmit="addTag(event)" id="cafe-info-div">
                <input class="form-control" id="new-tag-input" type="text" placeholder="Enter New Tag Name"><br>
                <% for (let tag of shop.itemTags) { %>
                    <div class="user-tag" id="<%= tag %>">
                    <span name="tags" value="<%=tag%>"><%=tag%></span>
                        <button type="button" id="<%= tag %>" onclick="remTag(this)">&times;</button>
                    </div>
                <% } %>
            </form><br />
            <form action="/shop?_method=put" method="post">
                <input name="name" type="text" class="form-control" value="<%=data.name%>" placeholder="Name"><br>
                <textarea name="description" class="form-control" placeholder="Description"><%=data.description%></textarea><br>
                <input hidden id="tag-input" name="tagInput" value="<%=shop.itemTags%>" type="text"> <br>
                <button type="submit" class="btn btn-primary btn-block">Confirm Changes</button><br>
            </form>
            <% if (platform.purchasable) { %>
                <button id="shop-status-button" onclick="changeShopStatus()"
                <% if (shop.open) { %> class="btn btn-danger" ><i class="fas fa-lock-open"></i> Close
                <% } else { %> class="btn btn-success"><i class="fas fa-lock"></i> Open
                <% } %></button>

                <a href="/shop/order?order=true" class="btn btn-info"><i class="fas fa-plus-circle"></i> New Order</a>
                <a href="/shop/manage?orders=true" class="btn btn-primary"><i class="fas fa-<%=data.icon%>"></i> Orders</a>
                <% } %>
                <a href="/shop/item" class="btn btn-warning"><i class="fas fa-plus-circle"></i> Add New Item</a>
                <a href="/shop/category" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add New Category</a>
                <!-- <a href="/shop/manage?data=true" class="btn btn-secondary"><i class="fas fa-chart-bar"></i> Purchase Analytics</a> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
          <div class="search-filter mb-3 search">
            <i class="fas fa-search search"></i>
            <input id="search-input" oninput="search()" class="form-control search" type="text" placeholder="Search..." title="Type in itemname" />
          </div>

          <% let temp;%>

            <% categories.forEach(category => { %>
                <% if (category.items.length > 0) { %>
                    <li class="list-group-item list-group-item-success category-header darkmode-outline" id="<%= category._id %>-header">
                        <div class="d-flex w-100 justify-content-between">
                            <h2 class="mb-1 darkmode-header"><%= category.name %></h2>
                            <span class="darkmode-header"><%= category.items.length %> item(s)</span>
                        </div>
                    </li>
                    <% category.items.forEach(item => { %>
                        <% if (item.availableItems > 0) { %>
                            <a href="/shop/item/<%= item._id %>" id="item-<%= item.id %>"
                               class="list-group-item list-group-item-action menu-item shop <%= category.name.replace(' ', '') %>"><span
                                        class="item-name"><%= item.name %></span> <%if(item.displayAvailability){%>(<%= item.availableItems %> in stock)<%}%> <span class="upvote"
                                                 title="Upvotes (Admins cannot upvote items from here)"></span><span
                                        id="upvoteCount-<%= item._id %>"
                                        class="upvote-count shoptext"> Upvotes: <%= item.upvotes.length %></span></a>
                        <% } else { %>
                            <a href="/shop/item/<%= item._id %>" id="item-<%= item.id %>"
                               class="list-group-item list-group-item-action menu-item shop <%= category.name.replace(' ', '') %>"><span
                                        class="item-name"><%= item.name %></span> <%if(item.displayAvailability){%>(Unavailable)<%}%> <span class="upvote"
                                                                                                      title="Upvotes (Admins cannot upvote items from here)"></span><span
                                        id="upvoteCount-<%= item._id %>"
                                        class="upvote-count shoptext"> Upvotes: <%= item.upvotes.length %></span></a>
                        <% } %>
                    <% }) %>
                    <br class="category-break" id="<%= category._id %>-break"/>
                <% } %>
            <% }) %>

            <% let upvoteCount = 0; %>
            <% if (categories.length > 0) { %>
                <br class="category-break" id="categories-break"/>
                <li class="list-group-item list-group-item-primary darkmode-outline category-header" id="categories-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="mb-1 darkmode-header">Item Categories</h2>
                        <span class="darkmode-header"><%= categories.length %> category(s)</span>
                    </div>
                </li>
                <% categories.forEach(category => { %>
                    <% upvoteCount = 0; %>
                    <% if (category.name != "Other") { %>
                        <% for (let item of category.items) { %>
                            <% upvoteCount += item.upvotes.length %>
                        <% } %>
                        <a href="/shop/category/<%= category._id %>" id="category-<%= category.id %>"
                        class="list-group-item list-group-item-action menu-item ItemCategories shop"><span
                                    class="item-name"><%= category.name %></span> (<%= category.items.length %> items) <span
                                    class="upvote"
                                    title="Sum of all upvotes for this category (Admins cannot upvote items from here)"></span><span
                                    id="upvoteCount-<%= category._id %>"
                                    class="upvote-count shoptext"> Upvotes: <%= upvoteCount %></span> </a>
                    <% } %>
                <% }) %>

                <!-- Ensures that 'other' will be last -->
                <% categories.forEach(category => { %>
                    <% upvoteCount = 0; %>
                    <% if (category.name == "Other") { %>
                        <% for (let item of category.items) { %>
                            <% upvoteCount += item.upvotes.length %>
                        <% } %>
                        <div class="list-group-item list-group-item-action menu-item ItemCategories shop"
                            id="category-<%= category.id %>"><span class="item-name"><%= category.name %></span>
                            (<%= category.items.length %> items) <span
                                    id="modify-banned">Cannot Modify </span> <span
                                    title="Sum of all upvotes for this category (Admins cannot upvote items from here)"
                                    class="upvote"></span><span id="upvoteCount-<%= category._id %>" class="upvote-count shoptext"> Upvotes: <%= upvoteCount %></span>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
            <br/>
        </div>
    </div>
</div>
</body>
<script>
    if (document.getElementById("search-input")) {
        document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
    }
</script>
<script src="/javascript/shop/actions.js"></script>
</html>
