<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/admin/permission.css">
    <link rel="stylesheet" href="/stylesheets/shop/menu.css">
    
    
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/postUtil.js"></script>
    <script src="/javascript/shop/upvote.js"></script>
    <script src="/javascript/shop/search.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-bars"></i> <%=data.name%></h1>
                <% for (let para of data.description.split('\n')) {%>
                    <p class="convertible-text"><%=para%></p>
                <% } %>
                <a class="btn btn-primary" href='/shop'><i class="fas fa-arrow-left"></i> Back to Main</a>
                <% if (platform.purchasable) { %><a class="btn btn-info" href='/shop/order?order=true'><i class="fas fa-plus-circle"></i> Order</a><% } %>
            </div>
            <div class="search-filter">
                <i class="fas fa-search search"></i>
                <input id="search-input" oninput="search()" class="form-control search" type="text"
                       placeholder="Search..." title="Type in Product">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <% categories.forEach(category => { %>

                    <li class="list-group-item list-group-item-success category-header shop"
                        id="<%= category._id %>-header">
                        <div class="d-flex w-100 justify-content-between">
                            <h2 class="mb-1"><%= category.name %></h2>
                            <span><%= category.items.length %> item(s)</span>
                        </div>
                    </li>

                    <% category.items.forEach(item => { %>
                        <% if (item.availableItems > 0) { %>
                            <% if (frequentItems.toString().includes(item._id.toString())) { %>
                                <span class="list-group-item list-group-item-info menu-item <%= category.name.split(' ').join('') %>  shop"
                                    id="item-<%= item.id %>">

                            <% } else { %>
                                <span class="list-group-item list-group-item-action menu-item <%= category.name.split(' ').join('') %>  shop"
                                    id="item-<%= item.id %>">
                            <% } %>

                                <span class="item-name"><%= item.name %> <% if (item.displayAvailability){%>(<%= item.availableItems %> in stock)<%}%></span> - <% if (platform.dollarPayment) {%>$<%=(item.price).toFixed(2)%><% } else {%><%=(item.price)%> Credits<%}%>
                                <% if (currentUser) { %>
                                    <div title="Upvotes" class="upvotes">
                                        <% if (item.upvotes.includes(currentUser._id)) { %>
                                            <span class="upvoted" id="upvote-<%= item._id %>" onclick="upvote(this)"><i
                                                        class="fas fa-arrow-circle-up"></i></span>

                                        <% } else { %>
                                            <span class="not-upvoted" id="upvote-<%= item._id %>" onclick="upvote(this)"><i
                                                        class="fas fa-arrow-circle-up"></i></span>
                                        <% } %>

                                        <span id="upvoteCount-<%= item._id %>"> <%= item.upvotes.length %></span>
                                    </div>
                                <% } %>

                                <% if (platform.purchasable && frequentItems.toString().includes(item._id.toString())) { %>
                                    <span class="popular">Frequently Ordered</span>
                                <% } %>

                                <% for (let tag of item.tags) { %>
                                    <li><em><strong><%=tag%></strong></em></li>
                                <% } %>

                                <% if (!platform.purchasable && item.price <= currentUser.balance) { %>
                                    <button class="btn btn-success popular" style="color: white;" data-toggle="modal" data-target="#modal-<%= item._id %>-request">Purchase Request</button>
                                <% } %>

                                <% if (!platform.purchasable && item.link != '') {%><br><strong>Order Here:</strong> <a target="_blank" href="<%=item.link%>"> <%=item.link%></a><% } %>
                                <br>
                                <% for (let i = 0; i < itemDescriptions[item._id.toString()].length; i++) {%>
                                    <% let para = itemDescriptions[item._id.toString()][i];%>
                                    <em class="item-description convertible-text"><%=para%></em>
                                    <% if ((i+1) < itemDescriptions[item._id.toString()].length) {%><br/><br/><%}%>
                                <% } %><br/>
                        <% if (item.mediaFile.display && fileExtensions.get(item.mediaFile.url) && [".png", ".jpg", ".jpeg", ".gif"].includes(fileExtensions.get(item.mediaFile.url).toLowerCase())) { %>
                            <% if (item.imageLink) {%>
                                <a href="<%=item.mediaFile.url%>" target="_blank">
                                    <img class="item-image" src="<%= item.mediaFile.url %>"/>
                                </a>
                            <% } else {%>
                                <div class="no-link-container">
                                    <img class="item-image" src="<%= item.mediaFile.url %>"/>
                                </div>
                            <% } %>
                        
                        <% } else { %>
                            <% if (item.imageLink) {%>
                                <a href="<%=item.imgUrl.url%>" target="_blank">
                                    <img class="item-image" src="<%= item.imgUrl.url %>"/>
                                </a>
                            <% } else if (item.imgUrl.url) { %>
                                <div class="no-link-container">
                                    <img class="item-image" src="<%= item.imgUrl.url %>"/>
                                </div>
                            <% } %>
                        <% } %>
                    </span>
                    <% } %>
                    <div class="modal fade" id="modal-<%=item._id%>-request" tabindex="-1"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                       <div class="modal-dialog">
                           <div class="modal-content mode">
                               <div class="modal-header mode">
                                   <h5 class="modal-title" id="exampleModalLabel">Purchase Request For <%=item.name%></h5>
                                   <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                   </button>
                               </div>
                               <div class="modal-body mode">
                                   <label for="request-name-<%=item._id%>">Your Name</label>
                                   <input id="request-name-<%=item._id%>" class="form-control mode" type="text" placeholder="Enter your name" name="name" <% if (currentUser) {%>value="<%=currentUser.firstName%> <%=currentUser.lastName%>"<%}%> required><br>
                                   <label for="request-email-<%=item._id%>">Your Email Address</label>
                                   <input id="request-email-<%=item._id%>" class="form-control mode" type="text" placeholder="Enter your email address" name="email" <%if (currentUser) { %>value="<%=currentUser.email%>"<%}%> required><br>
                                   <label for="request-address-<%=item._id%>">Your Mailing Address</label>
                                   <input id="request-address-<%=item._id%>" class="form-control mode" type="text" placeholder="Enter your mailing address" name="address" required><br>
                                   <label for="quantity--<%=item._id%>">Number Of Items</label>
                                   <select class="num-orders mode" id="quantity-<%= item._id %>" name="quantity" onchange="changeOrderConfirmation(), <%=currentUser.darkmode%>">
                                <% let val = 1 %>
                                <% if (item.availableItems > 3) { %>
                                    <% while (val <= 3) { %>
                                        <option><%= val %></option>
                                        <% val++; %>
                                    <% } %>
                                <% } else { %>
                                    <% while (val <= item.availableItems) { %>
                                        <option><%= val %></option>
                                        <% val++; %>
                                    <% } %>
                                <% } %>
                            </select>
                               </div>
                               <div class="modal-footer mode">
                                   <button type="button" class="btn btn-secondary"data-dismiss="modal">Back</button>
                                   <button onclick="request(this)" id="request-<%=item._id%>" class="btn btn-success">Submit</button>
                               </div>
                           </div>
                       </div>
                   </div>
                <% }) %>
            <br class="category-break" id="<%= category._id %>-break"/>
            <% }) %>
            <br/>
        </div>
    </div>
</div>
<script src="/javascript/embed.js"></script>
<script>
    if (document.getElementById("search-input")) {document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];}
    for (let element of document.getElementsByClassName("menu-item")) {element.style.backgroundColor = colorScheme[0];}
</script>
</body>
</html>
