<!DOCTYPE html>
<html>

<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/itemForm.js since item is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">
    <link rel="stylesheet" href="/stylesheets/shop/new.css">
    <link rel="stylesheet" href="/stylesheets/shop/menu.css">
    <% if (currentUser) { %>
        <% if (currentUser.darkmode) { %>
            <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <% } %>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/javascript/shop/shop-socket.js"></script>
    <script src="/javascript/shop/search.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <%- include('../partials/analytics') %>
</head>

<body class="mode" onclick="changeOrderConfirmation(<%=platform.dollarPayment%>)">
<!-- include the navbar via ejs -->
<%- include('../partials/navbar') %>
<%- include('../partials/header') %>

<div class="container mt-5" id="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center header">
                <h1><i class="fas fa-<%=data.icon%>"></i> New Order</h1>
                <p>Place an order that will be delivered to you</p>
                <a class="btn btn-primary" href='/shop'><i class="fas fa-arrow-left"></i> Back</a>
                <a class="btn btn-info" href='/shop/order?menu=true'><i class="fas fa-bars"></i> Shop</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
            <form id="orderForm" action="/shop" method="post">
                <div id="item-selection">

                    <div class="search-filter mb-3 search">
                        <i class="fas fa-search"></i>
                        <input id="search-input" oninput="search()" class="form-control search" type="text"
                               placeholder="Search..." title="Type in product"/>
                    </div>
                </div>

                <div id="item-list">

                    <% for (let category of categories) { %>

                        <li class="list-group-item list-group-item-success category-header shop"
                            id="<%= category._id %>-header">
                            <div class="d-flex w-100 justify-content-between shop">
                                <h2 class="mb-1"><%= category.name %></h2>
                                <span><%= category.items.length %> item(s)</span>
                            </div>
                        </li>

                        <% for (let item of category.items) { %>
                            <% if (frequentItems.toString().includes(item._id.toString())) { %>
                                <div class="list-group-item list-group-item-info form-check menu-item <%= category.name %> shop"
                                     id="item-<%= item.id %>" title="You have frequently ordered this item">

                            <% } else { %>
                                <div class="list-group-item form-check menu-item <%= category.name.replace(' ', '') %> shop"
                                 id="item-<%= item.id %>">
                            <% } %>

                                <!-- Div to put margins on text inside outer div -->
                                <div class="style-div">

                                    <input name="check[<%= item._id %>]" id="<%= item._id %>" class="form-check-input"
                                           type="checkbox" value="">
                                    <select class="num-orders mode" id="dd_<%= item._id %>" name="<%= item.name %>"
                                            onchange="changeOrderConfirmation(<%=platform.dollarPayment%>)">
                                        <% let val = 1 %>
                                        <% if (item.availableItems > 3) { %>
                                            <% while (val <= 3) { %>
                                                <option><%= val %></option>
                                                <% val++; %>
                                            <% } %>
                                        <% } else { %>
                                            <% while (val <= item.availableItems) { %>
                                                <option><%= val %></option>
                                                <% val++; %>
                                            <% } %>
                                        <% } %>
                                    </select>

                                    <label class="form-check-label" for="<%= item._id %>">
                                        <span class="item-name"><%= item.name %></span>
                                        <%if(item.displayAvailability){%>(<%= item.availableItems %> orders available)<%}%> -
                                        <%if (platform.dollarPayment) {%>$<%= (item.price).toFixed(2)%><%} else {%> Credits: <%=item.price%><% } %>

                                        <% if (frequentItems.toString().includes(item._id.toString())) { %>
                                            <span class="popular">Frequently Ordered</span>
                                        <% } %>
                                    </label>

                                    <div title="Upvotes" class="upvotes">

                                        <% if (item.upvotes.includes(currentUser._id)) { %>
                                            <span class="upvoted" id="upvote-<%= item._id %>" onclick="upvote(this)"><i
                                                        class="fas fa-arrow-circle-up"></i></span>

                                        <% } else { %>
                                            <span class="not-upvoted" id="upvote-<%= item._id %>" onclick="upvote(this)"><i
                                                        class="fas fa-arrow-circle-up"></i></span>
                                        <% } %>

                                        <span id="upvoteCount-<%= item._id %>"> <%= item.upvotes.length %></span>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        <% } %>

                        <% if (category.items.length > 0) { %>
                            <br class="category-break" id="<%= category._id %>-break"/>
                        <% } %>
                    <% } %>
                    </div>

                    <div class="form-group mt-3">
                        <% if (platform.dollarPayment) { %>
                            <input type="checkbox" name="payingInPerson" id="payingInPerson"
                                onchange="changeOrderConfirmation(<%=platform.dollarPayment%>)"/>
                            <label class="shoptext" for="payingInPerson"
                                title="Paying in person will not subtract money from your online balance">In-Person
                                Payment</label>
                            <br><br>
                        <% } %>
                        <textarea id="descInput" class="form-control shop" name="instructions"
                                  placeholder="Add special instructions for your order" maxlength="100" rows="5"
                                  oninput="changeOrderConfirmation(<%=platform.dollarPayment%>)"></textarea>
                        <br/>
                        <% if (!platform.dollarPayment) { %>
                            <textarea id="addressInput" class="form-control shop" name="address"
                            placeholder="Enter Your Mailing Address" required rows="3"></textarea>
                        <% } %>
                    </div>

                    <br/>
                    <li class="list-group-item list-group-item-primary shop">
                        <div class="d-flex w-100 justify-content-between">
                            <h2 class="mb-1">Order Summary</h2>
                        </div>
                    </li>

                    <div>
                        <div id="order-confirm" class="shop">
                            <span id="extra-instructions"
                                  class="list-group-item list-group-item-action form-check darkmode-outline"><span
                                        class="instructions">Extra Instructions:</span> None</span>
                                        
                            <span id="balance-box" class="list-group-item list-group-item-action form-check darkmode-outline">Current Balance: <%if (platform.dollarPayment){%>$<%= (currentUser.balance).toFixed(2)%><%} else {%><%=currentUser.balance%> Credits<%}%></span>
                            <span id="total-cost" class="list-group-item list-group-item-action form-check darkmode-outline">Total: <%if (platform.dollarPayment){%>$0.00<%} else {%>0 Credits<%}%></span>
                            <%if (platform.dollarPayment) {%> <span id="paying-style" class="list-group-item list-group-item-action form-check darkmode-outline">Paying Online</span><% } %>
                        </div>
                    </div>

                    <br/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Complete your Order</button><br>
                </div>
            </form>
            <br/>
        </div>
    </div>
</div>
</body>
<!-- Stylistic file. Changes your order summary based on what you are clicking -->
<script src="/javascript/postUtil.js"></script>
<script src="/javascript/shop/newOrder.js"></script>
<script src="/javascript/shop/upvote.js"></script>

<script>
    if (document.getElementById("search-input")) {
        document.getElementById("search-input").style.backgroundColor = colorScheme[colorScheme.length-1];
    }

    for (let element of document.getElementsByClassName("menu-item")) {
        element.style.backgroundColor = colorScheme[1];
    }
</script>
<script>
    order(orderForm, '<%= currentUser._id %>', "<%=platform.dollarPayment%>");
</script>
</html>
