<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
      <link rel="stylesheet" href="/stylesheets/components/header.css">
      <link rel="stylesheet" href="/stylesheets/components/navbar.css">
      <link rel="stylesheet" href="/stylesheets/chat/new.css">
      <link rel="stylesheet" href="/stylesheets/shop/new.css">
      <%if (currentUser) {%>
        <%if (currentUser.darkmode) { %>
          <link rel="stylesheet" href="/stylesheets/darkmode.css">
        <%}%>
      <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      <!-- I'm using my fontawesome kit -->
      <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
      <script src="/javascript/shop/image.js"></script>
    <%- include('../partials/analytics') %>
  </head>
  <body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12" id="heading">
            <h1><i class="fas fa-<%=data.icon%>"></i> New Item</h1>
            <a class="btn btn-primary" href="/shop/manage"><i class="fas fa-arrow-left"></i> Back</a><br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
          <form action="/shop/item" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <div class="row">
                <div class="col mode">
                  <label for="nameInput">Name</label>
                  <input id="nameInput" class="form-control mode" type="text" name="name" placeholder="Enter Item Name" maxlength="45" required>
                </div>
                <div class="col mode">
                  <label for="priceInput"><% if (platform.purchasable) {%>Price<% } else {%>Donation Requirement<% } %></label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text mode">$</div>
                    </div>
                    <input id="priceInput" class="form-control mode" type="text" name="price" placeholder="Enter <% if (platform.purchasable) {%>Price<% } else {%>Donation Requirement<% } %>" maxlength="10" required>
                  </div>
                </div>
                <div class="col">
                  <label for="available">Available</label>
                  <input id="available" class="form-control mode" type="text" name="available" placeholder="Enter Number Available" maxlength="45" required>
                </div>
              </div>

              <br />
              <div class="row">
                  <div class="col">
                      <div class="input-group mb-3 field">
                          <label id="category-input-label" for="categoryInput">Category</label>
                          <select id="categoryInput" name="category" class="field mode">
                              <option disabled selected required>Item Category</option>
                              <% categories.forEach(category => { %>
                                  <option><%= category.name %></option>
                              <% }) %>
                          </select>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col">
                    <label for="image-input">Image (URL)</label>
                    <div id="image-block">
                        <input id="image-input" oninput="createImage(this, 'item-image')" class="form-control mode" type="text"
                               name="image" placeholder="Enter URL for Item Image">
                        <br/>
                        <img id="item-image" src="" alt="Image Does Not Exist" hidden/>
                    </div>
                </div>
            </div>

            <% if (!platform.purchasable) { %>
              <div class="row">
                <div class="col">
                    <label for="url-input">URL To Access Item</label>
                    <input id="url-input" class="form-control mode" type="text" name="url" placeholder="Enter URL for Item Purchase Site">
                </div>
            </div><br>
          <% } %>

                    <div class="form-group">
                        <label for="mediaFile">Image (Upload)</label>
                        <input type="file" name="mediaFile" class="image-upload form-control-file mode" accept="image/png, image/jpg, image/jpeg">
                    </div>

                    <div class="form-group">
                        <input type="radio" name="showImage" value="upload" id="showUploadedImage" checked/>
                        <label for="showUploadedImage">Display Uploaded Image</label>
                        <br />
                        <input type="radio" name="showImage" value="url" id="showLinkImage"/>
                        <label for="showLinkImage">Display Image URL</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descInput">Description</label>
                    <textarea id="descInput" class="form-control mode" name="description"
                              placeholder="Enter a short description about the item" maxlength="300" rows="5"
                              required></textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
