<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/projects/data.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/chat/new.css">

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
    <script src="/javascript/projects/data.js"></script>
<%- include('../partials/headEnd') %>

<body class="mode">
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center">
                <h1><i class="fas fa-paint-brush"></i> Projects </h1>
                <p><%=platform.name%> Community Projects</p>
                <% if (currentUser) { %>
                    <% if (currentUser.status == platform.teacherStatus) { %>
                        <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <h3>Popular Projects</h3>
    <p>Projects which were the most popular in the community</p>
    <ul>
        <% for (let project of popularProjects) { %>
            <li><a href="../projects/<%= project._id %>"><%= project.subject %></a></li>
        <% } %>
    </ul>

    <br/>

    <h3>Popular Project Keywords</h3>
    <span>Keywords that generated the best responses from the community</span>
    <div id="container">
        <br/>
        <ul>
            <% for (let [keyword, occurences] of new Map(Array.from(projectKeywords)).entries()) { %>
                <li>"<span class="keyword"
                           id="word-<%= keyword %>"><%= keyword.charAt(0).toUpperCase() %><%= keyword.slice(1) %></span>":
                    <span class="occurence" id="occurences-<%= keyword %>"><%= occurences %></span> times
                </li>
            <% } %>
        </ul>
        <br/>
    </div>

    <h3>Popular Comment Keywords</h3>
    <span>Positive Comments</span>
    <div id="container">
        <br/>
        <ul>
            <% for (let [keyword, occurences] of new Map(Array.from(commentKeywords)).entries()) { %>
                <li>"<span class="keyword"
                           id="word-<%= keyword %>"><%= keyword.charAt(0).toUpperCase() %><%= keyword.slice(1) %></span>":
                    <span class="occurence" id="occurences-<%= keyword %>"><%= occurences %></span> times
                </li>
            <% } %>
        </ul>
        <br/>
    </div>
</div>
</body>
</html>
