<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/announcements/edit.css">
    <link rel="stylesheet" href="/stylesheets/announcements/form.css">
    <%if (currentUser) {%>
      <%if (currentUser.darkmode) { %>
        <link rel="stylesheet" href="/stylesheets/projects/dark.css">
      <%}%>
    <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

  </head>
  <body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center header">
            <h1><i class="fas fa-paint-brush"></i> Edit Project </h1>
            <p>Modify Projects You Posted Earlier</p>
            <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 col-12">
        <form action="/projects/<%= project._id %>?_method=put" method="post" id="submit-project-edits" enctype="multipart/form-data">

            <div class="form-group">
                <label for="new-project-message" id="title-label">Title</label>
                <input id="new-project-title" name="title" maxlength="50" type="text" class="form-control mode"
                       value="<%= project.title %>" placeholder="Enter Project Name" aria-label="Username"
                       aria-describedby="basic-addon1" required>
            </div>

            <div class="form-group" id="creator-input-div">
                <label for="creator-select" id="creator-input-label">Creators</label>
                <select id="creator-select" class="form-control mode" onchange="addCreator('user')">
                    <option class="creator-group" value="" selected disabled>Select Students</option>
                    <option class="creator-group" value="7th">7th Graders</option>
                    <option class="creator-group" value="8th">8th Graders</option>
                    <option class="creator-group" value="9th">9th Graders</option>
                    <option class="creator-group" value="10th">EC Sophomores</option>
                    <option class="creator-group" value="11th">EC Juniors</option>
                    <option class="creator-group" value="12th">EC Seniors</option>

                    <% ['7th', '8th', '9th', '10th', '11th', '12th'].forEach(status => { %>
                        <% students.forEach(student => { %>
                            <% if (student.status == status) { %>
                                <option class="<%= student.status %>" value="<%= student._id %>"><%= student.username %>
                                    (<%= student.firstName %> <%= student.lastName %>)
                                </option>
                            <% } %>
                        <% }) %>
                    <% }) %>

                </select>
                <input type="text" id="creator-input" name="creatorInput" hidden/>
                <br/>
                <% for (let creator of project.creators) { %>
                    <div class="user-tag <%= creator.status %>" id="<%= creator._id %>">
                    <span name="creators"
                          value="<%= creator._id %>"><%= creator.username %> (<%= creator.firstName %> <%= creator.lastName %>)</span>
                        <button type="button" id="<%= creator._id %>" onclick="remCreator(this)">&times;</button>
                    </div>
                <% } %>
            </div>

            <!-- <input id="creators" class="form-control" autocomplete="off" name="creators" type="text" aria-describedby="basic-addon2" value = "<%= creatornames.join(', ') %>" placeholder="Creators" required/> -->

            <div class="form-group">
                <label for="new-project-description" id="description-label">Description</label>
                <textarea id="new-project-description" minlength="50" rows="6" name="text"
                          placeholder="Write a little about the project" class="form-control mode" aria-label="With textarea"
                          required><%= project.text %></textarea>
            </div>

            <% for (let media of project.imageFiles) { %>
                <% if(media.filename) { %>
                    <% if ([".png", ".jpg", ".jpeg", ".gif"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                        <img src="<%= media.url %>" alt="attached image" class="img-fluid rounded past-upload">
                    <% } else if ([".mp3", ".m4a"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                        <audio controls>
                            <source src="<%=media.url%>" type="audio/mpeg"></source>
                        </audio>
                    <% } else if (fileExtensions.get(media.url).toLowerCase() == ".mp4") {%>
                        <video width="800px" height="500px" src="<%=media.url%>" type="video/*" controls></video>
                    <% } else if ([".mov", ".heic"].includes(fileExtensions.get(media.url).toLowerCase())) {%>
                        <a href="<%=media.url%>" download><h5><i class="fas fa-paperclip"></i> Download "<%=media.originalName%>"</h5></a>
                    <% } else if (fileExtensions.get(media.url).toLowerCase() == ".pdf") {%>
                        <a href="<%=media.url%>" target="_blank"><h5>Open "<%=media.originalName%>" In New Tab  </h5></a>
                    <% } %>
                    <div class="form-check">
                        <input type="checkbox" name="deleteUpload-<%=media.url%>" id="deleteUpload-<%=media.url%>" class="form-check-input"
                               value="true">
                        <label class="form-check-label" for="deleteUpload-<%=media.url%>">Remove uploaded media</label>
                    </div>
                    <br />
                <% } %>
            <% } %>

            <div id="media-header">
                <button type="button" onclick="upload()" class="btn btn-primary"><i class="fas fa-plus"></i> File Upload</button>
                <br/><br/>
              </div>
            <div id="uploads"></div>

            <div id="image-header">
                <button type="button" onclick="addImg()" class="btn btn-primary"><i class="fas fa-plus"></i> Image URL</button>
                <br/><br/>
            </div>

            <div id="image-block">
                <% let reversedImages = project.images.reverse() %>
                <% for (let i = 0; i < reversedImages.length; i += 1) { %>
                    <div class="image-group">
                        <div class="input-container" id="block-<%= reversedImages.length - (i + 1) %>">
                            <input type="text" id="<%= reversedImages.length - (i + 1) %>" class="form-control"
                                   oninput="createImg(this)" placeholder="Url..."
                                   name="images[<%= reversedImages.length - (i + 1) %>]" required
                                   value="<%= reversedImages[i] %>">
                            <img id="image-<%= reversedImages.length - (i + 1) %>"
                                 style="width: 50%; height: 50%; margin-top: 10px; border-radius: 15px;"
                                 src="<%= reversedImages[i] %>" alt="Image Does Not Exist"/>
                        </div>
                        <button type="button" onclick="deleteImg(this)" class="btn btn-danger">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                <% } %>
            </div>

            <br/><br/>

            <button class="btn btn-primary btn-block" type="submit">Submit Changes</button>
            <br/>
        </form>
    </div>
</div>
</body>

<script src="/javascript/upload-input.js"></script>
<script src="/javascript/projects/form.js"></script>
<script src="/javascript/projects/creators.js"></script>
</html>
