<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/projects/projects.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

  </head>
  <body style="text-align: center;">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1><i class="fas fa-paint-brush"></i> Edit Project </h1>
            <p>Modify Projects You Posted Earlier</p>
            <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
      </div>
    </div>

    <form action="/projects/<%=project._id%>?_method=put" method="post" style="text-align: center;">
      <div class="input-group mb-3">
        <input id="new-project-message" name="title" maxlength="30" type="text" class="form-control" value = "<%=project.title%>" placeholder="Enter Project Name" aria-label="Username" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div id="dropdown-button" class="input-group-prepend">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <% students.forEach(student => { %>
              <a class="dropdown-item"><%=student.username%></a>
            <% }) %>
          </div>
        </div>
        <input id="creators" class="form-control" autocomplete="off" name="creators" type="text" aria-describedby="basic-addon2" value = "<%=creatornames.join(', ')%>" placeholder="Creators" required/>
        <div class="input-group-append">
          <button id="clear" class="btn btn-outline-secondary" style="background-color: rgb(202, 0, 0); color: white;" type="button">Clear Field</button>
        </div>
      </div>

      <div class="input-group mb-3">
        <input id="new-project-images" type="text" name="img" class="form-control" value = "<%=project.imgUrl%>" placeholder="Enter Image Url" aria-label="Username" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group">
        <textarea id="new-project-text" maxlength="500" name="text" placeholder="Write a little about the project" class="form-control" aria-label="With textarea" required><%=project.text%></textarea>
      </div>
      <br />
      <button class="btn btn-primary" type="submit">Submit Changes</button>
    </form>
  </body>

  <script>

  $("#creators").on('keydown paste', function(e){
      e.preventDefault();
  });

  let creator_options = document.getElementsByClassName('dropdown-item')
  let creators_list = document.getElementById('creators')
  let clear = document.getElementById('clear')

  for (let option of creator_options) {
    option.addEventListener('click', () => {
      if (creators_list.value == '') {
        creators_list.value += `${option.innerText}`
      } else {
        creators_list.value += `, ${option.innerText}`
      }
    })
  }

  clear.addEventListener('click', () => {
    creators_list.value = ""
  })

  </script>
</html>
