<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/announcements/edit.css">
    <link rel="stylesheet" href="/stylesheets/announcements/form.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/projects/dark.css">
    <%}%>
<%- include('../partials/headEnd') %>

  <body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center header">
            <h1><i class="fas fa-paint-brush"></i> Edit Project </h1>
            <p>Modify Projects You Posted Earlier</p>
            <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 col-12">
        <form action="/projects/<%= project._id %>?_method=put" method="post" id="submit-post-edits" enctype="multipart/form-data">

            <div class="form-group">
                <label for="new-post-message" id="title-label">Title</label>
                <input id="new-post-title" name="title" maxlength="50" type="text" class="form-control mode"
                       value="<%= project.subject %>" placeholder="Enter Project Name" aria-label="Username"
                       aria-describedby="basic-addon1" required>
            </div>

            <div class="form-group" id="creator-input-div">
                <label for="creator-select" id="creator-input-label">Creators</label>
                <input type="text" class="form-control mode" id="creator-list" placeholder="Creators" oninput="searchCreators(this)"><br>
                <select id="creator-select" class="form-control mode" onchange="addCreator('user')" style="display: none;">
                    <option class="creator-group" value="" selected disabled>Select Creators</option>
                </select>
                <input type="text" id="creator-input" name="creatorInput" hidden/>
                <br/>
                <% for (let creator of project.creators) { %>
                    <div class="user-tag <%= creator.status %>" id="<%= creator._id %>">
                    <span name="creators"
                          value="<%= creator._id %>"><%= creator.username %> (<%= creator.firstName %> <%= creator.lastName %>)</span>
                        <button type="button" id="<%= creator._id %>" onclick="remCreator(this)">&times;</button>
                    </div>
                <% } %>
                <% for (let creator of project.nonaccountCreators) { %>
                    <div class="user-tag nonuser-tag" id="<%=creator.toLowerCase().split(' ').join('-')%>">
                        <span name="creators" value="<%=creator%>"><%= creator%></span>
                        <button type="button" id="<%=creator.toLowerCase().split(' ').join('-')%>" onclick="remCreator(this)">&times;</button>
                    </div>
                <% } %>
            </div>

            <div class="form-group">
                <label for="new-post-description" id="description-label">Description</label>
                <textarea id="new-post-description" rows="6" name="text"
                          placeholder="Write a little about the project" class="form-control mode" aria-label="With textarea"
                          ><%= project.text %></textarea>
            </div>

            <% for (let media of project.mediaFiles) { %>
                <% if(media.filename) { %>
                    <% if ([".png", ".jpg", ".jpeg", ".gif"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                        <img src="<%= media.url %>" alt="attached image" class="img-fluid rounded past-upload">
                    <% } else if ([".mp3", ".m4a"].includes(fileExtensions.get(media.url).toLowerCase())) { %>
                        <audio controls>
                            <source src="<%=media.url%>" type="audio/mpeg"></source>
                        </audio>
                    <% } else if (fileExtensions.get(media.url).toLowerCase() == ".mp4") {%>
                        <video width="800px" height="500px" src="<%=media.url%>" type="video/*" controls></video>
                    <% } else if ([".mov", ".heic"].includes(fileExtensions.get(media.url).toLowerCase())) {%>
                        <a href="<%=media.url%>" download><h5><i class="fas fa-paperclip"></i> Download "<%=media.originalName%>"</h5></a>
                    <% } else if (fileExtensions.get(media.url).toLowerCase() == ".pdf") {%>
                        <iframe src="<%=media.url%>" height="300" width="250"></iframe>
                        <a href="<%=media.url%>" target="_blank"><h5>Open "<%=media.originalName%>" In New Tab  </h5></a>
                    <% } %>
                    <div class="form-check">
                        <input type="checkbox" name="deleteUpload-<%=media.url%>" id="deleteUpload-<%=media.url%>" class="form-check-input"
                               value="true">
                        <label class="form-check-label" for="deleteUpload-<%=media.url%>">Remove uploaded media</label>
                    </div>
                    <br />
                <% } %>
            <% } %>

            <div id="media-header">
                <button type="button" onclick="upload(<%=project.mediaFiles.length%>)" class="btn btn-primary"><i class="fas fa-plus"></i> File Upload</button>
                <br/><br/>
              </div>
            <div id="uploads"></div>

            <div id="image-header">
                <button type="button" onclick="addImg()" class="btn btn-primary"><i class="fas fa-plus"></i> Image URL</button>
                <br/><br/>
            </div>

            <div id="image-block">
                <% for (let i = 0; i < project.images.length; i += 1) { %>
                    <div class="image-group">
                        <div class="input-container" id="imageblock-<%= i %>">
                            <input type="text" id="<%= i %>" class="form-control"
                                   oninput="createImg(this)" placeholder="Url..."
                                   name="images" required
                                   value="<%= project.images[i] %>">
                            <img id="image-<%= i %>"
                                 style="width: 50%; height: 50%; margin-top: 10px; border-radius: 15px;"
                                 src="<%= project.images[i] %>" alt="Image Does Not Exist"/>
                        </div>
                        <button type="button" onclick="deleteImg(this)" class="btn btn-danger">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                <% } %>
            </div>

            <br/><br/>

            <button class="btn btn-primary btn-block" type="submit">Submit Changes</button>
            <br/>
        </form>
    </div>
</div>
</body>

<script src="/javascript/postUtil.js"></script>
<script src="/javascript/upload-input.js"></script>
<script src="/javascript/image-url.js"></script>
<script src="/javascript/projects/creators.js"></script>
</html>
