<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/announcement.css">
    <link rel="stylesheet" href="/stylesheets/projects/projects.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>
    <%- include('../partials/announcement') %>

  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1><i class="fas fa-paint-brush"></i> Student Projects </h1>
            <p>Our Students' Artwork, Gardening Projects, Science Projects and More</p>
            <% if (currentUser.status == 'faculty') { %>
              <a href="projects/new">Add Project</a>
            <%}%>
          </div>
        </div>
      </div>
    </div>

    <div class="projects">
      <%projects.reverse().forEach(project => { %>
        <div class="container mt-5" id="project-container">
          <div class="row">
            <div class="col-12">
              <div class="jumbotron text-center">
                <div class="project-info">
                  <a href="projects/<%=project._id%>"><h2 class="project-title"><%=project.title%></h2></a>
                  <p><em>Posted by <a style="color: black;" href="profiles/<%=project.poster._id%>"><strong><%=project.poster.username%></a></strong></em> on <%=project.date%></p>
                  <% if (project.creators.length > 2) {%>
                    <p><strong>Creators:</strong> <em><a style="color: black" href="profiles/<%=project.creators[0]._id%>"><%=project.creators[0].username%></a> and <%=project.creators.length - 1%> others</em></p>

                  <%} else if (project.creators.length == 2){%>
                    <p><strong>Creators:</strong> <em><a style="color: black" href="profiles/<%=project.creators[0]._id%>"><%=project.creators[0].username%></a> and <a style="color: black" href="profiles/<%=project.creators[1]._id%>"><%=project.creators[1].username%></a></em></p>

                  <%} else {%>
                    <p><strong>Creator:</strong> <a style="color: black" href="profiles/<%=project.creators[0]._id%>"><em><%=project.creators[0].username%></em></a></p>
                  <%}%>
                  <img class="project-img" src="<%=project.imgUrl%>"/>
                  <br />
                  <% if (currentUser.username == project.poster.username) { %>
                    <button id="edit-button" type="button" class="btn btn-success"><a style="color: white;" href="projects/<%=project._id%>/edit">Edit Project</a></button>

                    <form action="projects/<%=project._id%>?_method=delete" method="post" style="display: inline-block;">
                      <button style="margin-top: 20px; color: white;" class="btn btn-danger" type="submit">Delete Project</button>
                    </form>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>
