<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/projects/edit.css">
    <link rel="stylesheet" href="/stylesheets/announcements/form.css">
    <%if (currentUser && currentUser.darkmode) {%>
        <link rel="stylesheet" href="/stylesheets/projects/dark.css">
    <%}%>

<%- include('../partials/headEnd') %>
  <body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/components/navbar') %>
    <%- include('../partials/components/header') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center header">
            <h1><i class="fas fa-paint-brush"></i> Add Project </h1>
            <p>Post a project that you are conducting for the <%=platform.name%> community to see</p>
            <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
    </div>
</div>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-12">
        <form action="/projects" method="post" id="submit-new-project" enctype="multipart/form-data">
          <div class="form-group mode">
            <label for="new-project-title" id="title-label">Title</label>
            <input id="new-project-title" type="text" class="form-control mode" name="title" placeholder="Project Title" maxlength="50" required>
          </div><br />

          <div class="form-group mode" id="creator-input-div">
            <label for="creator-select" id="creator-input-label">Creators</label>
            <select id="creator-select" class="form-control mode" onchange="addCreator('user')" required>
              <option class="creator-group" value="" selected disabled>Select Creators</option>
              <% for (let status of statuses) { %>
                <% if (platform.studentStatuses.includes(status[0])) { %>
                  <option class="creator-group" value="<%=status[0]%>"><%=status[1]%></option>
                <% } %>
              <% } %>
              
                    <% for (let status of platform.studentStatuses) { %>
                        <% for (let student of students) { %>
                            <% if (student.status == status) { %>
                                <option class="<%= student.status %>" value="<%= student._id %>"><%= student.username %>
                                    (<%= student.firstName %> <%= student.lastName %>)
                                </option>
                            <% } %>
                        <% } %>
                    <% } %>

                </select>
                <input type="text" id="creator-input" name="creatorInput" hidden/>
                <br/>
            </div>

          <div class="form-group mode">
            <label for="new-project-text" id="description-label">Description</label>
            <textarea id="new-project-text" minlength="50" name="text" rows="6" placeholder="Write a little about the project" class="form-control mode" aria-label="With textarea" required></textarea>
          </div>

          <div id="media-header">
            <button type="button" onclick="upload()" class="btn btn-primary"><i class="fas fa-plus"></i> File Upload</button>
            <br/><br>
          </div><br>
          <div id="uploads"></div>
          
          <div id="image-header">
            <button type="button" onclick="addImg()" class="btn btn-primary"><i class="fas fa-plus"></i> Image URL
            </button>
            <br/><br/>
          </div>
          <div id="image-block"></div>

          <button type="submit" class="btn btn-primary btn-block" type="submit">Post</button>
          <br/>
        </form>
    </div>
</div>
</body>

<script src="/javascript/image-url.js"></script>
<script src="/javascript/projects/creators.js"></script>
<script src="/javascript/upload-input.js"></script>
</html>
