<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->

    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>

  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1><i class="fas fa-paint-brush"></i> Student Projects </h1>
            <p>Our Students' Artwork, Gardening Projects, Science Projects and More</p>
            <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5" style="display: flex; justify-content: center;">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center" style="padding: 50px;">
            <h1><%=project.title%></h1>

            <% if (currentUser.username == project.poster.username) { %>
              <button id="edit-button" type="button" class="btn btn-success"><a style="color: white;" href="<%=project._id%>/edit">Edit Project</a></button>

              <form action="<%=project._id%>?_method=delete" method="post" style="display: inline-block;">
                <button class="btn btn-danger" type="submit" style="color: white;">Delete Project</button>
              </form>
            <% } %>
            <br /><br />

            <p><em>Posted by <strong><a style="color: black;" href="../profiles/<%=project.poster._id%>"><%=project.poster.username%></a></strong></em> on <%=project.date%></p>

            <% if (project.creators.length > 2) {%>
              <span><strong>Creators:</strong>

                <% let tempcreators = project.creators.slice(0, project.creators.length - 2)%>

                <%tempcreators.forEach(creator => { %>
                   <em><a style="color: black" href="../profiles/<%=creator._id%>"><%=creator.username%></a>,</em>
                <%})%>

                <em><a style="color: black" href="../profiles/<%=project.creators[project.creators.length - 2]._id%>"><%=project.creators[project.creators.length - 2].username%></a></em>
                and <em><a style="color: black" href="../profiles/<%=project.creators[project.creators.length - 1]._id%>"><%=project.creators[project.creators.length - 1].username%></a></em>

              </span>

            <%} else if (project.creators.length == 2){%>
              <p><strong>Creators:</strong> <a style="color: black" href="../profiles/<%=project.creators[0]._id%>"><em><%=project.creators[0].username%></a> and <a style="color: black" href="profiles/<%=project.creators[0]._id%>"><%=project.creators[1].username%></a></em></p>

            <%} else {%>
              <p><strong>Creator:</strong> <a style="color: black" href="../profiles/<%=project.creators[0]._id%>"><em><%=project.creators[0].username%></em></a></p>
            <%}%>

            <p style="margin-top: 10px; white-space: pre-wrap;"><%=project.text%></p>
            <img style="width: 100%; height: 100%; object-fit: contain;" src="<%=project.imgUrl%>"/>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
