<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/announcements/index.css">
    <link rel="stylesheet" href="/stylesheets/projects/index.css">
    <link rel="stylesheet" href="/stylesheets/projects/show.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/nav/navbar.js"></script>
    <script src="/javascript/home/index.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

</head>
<body>
<%- include('../partials/navbar') %>
<%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center">
                <h1><i class="fas fa-paint-brush"></i> Student Projects </h1>
                <p>Our Students' Artwork, Gardening Projects, Science Projects and More</p>
                <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <article class="ann-container">
                <div class="ann-head">
                    <h1><%= project.title %></h1>

                    <% if (currentUser) { %>
                        <a class="project-info" href="../profiles/<%= project.poster._id %>">
                            <img src="<%= project.poster.imageUrl %>" alt="profile pic" id="poster-profile">
                            <%= project.poster.firstName %> <%= project.poster.lastName %>
                        </a>
                        <br/><br/>

                    <% } else { %>
                        <span class="project-info">
                  <img src="<%= project.poster.imageUrl %>" alt="profile pic" id="poster-profile">
                  <%= project.poster.firstName %> <%= project.poster.lastName %>
                </span>
                    <% } %>

                    <span id="project-date"><%= project.date %></span>

                    <% if (currentUser) { %>
                        <% if (currentUser.username == project.poster.username) { %>
                            <div id="edit-div">
                                <button id="edit-button" type="button" class="btn btn-info"><a class="edit-button-text"
                                                                                               href="<%= project._id %>/edit"><i
                                                class="fas fa-cog"></i> Edit</a></button>

                                <form action="<%= project._id %>?_method=delete" method="post" id="delete-form">
                                    <button class="btn btn-danger edit-button-text" type="button" data-toggle="modal"
                                            data-target="#modal-<%= project._id %>"><i class="far fa-trash-alt"></i>
                                        Delete
                                    </button>
                                    <div class="modal fade" id="modal-<%= project._id %>" tabindex="-1"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete Post?</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <p aria-hidden="true">&times;</p>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    This action is irreversible. You will have to manually recreate this
                                                    post.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">No,
                                                        Go Back
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Yes, Delete Post
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br/>

                        <% } %>

                        <div id="like-div">
                            <% if (project.likes.includes(currentUser._id)) { %>
                                <span id="project-like-row"><i id="like-<%= project._id %>-show" onclick="like(this)"
                                                               class="fas fa-thumbs-up liked-project"></i></span> <span
                                        id="like-count"
                                        class="likeCount-<%= project._id %>"><%= project.likes.length %></span>

                            <% } else { %>
                                <span id="project-like-row"><i id="like-<%= project._id %>-show" onclick="like(this)"
                                                               class="fas fa-thumbs-up unliked-project"></i></span><span
                                        id="like-count"
                                        class="likeCount-<%= project._id %>"><%= project.likes.length %></span>

                            <% } %>
                            <a id="comments-count-icon" href="#comment-section"><i
                                        class="fas fa-comment-dots"></i> <%= project.comments.length %></a>
                        </div>

                    <% } %>

                    <% if (currentUser) { %>

                        <% if (project.creators.length > 2) { %>
                            <span><span id="creator-heading">Creators:</span>

                                <% let tempcreators = project.creators.slice(0, project.creators.length - 2) %>

                                <% tempcreators.forEach(creator => { %>
                                    <a class="creator-names" href="../profiles/<%= creator._id %>"><img
                                                src="<%= creator.imageUrl %>" alt="profile pic"
                                                class="creator-profile"> <%= creator.firstName %> <%= creator.lastName %></a>
                                    ,
                                <% }) %>

                                <a class="creator-names"
                                   href="../profiles/<%= project.creators[project.creators.length - 2]._id %>"><img
                                            src="<%= project.creators[project.creators.length - 2].imageUrl %>"
                                            alt="profile pic"
                                            class="creator-profile"> <%= project.creators[project.creators.length - 2].firstName %> <%= project.creators[project.creators.length - 2].lastName %></a>,
                  <a class="creator-names"
                     href="../profiles/<%= project.creators[project.creators.length - 1]._id %>"><img
                              src="<%= project.creators[project.creators.length - 1].imageUrl %>" alt="profile pic"
                              class="creator-profile"> <%= project.creators[project.creators.length - 1].firstName %> <%= project.creators[project.creators.length - 1].lastName %></a>

                </span>

                        <% } else if (project.creators.length == 2) { %>
                            <p><span id="creator-heading">Creators:</span> <span id="creator-div"><a
                                            class="creator-names"
                                            href="../profiles/<%= project.creators[0]._id %>"><img
                                                src="<%= project.creators[0].imageUrl %>" alt="profile pic"
                                                class="creator-profile"> <%= project.creators[0].firstName %> <%= project.creators[0].lastName %></a>, <a
                                            class="creator-names" href="../profiles/<%= project.creators[1]._id %>"><img
                                                src="<%= project.creators[1].imageUrl %>" class="creator-profile"
                                                alt="profile pic"/> <%= project.creators[1].firstName %> <%= project.creators[1].lastName %></a></span>
                            </p>

                        <% } else if (project.creators.length == 1){ %>
                            <p><span id="creator-heading">Creator:</span> <span id="creator-div"><a
                                            class="creator-names"
                                            href="../profiles/<%= project.creators[0]._id %>"><img
                                                src="<%= project.creators[0].imageUrl %>" alt="profile pic"
                                                class="creator-profile"> <%= project.creators[0].firstName %> <%= project.creators[0].lastName %></a></span>
                            </p>

                        <% } else { %>
                            <p><span id="creator-heading">Creators:</span> <span id="creator-div">None</span></p>
                        <% } %>

                    <% } else { %>

                        <% if (project.creators.length > 2) { %>
                            <span id="creator-heading">Creators:</span>

                            <% let tempcreators = project.creators.slice(0, project.creators.length - 2) %>

                            <span id="creator-div">
                                <% tempcreators.forEach(creator => { %>
                                    <img src="<%= creator.imageUrl %>" alt="profile pic"
                                         class="creator-profile"> <%= creator.firstName %> <%= creator.lastName %>,
                                <% }) %>

                                <img src="<%= project.creators[project.creators.length - 2].imageUrl %>"
                                     alt="profile pic"
                                     class="creator-profile"> <%= project.creators[project.creators.length - 2].firstName %> <%= project.creators[project.creators.length - 2].lastName %>,
                  <img src="<%= project.creators[project.creators.length - 1].imageUrl %>" alt="profile pic"
                       class="creator-profile"> <%= project.creators[project.creators.length - 1].firstName %> <%= project.creators[project.creators.length - 1].lastName %>

                  </span>

                        <% } else if (project.creators.length == 2){ %>
                            <p><span id="creator-heading">Creators:</span> <span id="creator-div"><img
                                            src="<%= project.creators[0].imageUrl %>" alt="profile pic"
                                            class="creator-profile"> <%= project.creators[0].firstName %> <%= project.creators[0].lastName %>, <img
                                            src="<%= project.creators[1].imageUrl %>" alt="profile pic"
                                            class="creator-profile"> <%= project.creators[1].firstName %> <%= project.creators[1].lastName %></span>
                            </p>

                        <% } else if (project.creators.length == 1){ %>
                            <p><span id="creator-heading">Creator:</span> <span id="creator-div"><img
                                            src="<%= project.creators[0].imageUrl %>" alt="profile pic"
                                            class="creator-profile"> <%= project.creators[0].firstName %> <%= project.creators[0].lastName %></span>
                            </p>

                        <% } else { %>
                            <p><span id="creator-heading">Creators:</span> <span id="creator-div">None</span></p>
                        <% } %>

                    <% } %>

                    <p class="project-description convertible-text"><%= convertedText %></p>

                    <% for (let img of project.images) { %>
                        <img class="project-image" src="<%= img %>"/>
                        <br/><br/>
                    <% } %>
            </article>

            <br/>

            <% if (currentUser) { %>
                <article class="ann-container" id="comment-section">
                    <h3 id="comments-heading">Comments (<%= project.comments.length %>)</h3>

                    <form id="form-<%= project._id %>" onsubmit="comment(this, event)">
                        <div class="input-group" id="comment-input-box">
                            <input type="text" aria-describedby="send-button"
                                   class="form-control rounded-0 border-0 py-4"
                                   autocomplete="off" placeholder="Comment on the project!" id="comment-input"/>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary"><i
                                            class="fa fa-paper-plane send-icon"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <br/>

                    <div id="all-comments">
                        <% for (let comment of project.comments.reverse()) { %>
                            <% if (comment.sender && comment.sender._id.equals(currentUser._id)) { %>
                                <!-- Reciever Message-->
                                <div class="media mb-2 comment-body">
                                    <img src="<%= comment.sender.imageUrl %>" alt="user" class="user-image">
                                    <div class="media-body ml-3">
                                        <div class="bg-primary rounded py-2 px-3 mb-2 w-75">
                                            <p class="text-small mb-0 text-white">

                                                <% for (let line of comment.text.split(" ")) { %>
                                                    <% if (line[0] == '@') { %>
                                                        <a class="edit-button-text"
                                                           href="../profiles/<%= line.split('#')[1].split('_')[0] %>"><%= line.split("#")[0] %></a>
                                                    <% } else { %>
                                                        <%= line %>
                                                    <% } %>
                                                <% } %>
                                            </p>
                                        </div>
                                        <p class="small text-muted msg-info"><span
                                                    class="username">Me</span>, <%= comment.date %></p>

                                        <% if (comment.likes.includes(currentUser._id)) { %>
                                            <span class="liked-comment" id="likeComment-<%= comment._id %>"
                                                  onclick="likeComment(this)"><i class="fas fa-thumbs-up"></i></span>
                                            <span
                                                    class="like-count-comment"
                                                    id="likeCountComment-<%= comment._id %>"><%= comment.likes.length %></span>

                                        <% } else { %>
                                            <span class="unliked-comment" id="likeComment-<%= comment._id %>"
                                                  onclick="likeComment(this)"><i class="fas fa-thumbs-up"></i></span>
                                            <span
                                                    class="like-comment-comment"
                                                    id="likeCountComment-<%= comment._id %>"><%= comment.likes.length %></span>
                                        <% } %>

                                    </div>
                                </div>
                            <% } else if(comment.sender) { %>
                                <!-- Sender message -->
                        <div class="media mb-2 comment-body">
                            <img src="<%= comment.sender.imageUrl %>" alt="user" class="user-image">
                            <div class="media-body ml-3">
                                <% if (comment.text.includes(`@${currentUser.username.split(' ').join('')}#${currentUser._id.toString()}`)) { %>
                                <div class="rounded py-2 px-3 mb-2 w-75 mentioned-comment">
                                    <% } else { %>
                                    <div class="bg-grey rounded py-2 px-3 mb-2 w-75">
                                        <% } %>

                                        <p class="text-small mb-0 text-dark">
                                            <% for (let line of comment.text.split(" ")) { %>
                                                <% if (line[0] == '@') { %>
                                                    <a href="../profiles/<%= line.split('#')[1].split('_')[0] %>"><%= line.split("#")[0] %></a>
                                                <% } else { %>
                                                    <%= line %>
                                                <% } %>
                                            <% } %>
                                        </p>
                                    </div>
                                    <p class="small text-muted msg-info"><span
                                                class="username"><%= comment.sender.username %></span>, <%= comment.date %>
                                        <a class="comment-date"
                                           id="comment-<%= comment.sender.username.split(' ').join('') %>#<%= comment.sender._id %>"
                                           href="#comment-section" onclick="reply(this)">Reply</a></p>

                                    <% if (comment.likes.includes(currentUser._id)) { %>
                                        <span class="liked-comment" id="likeComment-<%= comment._id %>"
                                              onclick="likeComment(this)"><i class="fas fa-thumbs-up"></i></span> <span
                                                class="like-count-comment"
                                                id="likeCountComment-<%= comment._id %>"><%= comment.likes.length %></span>

                                    <% } else { %>
                                        <span class="unliked-comment" id="likeComment-<%= comment._id %>"
                                              onclick="likeComment(this)"><i class="fas fa-thumbs-up"></i></span> <span
                                                class="like-comment-comment"
                                                id="likeCountComment-<%= comment._id %>"><%= comment.likes.length %></span>
                                    <% } %>

                                </div>
                            </div>
                            <% } %>
                            <% } %>
                        </div>

                </article>
            <% } %>

            <br/>
        </div>
    </div>
</div>
</div>
</div>
</body>
<script src="/javascript/projects/like.js"></script>
<script src="/javascript/projects/comment.js"></script>
<script src="/javascript/embed.js"></script>

</html>
