<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Saberchat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- link chat stylesheet -->
    <link rel="stylesheet" href="/stylesheets/chat.css">

    <!-- using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- script for socket io chat -->
    <script src="/javascript/socket.js"></script>
  </head>
  <body>
    <div class="container"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 chat">
          <!-- ul containing all the messages -->
          <ul id="messages">
            <!-- creates a li element for each comment-->
            <% comments.forEach(function(comment){ %>
              <li>
                <!--<i class="fas fa-user-circle avatar"></i> Replace with image -->

                <!-- Checks if the comment has author. This is to prevent errors since some old anonymous comments in the db were created before users and comments were linked and are missing authors. -->
                <% if (comment.author.username) { %>
                  <p><%= comment.author.username %>: <%= comment['text'] %></p>
                <% } else { %>
                  <p><%= comment['text'] %></p>
                <% } %>
              </li>
            <% }); %>
          </ul>
          <!-- ejs logic. If there is signed in user, reveal the chat input -->
          <% if(currentUser) { %>
            <form id="message-form">
              <input id="m" autocomplete="off" type="text"/>
              <button>Send</button>
            </form>
            <script>
              //set all the variables for the chatInit function
              const username = '<%= currentUser.username %>';
              const userId = '<%= currentUser._id %>';
              const messageForm = '#message-form';
              const input = '#m';
              const chatDisplay = '#messages';
              const room = "room3";

              // call the chatInit function from public/javascript/socket.js
              chatInit(username, userId, messageForm, input, chatDisplay, room);
            </script>
          <!-- displays message if user is not logged in -->
          <% } else { %>
            <div id="message-form"><h1>Login To Post!</h1></div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
