<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/other/index.css">

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
<%- include('../partials/headEnd') %>
<body class="mode">

<!-- include the navbar via ejs -->
<%- include('../partials/components/navbar') %>

<!-- Background image and text -->
<section id="background" style="background-image: url('<%=platform.imageUrl%>'); background-size: cover;">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 background-title">
                <h1><%=platform.contact.heading%></h1>
            </div>
        </div>
    </div>
</section>

<!-- Home Page content -->
<main id="main-container">
    <div class="container mt-5">
        <!-- Block -->
        <div class="row text-element">
            <div class="col-lg-6 block">
                <div class="container photo-div">
                    <% let sortedTeachers = []; %>
                    <% for (let user of teachers) { %>
                        <% if (user.permission == highestPermission) { %>
                            <% sortedTeachers.push(user); %>
                        <% } %>
                    <% } %>
                    <% for (let user of teachers) { %>
                        <% if (user.permission != highestPermission) { %>
                            <% sortedTeachers.push(user); %>
                        <% } %>
                    <% } %>
                    <% if (platform.contactPhotoDisplay && sortedTeachers.length > 0) { %>
                        <div class="row photo-row">
                            <div class="col col-photo"><img
                                        src="/images/<%= sortedTeachers[0].firstName %> <%= sortedTeachers[0].lastName %>.jpg"
                                        class="image row-end"
                                        alt="Photo of <%= sortedTeachers[0].firstName %> <%= sortedTeachers[0].lastName %>">
                            </div>
                            <% if (sortedTeachers.length > 1) { %>
                                <div class="col col-photo"><img
                                            src="/images/<%= sortedTeachers[1].firstName %> <%= sortedTeachers[1].lastName %>.jpg"
                                            class="image row-end"
                                            alt="Photo of <%= sortedTeachers[1].firstName %> <%= sortedTeachers[1].lastName %>">
                                </div>
                            <% } %>
                        </div>
                        <% counter = 0; %>
                        <% for (let i = 2; i < sortedTeachers.length; i += 3) { %>
                            <div class="row photo-row">
                                <div class="col col-photo"><img
                                            src="/images/<%= sortedTeachers[i].firstName %> <%= sortedTeachers[i].lastName %>.jpg"
                                            class="image <% if (i + 1 >= sortedTeachers.length) { %>end<% } %> <% if (i + 3 >= sortedTeachers.length) { %> row-end <% } %>"
                                            alt="Photo of <%= sortedTeachers[i].firstName %> <%= sortedTeachers[i].lastName %>">
                                </div>

                                <% if (i + 1 < sortedTeachers.length) { %>
                                    <div class="col col-photo"><img
                                                src="/images/<%= sortedTeachers[i + 1].firstName %> <%= sortedTeachers[i + 1].lastName %>.jpg"
                                                class="image <% if (i + 2 >= sortedTeachers.length) { %>end row-end<% } %>"
                                                alt="Photo of <%= sortedTeachers[i + 1].firstName %> <%= sortedTeachers[i + 1].lastName %>">
                                    </div>
                                <% } %>

                                <% if (i + 2 < sortedTeachers.length) { %>
                                    <div class="col col-photo"><img
                                                src="/images/<%= sortedTeachers[i + 2].firstName %> <%= sortedTeachers[i + 2].lastName %>.jpg"
                                                class="image <% if (i + 1 >= sortedTeachers.length) { %> row-end <% } %>"
                                                alt="Photo of <%= sortedTeachers[i + 2].firstName %> <%= sortedTeachers[i + 2].lastName %>">
                                    </div>
                                <% } %>
                            </div>
                        <div class="w-100"></div>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <% if (platform.contactPhotoDisplay && sortedTeachers.length > 0) { %>
                <div class="col-lg-6 faculty-info">
            <% } else { %>
                <div class="col-lg-12 faculty-info">
            <% } %>
                    <article class="text-block">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h1>Contact Information</h1>
                        </div>
                        <div class="block-content mode">
                            <% for (let para of platform.contact.description) { %>
                                <p class="convertible-text"><%=para%></p>
                            <% } %>
                            <% if (sortedTeachers.length > 0) { %>
                                <h5 style="padding-top: 10px;">Platform <%=platform.statusesPlural[platform.statusesPlural.length-1]%></h5><hr>
                                <% sortedTeachers.forEach(user => { %>
                                    <a href="/profiles/<%=user._id%>" target="_blank" class="developer-info" style="color: <% if (currentUser.darkmode) {%> white; <% } else {%> black; <% } %>"><%= user.firstName %> <%= user.lastName %> (<%=user.username%>)</a>
                                    <p><a href="mailto: <%= user.email %>"><%= user.email %></a></p>
                                <% }); %>
                            <% } %>
                        </div>
                    </article>
                </div>
        </div>
    </div>
</main>
<script src="/javascript/embed.js"></script>
<script>
    window.onload = (() => {
        window.onscroll = (() => {
            updateNav();
            animateDisplay();
        });
    });

</script>
</body>
</html>
