<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/other/index.css">
    <link rel="stylesheet" href="/stylesheets/tutoringCenter/index.css">
    <link rel="stylesheet" href="/stylesheets/announcements/form.css">
    
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
<%- include('../partials/headEnd) %>

<body class="mode">
<!-- insert navbar via ejs-->
<%- include('../partials/components/navbar') %>

<!-- Background image and text -->
<section id="background" style="background-image: url('<%=platform.imageUrl%>'); background-size: cover;">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 background-title">
                <h1>Help and Donate</h1>
                <p style="font-size: 130%;"><%=description%></p>
                <form action="https://www.paypal.com/donate" method="post" target="_blank">
                    <input type="hidden" name="business" value="HXF4ZVE3XCTSQ" />
                    <input type="hidden" name="item_name" value="Please help us in our education endeavor, stopping Asian hate through the power of knowledge!" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" style="width: 7.5%;"/>
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif"/>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Home Page content -->
<main id="main-container">
    <div class="container mt-5">
            <div class="row text-element">
                <div class="col-lg-12">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h1>Educate Yourself!</h1>
                        </div>
                        <div class="block-content mode">
                            <p>AAPA is committed to educating communities across the nation on Asian hate, and is constantly learning what all factors go into this. We have, are, and will be sharing resources with you, sharing information such as how to become a better ally, and so on. Please do take a look at some of the tips we have shared below right now, in order to build a safer and more informed world.</p>
                            <ol>
                                <li>It is important to learn about the history surrounding normalized racism, especially towards Asians, and recognize microaggressions that you or others around you may have used casually. <a target="_blank" href="https://sph.umn.edu/site/docs/hewg/microaggressions.pdf">Click here</a> for a list of common microaggressions initiated and accepted by today’s standards. Microaggressions can include generalizations of an individual’s identity used in a negative way that reflects race/ethnicity-based stereotypes.</li>
                                <li>Normalized racism includes a variety of microaggressions, but also outright racist remarks that have been, for some bizarre reason, normalized in American society. Referring to COVID-19, for example, through phrases such as “Kung Flu” or “Chinavirus” is NOT okay. Calling people in this community derogatory terms such as “Chink” is NOT okay. Pulling your eyes back in disrespectful imitation of their features is NOT okay. It is racism, and it is harmful towards their community. By maintaining these ideas and words in our head and vocabulary we are inhibiting progress that can be made. Instead, the problem will only worsen, causing a build-up of hate and even MORE severe actions to be justified. It only makes sense. When people are able to get away with little things, they will continue until those little things are not so little anymore.</li>
                                <li>This is not it. Learning is the start, but then with the knowledge, teach! We will be creating original resources and educational packets for common use with your kind donations. However, for the time being, all the information we have provided you with so far and the countless additional resources can be used for good! Feel free to talk to your friends and family about what is right and wrong in this context, and what they can do to better the situation. </li>
                                <li>Please do visit this article, discussing the <a target="_blank" href="https://www.washingtonpost.com/history/2021/03/18/history-anti-asian-violence-racism/">History of Anti-Asian Sentiment</a>. It is important to understand what has previously occurred in order to prevent future occurrences in the future.</li>
                                <li>The best way to help us and help the situation is to help yourself and others when you can. If you need more information on this, do visit our <a target="_blank" href="/articles/specific-info">Handling a Hate Crime</a> page, where information on how to deal as a victim and bystander is available. </li>
                            </ol>
                        </div>
                    </article>
                </div>
            </div>

            <div style="text-align: center;">
                <% for (let card of [["https://drive.google.com/file/d/1iPyFLrGZg7gbVvodGc6sAs7tcZnNeKNL/view", "uLbjrw1",  "Awareness"], ["https://drive.google.com/file/d/1BcxXtsPMO9blSqE2Y8AUeiHSnrNN4BAL/view?usp=sharing", "Bx817BT", "Education"]]) { %>
                    <div class="card course-title darkmode-outline" style="width: 375px;">
                        <a href="<%=card[0]%>" class="card-img-top course-thumbnail" target="_blank">
                            <img src="https://i.imgur.com/<%=card[1]%>.png" alt="Image Does Not Exist" style="height: 525px; width: 373px;">
                            <div class="card-body shop">
                                <strong>Click to view Printable <%=card[2]%> Flier</strong>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div><br>

            <div class="row text-element">
                <div class="col-lg-12">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h1>Donate And Support!</h1>
                        </div>
                        <div class="block-content mode">
                            <p>As stated before, we are looking towards creating educational packets with original and credible information to help <a target="_blank" href="https://www.instagram.com/explore/tags/stopasianhate/">#STOPASIANHATE</a>. This is unlike any others, with slideshows, videos, etc, being made available and tailored to specific communities. We are even looking towards creating a curriculum upon request, regarding what it considered to be ‘most important’ to others in relation to this context. Thus, we will greatly rely on donations and support from others in order to prosper in this endeavor! All of your donations will be used to help make this dream possible, whether it is allocated to marketing the production of physical copies and presentations, hiring those that can provide us with original/credible information, etc… We will also be using donations to help aid some of our special events that are to come in the future, such as conferences, seminars, and rallies. If you would like to specify where you want your donation to go towards within the organization’s efforts, do include that! Unfortunately, donations towards us are not tax deductible, but we are working toward getting to that point with your help!</p>
                            <ol>
                                <li><a target="_blank" href="https://www.paypal.com/donate?business=HXF4ZVE3XCTSQ&item_name=Please+help+us+in+our+education+endeavor%2C+stopping+Asian+hate+through+the+power+of+knowledge%21&currency_code=USD">Please donate to us through our PayPal</a>, a personal account run through one of our group leaders. Do note that this account is used PURELY for AAPA, and running through funds regarding the organization. We are keeping all our money separate to avoid complications and confusions!</li>
                                <li>There are multiple well established organizations that support the AAPI community in several ways, especially in light of recent events. We are not only looking for donations directed towards our organization, but also hope that you will donate to others as well! In fact, AAPA is trying our best to support other similar institutions as well, allocating our profits between our educational journey and other Anti-Asian hate organizations.</li>
                                <li>We are also running a <a target="_blank" href="https://www.gofundme.com/f/support-our-local-asian-communities">GoFundMe</a>, with 100% of the profits directed to AIWA (Asian Immigrant Women Advocates). More information on what they do and the impact made is on the fundraiser page!</li>
                                <li>Your donations will be rewarded with credits that you can use to purchase items from our shop, <a href="/shop"><%=platform.features[objectArrIndex(platform.features, "route", "shop")].name%></a></li>
                                <li>Lastly, we would like to remind you to support small Asian owned businesses and organizations near you, making a direct impact in your community!</li>
                            </ol>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row text-element">
                <div class="col-lg-12">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h1>Organizations to check out!</h1>
                        </div>
                        <div class="block-content mode">
                            <ol>
                                <li><a target="_blank" href="https://www.advancingjustice-aajc.org/">Asian Americans Advancing Justice</a>: Fighting for civil rights and empowering Asian Americans to create a more just America for all.</li>
                                <li><a target="_blank" href="https://stopaapihate.org/">Stop AAPI Hate</a>: Help track and respond to the surge of attacks towards the AAPI community.</li>
                                <li><a target="_blank" href="https://www.aiwa.org/">Asian Immigrant Women Advocates (SF Bay Area)</a>: Leadership development and collective action among Asian American women.</li>
                            </ol>
                        </div>
                    </article>
                </div>
            </div>

            <% if (platform.officialEmail != '') { %>
                <form action="/articles/advice" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control mode" name="subject" placeholder="Subject Heading For Your Idea or Question" required><br>
                        <textarea minlength="20" class="form-control mode" name="message" rows="5" placeholder="We are looking for donations in time as well! Any resources, advice, ideas, etc, would be greatly appreciate and valued." required></textarea><br>
                        <div id="media-header">
                            <button type="button" onclick="upload(0, 'image/png, image/jpg, application/pdf')" class="btn btn-primary"><i class="fas fa-plus"></i> File Upload</button>
                            <br/><br/>
                        </div>
                        <div id="uploads"></div>
                        <br><button type="submit" class="btn btn-primary btn-block">Submit</button><br>
                    </div>
                </form>
            <% } %>
        </div>
    </div>
</main>
<script src="/javascript/upload-input.js"></script>
<script>
    window.onload = (() => {
        window.onscroll = (() => {
            updateNav();
            animateDisplay();
        });
    });
</script>
</body>
</html>
